hyt-algorithm-card {
    position: relative;
    min-width: 250px;
    height: 320px;

    mat-card.mat-card {
        background-color: #0d416d;
        background-image: url('../../../../assets/images/projects/Card_Idle.png');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        position: absolute;
        left: 0; top: 0; right: 0; bottom: 0;
        border-radius: 6px;
        color: #ffffff;
        font-family: 'Exo';
        overflow: hidden;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
        transition: all 0.15s ease-in-out;

        &:hover {
            .box-card-front {
                top: 0px;
                background-image: url('../../../../assets/images/projects/Card_Round-Hover.png');
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: cover;
            }
        }

        .title-card-back {
            width: 100%;
            max-height: 108px;
            word-break: break-word;
            padding: 5px;
            position: inherit;
            bottom: 0px;
            left: 0px;
            font-size: 2em;
            font-weight: 400;
            line-height: 34px;
            overflow: hidden;

            background: rgba(30,88,165,1);
            background: -moz-linear-gradient(left, rgba(30,88,165,1) 66%, rgba(255,255,255,0) 100%);
            background: -webkit-gradient(left top, right top, color-stop(66%, rgba(30,88,165,1)), color-stop(100%, rgba(255,255,255,0)));
            background: -webkit-linear-gradient(left, rgba(30,88,165,1) 66%, rgba(255,255,255,0) 100%);
            background: -o-linear-gradient(left, rgba(30,88,165,1) 66%, rgba(255,255,255,0) 100%);
            background: -ms-linear-gradient(left, rgba(30,88,165,1) 66%, rgba(255,255,255,0) 100%);
            background: linear-gradient(to right, rgba(30,88,165,1) 66%, rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e58a5', endColorstr='#ffffff', GradientType=1 );

        }

        .box-card-front {
            position: inherit;
            width: 100%;
            top: 100%;
            left: 0px;
            padding: 5px;
            background-color: #ffffff;
            height: 100%;
            transition: all 0.15s ease-in-out;

            .header-card-front {
                
                height: 108px;
                font-size: 1.9em;
                line-height: 35px;
                word-break: break-word;
                overflow: hidden;
                color: #0956B6;
                // background: #ff000030;

            }

            .content-card-front {
                
                height: 205px;
                // background-color: #00800030;

                .card-description {
                    
                    height: 90px;
                    overflow: hidden;
                    word-break: break-word;
                    padding-top: 4px;
                    font-size: .9em;
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    top: 115px;
                    padding-left: 5px;
                    padding-right: 5px;  
                    color: #414141;
                    font-style: italic; 
                    // background: #ffff0050;  
                }

                .card-elements {
                    
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 60px;
                    padding-left: 5px;
                    padding-right: 5px;
                    // background: #00000050;

                    .single-element {
                        display: flex;
                        color: #0956B6;

                        &:not(:last-child) {
                            margin-bottom: 5px;
                        }
                    }
                }

            }

            .footer-card-front {
                // border: 1px solid red;
                width: 100%;
                bottom: 10px;
                position: absolute;
                left: 0px;
                text-align: center;
                padding-bottom: 3px;
                height: 47px;
                // background: #00ffff60;

                hyt-button {
                    // width: 80%;

                    &:hover {
                        button.mat-raised-button {
                            background-color: #0956B6;
                            color: #ffffff;
                        }
                    }

                    button.mat-raised-button {
                        font-family: 'Exo';
                        box-shadow: none;
                        text-transform: uppercase;
                        background-color: #ffffff;
                        color: #0956B6;
                        font-size: 1em;
                        width: 80%;
                        height: 100%;
                        min-height: 100%;
                        border: 1px solid #0956B6;
                        border-radius: 0px;
                        font-weight: bold;

                        span {

                            &.mat-button-wrapper {

                                vertical-align: sub;

                            }

                        }

                    }
                }

            }

        }

    }



    &.active {
        background-color: #ffffff;
        color: #0f78d1;
    }

    #card-front {

        .multiline-ellipsis {
            font-size: 80%;
            max-width: 100%;
            height: 60px;
            margin: 8px auto;
            display: block;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

}

.delete-algorithm-btn {
    width: 30px;
    height: 30px;
    background-color: #523dd6;
    text-align: center;
    position: absolute;
    top: -16px;
    right: -12px;
    color: #fff;
    border-radius: 50%;
    padding-top: 5px;
    cursor: pointer;
    display: none;
}

hyt-algorithm-card {
    &:hover {
        .delete-algorithm-btn {
            display: block;
            &:hover {
                background-color: #d40b0b;
            }
        }
    }
}

/**********************************
*
*        RESPONSIVE
*
**********************************/

@media (max-width: 1700px) {

    hyt-algorithm-card {
        min-width: 230px;
        height: 294px;

        mat-card.mat-card {

            .title-card-back {
                font-size: 1.4em;
                line-height: 26px;
                max-height: 86px;
            }

            .box-card-front {

                .header-card-front {
                    font-size: 1.2em;
                    line-height: 22px;
                    height: 90px;
                }

                .content-card-front {
                    height: 226px;
    
                    .card-description {
                        font-size: .89em;
                        bottom: unset;
                        height: 90px;
                        top: 100px;
                    }
    
                    .card-elements {
                        bottom: 54px;

                        .single-element {
                            font-size: .9em;

                            &:not(:last-child) {
                                margin-bottom: 2px;
                            }

                            mat-icon {
                                height: 22px;
                                width: 22px;

                                &.material-icons {
                                    font-size: 22px;
                                }
                            }
                        }
                    }
    
                }

                .footer-card-front {
                    height: 34px;

                    hyt-button {
                        height: 29px;

                        button.mat-raised-button {
                            font-size: 0.9em;
                            line-height: 17px;
                            min-height: 100%;
                        }
                    }
                }

            }

        }

    }
}

@media (max-width: 1560px) {

    hyt-algorithm-card {
        min-width: 200px;
        height: 256px;
        

        mat-card.mat-card {

            .title-card-back {
                font-size: 1.2em;
                line-height: 22px;
                max-height: 95px;
            }

            .box-card-front {

                .header-card-front {
                    font-size: 1.1em;
                    line-height: 20px;
                    height: 82px;
                }

                .content-card-front {
                    height: 188px;

                    .card-description {
                        font-size: 0.7em;
                        line-height: 18px;
                        height: 75px;
                        bottom: unset;
                        top: 88px;
                    }

                    .card-elements {
                        bottom: 50px;
                        
                        .single-element {
                            font-size: .85em;
                            
                            &:not(:last-child) {
                                margin-bottom: 1px;
                            }

                            mat-icon {
                                width: 20px;
                                height: 20px;

                                &.material.icons {
                                    font-size: 20px;
                                }
                            }

                        }

                    }

                }

                .footer-card-front {

                    bottom: 5px;

                    hyt-button {

                        button.mat-raised-button {
                            font-size: .9em;
                        }
                    }
                }

            }
        }
    }
}

@media (max-width: 1400px) {

    hyt-algorithm-card {
        min-width: 180px;
        height: 230px;
        

        mat-card.mat-card {

            .title-card-back {
                font-size: 1.1em;
                line-height: 22px;
                max-height: 95px;
            }

            .box-card-front {

                .header-card-front {
                    font-size: 1em;
                    line-height: 18px;
                    height: 76px;
                    padding-top: 2px;
                    bottom: unset;
                }

                .content-card-front {

                    .card-description {
                        font-size: 0.7em;
                        height: 64px;
                        line-height: 15px;
                        bottom: unset;
                        top: 82px;
                    }

                    .card-elements {
                        bottom: 40px;

                        .single-element {
                            font-size: .8em;

                           &:not(:last-child) {
                               margin-bottom: 2px;
                           }
                            
                            mat-icon {
                                width: 18px;
                                height: 18px;

                                &.material-icons {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }

                .footer-card-front {
                    height: 31px;

                    hyt-button {
                        height: 25px;

                        button.mat-raised-button {
                            font-size: 0.8em;
                            line-height: 23px;
                        }
                    }
                }

            }

        }
    }
}

@media (max-width: 1240px) {

    hyt-algorithm-card {
        min-width: 170px;
        height: 218px;
        

        mat-card.mat-card {

            .title-card-back {
                font-size: 1em;
                line-height: 18px;
                max-height: 97px;
            }

            .box-card-front {

                .header-card-front {
                    font-size: 1em;
                    line-height: 17px;
                    height: 72px;
                    bottom: unset;
                }

                .content-card-front {

                    .card-description {
                        font-size: 0.7em;
                        line-height: 14px;
                        height: 60px;
                        top: 78px;
                    }

                    .card-elements {

                        bottom: 38px;

                        .single-element {

                            &:not(:last-child) {
                                margin-bottom: 0px;
                            }

                        }

                    }

                }

                .footer-card-front {

                    hyt-button {

                        button {

                            &.mat-raised-button {

                                span {

                                    &.mat-button-wrapper {
                                        vertical-align: unset;
                                    }

                                }

                            }

                        }

                    }

                }

            }

        }
    }
}

@media (max-width: 1200px) { /* BOOTSTRAP BREACKPOINT */
    hyt-algorithm-card {
        min-width: 215px;
        height: 275px;
        

        mat-card.mat-card {

            .title-card-back {
                font-size: 1.4em;
                line-height: 25px;
                max-height: 107px;
            }

            .box-card-front {
                
                .header-card-front {
                    font-size: 1.1em;
                    line-height: 22px;
                    height: 92px;
                }

                .content-card-front {

                    .card-description {
                        bottom: unset;
                        height: 80px;
                        font-size: 0.9em;
                        line-height: 19px;
                        top: 99px;
                    }

                    .card-elements {
                        bottom: 45px;

                        .single-element {
                            font-size: .9em;

                            &:not(:last-child) {
                                margin-bottom: 2px;
                            }

                            mat-icon {
                                width: 22px;
                                height: 22px;

                                &.material-icons {
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }

                .footer-card-front {
                    height: 35px;

                    hyt-button {
                        height: 30px;

                        button.mat-raised-button {
                            font-size: 0.9em;
                            line-height: 32px;
                        }
                    }

                }

            }
        }
    }
}

@media (max-width: 991px) { /* BOOTSTRAP BREACKPOINT */

}

@media (max-width: 767px) { /* BOOTSTRAP BREACKPOINT */
    hyt-algorithm-card {
        min-width: 225px;
        height: 288px;
        

        mat-card.mat-card {

            .title-card-back {
                font-size: 1.3em;
                line-height: 24px;
                max-height: 104px;
            }

            .box-card-front {

                .header-card-front {
                    font-size: 1.3em;
                    line-height: 23px;
                    height: 96px;
                }

                .content-card-front {
                    
                    .card-description {
                        bottom: unset;
                        height: 94px;
                        top: 102px;
                        line-height: 18px;
                        font-size: .8em;
                    }

                    .card-elements {
                        bottom: 43px;

                        .single-element {
                            &:not(:last-child) {
                                margin-bottom: 1px;
                            }
                        }
                    }

                }
                
            }
        }
    }
}

@media (max-width: 575px) { /* BOOTSTRAP BREACKPOINT */
    hyt-algorithm-card {
        min-width: 250px;
        height: 320px;
        

        mat-card.mat-card {

            .title-card-back {
                font-size: 1.6em;
                line-height: 32px;
                max-height: 137px;
            }

            .box-card-front {

                .header-card-front {
                    font-size: 1.6em;
                    line-height: 27px;
                    height: 112px;
                }

                .content-card-front {

                    .card-description {
                        font-size: 1em;
                        height: 100px;
                        bottom: unset;
                        top: 120px;
                        line-height: 19px;
                    }

                    .card-elements {
                        bottom: 48px;

                        .single-element {
                            font-size: 1em;
                        }
                    }
                }

                .footer-card-front {
                    height: 40px;

                    hyt-button {
                        height: 35px;

                        button.mat-raised-button {
                            font-size: 1.1em;
                            line-height: 37px;
                        }
                    }

                }

            }
        }
    }
}

@media (max-width: 374px) { 
    hyt-algorithm-card {
        min-width: 200px;
        height: 256px;
        

        mat-card.mat-card {

            .title-card-back {
                font-size: 1.1em;
                line-height: 20px;
                max-height: 87px;
            }

            .box-card-front {

                .header-card-front {
                    font-size: 1.1em;
                    line-height: 20px;
                    height: 84px;
                }

                .content-card-front {
                    
                    .card-description {
                        bottom: unset;
                        height: 70px;
                        font-size: 0.75em;
                        line-height: 16px;
                        top: 94px;
                    }

                    .card-elements {
                        bottom: 42px;

                        .single-element {
                            font-size: .85em;

                            &:not(:last-child) {
                                margin-bottom: 0px;
                            }
                        }
                    }
                }

                .footer-card-front {
                    height: 33px;

                    hyt-button {
                        height: 28px;

                        button.mat-raised-button {
                            font-size: .88em;
                            line-height: 30px;
                        }
                    }

                }

            }
        }
    }
}

@media (max-width: 320px) { 
    
    hyt-algorithm-card {

        min-width: 180px;
        height: 230px;
        

        mat-card.mat-card {

            .title-card-back {
                font-size: 1em;
                line-height: 18px;
                max-height: 78px;
            }

            .box-card-front {

                .header-card-front {
                    font-size: 1em;
                    line-height: 18px;
                    height: 76px;
                }

                .content-card-front {
                    
                    .card-description {
                        bottom: unset;
                        font-size: 0.7em;
                        line-height: 15px;
                        height: 65px;
                        top: 85px;
                    }

                    .card-elements {
                        bottom: 36px;

                        .single-element {
                            font-size: .8em;

                            mat-icon {
                                width: 18px;
                                height: 18px;
                                
                                &.material-icons {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }

                .footer-card-front {
                    height: 28px;

                    hyt-button {
                        height: 24px;

                        button.mat-raised-button {
                            font-size: 0.8em;
                            line-height: 25px;
                        }
                    }

                }

            }
        }
    }
}