<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <h2>Timeline</h2>
            <!-- {{timeStart | date:'dd/MM/yyyy HH:mm'}} - 
            {{timeStop | date:'dd/MM/yyyy HH:mm'}} -->
        </div>
        <div class="col-7">

            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [value]="domainInterval"
                style="height: 40px;">
                <!-- <hyt-button *ngFor="let time of timeRange" [value]="time.value"
                    (change)="rangeChanged($event.value)">
                    {{time.label}}</hyt-button> -->

                    <mat-button-toggle *ngFor="let time of timeRange" [value]="time.value"
                    (change)="rangeChanged($event.value)">
                    {{time.label}}</mat-button-toggle>
            </mat-button-toggle-group>

            <hyt-date-picker [date]="domainStart" [minStep]="mapToDomain[domainInterval]"
                (selectedDate)="selectedDateChanged($event)"></hyt-date-picker>

        </div>
        <!--TODO move inline style in scss-->
        <div class="chartBox" style="border-top: 1px solid #1e58a594; padding-top: 8px; margin-top: 4px;" class="col-12">
            <div style="float: left;">
                <hyt-button (click)="timeBack()"
                    [ngClass]="{'hasData': timeSelection[0] ? timeSelection[0] < domainStart : false}">&lt;&lt;</hyt-button>
            </div>
            <div style="float: right;">
                <hyt-button (click)="timeForward()"
                    [ngClass]="{'hasData': timeSelection[1] ? timeSelection[1] > domainStop : false}">&gt;&gt;</hyt-button>
            </div>
            <div style="margin: 0 auto; width: calc(100% - 71px);">
                <hyt-time-axis #timeAxis (dataTimeSelectionChanged)="dataTimeSelectionChanged($event)"
                    (domainSet)="changeStep($event)">
                </hyt-time-axis>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>