#container-alarms {

  &.container {
    position: relative;
    padding-top: 20px;

    p {

      &.subtitle-section {

        font-size: .9em;
        font-style: italic;
        line-height: 25px;
        margin-bottom: 30px;

      }

    }


    #btn-edit-mode {

      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;

    }

    .toRight {
      float: right;
      margin-left: 20px;
    }

    .rule-form {

      .tagError {
        color: red;
        font-size: 15px;
      }

      font-family: "Exo";
      margin: 30px 0px;
      border: 1px solid #cacaca;
      padding: 20px 30px 40px 30px;
      border-radius: 8px;

      .hyt-icon {
        font-size: 1.5em;
        cursor: pointer;
      }

      .event-name {
        font-weight: bolder;
      }

      .severity-0 {
        background-color: green;
      }

      .severity-1 {
        background-color: yellow;
      }

      .severity-2 {
        background-color: orange;
      }

      .severity-3 {
        background-color: red;
      }

      mat-chip {
        font-weight: bolder;
      }
    }

    form {

      &.blurred {

        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -ms-filter: blur(1px);
        -o-filter: blur(1px);
        filter: blur(1px);

      }

      .form-group {

        &.row {

          margin-bottom: 25px;

          #fevent-col-event {

            p#label-event-aoutput {

              margin-bottom: 10px;
              color: #909090;
              font-size: 0.98em;

            }



          }

          #container-radio-alarms {
            border: lightgray solid 1px;
            border-radius: 4px;
            padding-top: 9px;
            padding-left: 9px;
          }

          #fevent-col-tag {
            .tag-selection {
              width: 100%;
            }
          }

          hyt-input-text,
          hyt-text-area {

            mat-form-field {
              font-family: 'Exo';
            }

          }

          hyt-select {

            mat-form-field {

              width: 100%;

              mat-select {

                font-family: 'Exo';

              }

            }

          }

          hyt-radio-button {

            mat-radio-group {

              mat-radio-button {

                &.mat-radio-button {

                  font-family: 'Exo';

                  .mat-radio-label-content {

                    line-height: 27px;

                  }

                }

              }

            }

          }



        }

      }

    }

  }

}


.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, .50);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  .loading-logo {

    position: relative;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &.display-logo {

      height: 63%;
      width: 100%;

      background-repeat: no-repeat;
      background-position: top center;
      background-image: url('/assets/images/hyperiot_logo_single_char_animated.svg');

      &.big-bg {

        background-size: 220px;

      }

      &.medium-bg {

        background-size: 170px;

      }

      &.small-bg {

        background-size: 125px;

      }

      &.x-small-bg {

        background-size: 90px;

      }

    }

    h4 {
      text-align: center;
    }
  }

  mat-progress-bar {
    max-width: 200px;
    margin: 8px;
  }

  .error-overlay {

    hyt-button {

      margin: 20px auto 0px auto;

      span {

        &.icon-hyt_cancelC {

          font-size: 1.3em;
          vertical-align: sub;
          margin-left: 5px;

        }

      }

    }

  }

}

.hidden {
  display: none;
}

.toast-container {
  &.toast-top-right {
    top: 75px;

    .alarm-toastr {
      padding: 10px 10px 10px 45px;
      z-index: 999999;
      margin-bottom: 20px;
      -webkit-box-shadow: 0px 0px 13px -4px #000000;
      -moz-box-shadow: 0px 0px 13px -4px #000000;
      box-shadow: 0px 0px 13px -4px #000000;
      width: 300px;

      &.alarm-success {
        background-color: #51A351;
        color: #FFFFFF;

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: 9px 10px;

      }

      &.alarm-info {
        background-color: #2f96b4;
        color: #FFFFFF;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOS4wNDMgOCA4IDExOS4wODMgOCAyNTZjMCAxMzYuOTk3IDExMS4wNDMgMjQ4IDI0OCAyNDhzMjQ4LTExMS4wMDMgMjQ4LTI0OEM1MDQgMTE5LjA4MyAzOTIuOTU3IDggMjU2IDh6bTAgMTEwYzIzLjE5NiAwIDQyIDE4LjgwNCA0MiA0MnMtMTguODA0IDQyLTQyIDQyLTQyLTE4LjgwNC00Mi00MiAxOC44MDQtNDIgNDItNDJ6bTU2IDI1NGMwIDYuNjI3LTUuMzczIDEyLTEyIDEyaC04OGMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtMjRjMC02LjYyNyA1LjM3My0xMiAxMi0xMmgxMnYtNjRoLTEyYy02LjYyNyAwLTEyLTUuMzczLTEyLTEydi0yNGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDY0YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MTAwaDEyYzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjR6Jy8+PC9zdmc+");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: 9px 10px;
      }

      &.alarm-error {
        background-color: red;
        color: #FFFFFF;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOS4wNDMgOCA4IDExOS4wODMgOCAyNTZjMCAxMzYuOTk3IDExMS4wNDMgMjQ4IDI0OCAyNDhzMjQ4LTExMS4wMDMgMjQ4LTI0OEM1MDQgMTE5LjA4MyAzOTIuOTU3IDggMjU2IDh6bTAgMTEwYzIzLjE5NiAwIDQyIDE4LjgwNCA0MiA0MnMtMTguODA0IDQyLTQyIDQyLTQyLTE4LjgwNC00Mi00MiAxOC44MDQtNDIgNDItNDJ6bTU2IDI1NGMwIDYuNjI3LTUuMzczIDEyLTEyIDEyaC04OGMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtMjRjMC02LjYyNyA1LjM3My0xMiAxMi0xMmgxMnYtNjRoLTEyYy02LjYyNyAwLTEyLTUuMzczLTEyLTEydi0yNGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDY0YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MTAwaDEyYzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjR6Jy8+PC9zdmc+");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: 9px 10px;
      }

      .toast-title {
        text-transform: uppercase;
      }
    }
  }
}