@import "../abstracts/mixins";

/*************************************
*  
*  EXO
*
*************************************/

/* font-weight: 200 | font-style: normal */
@include font-face(Exo, assets/fonts/exo-v8-latin/exo-v8-latin-200, 200, normal);

/* font-weight: 200 | font-style: italic */
@include font-face(Exo, assets/fonts/exo-v8-latin/exo-v8-latin-200italic, 200, italic);

/* font-weight: 400 | font-style: normal */
@include font-face(Exo, assets/fonts/exo-v8-latin/exo-v8-latin-regular, 400, normal);

/* font-weight: 400 | font-style: italic */
@include font-face(Exo, assets/fonts/exo-v8-latin/exo-v8-latin-italic, 400, italic);

/* font-weight: 600 | font-style: normal */
@include font-face(Exo, assets/fonts/exo-v8-latin/exo-v8-latin-600, 600, normal);

/* font-weight: 600 | font-style: italic */
@include font-face(Exo, assets/fonts/exo-v8-latin/exo-v8-latin-600italic, 600, italic);


/*************************************
*  
*  KOHO
*
*************************************/

/* font-weight: 300 | font-style: normal */
@include font-face(KoHo, assets/fonts/koho-v2-latin/koho-v2-latin-300, 300, normal);

/* font-weight: 300 | font-style: italic */
@include font-face(KoHo, assets/fonts/koho-v2-latin/koho-v2-latin-300italic, 300, italic);

/* font-weight: 400 | font-style: normal */
@include font-face(KoHo, assets/fonts/koho-v2-latin/koho-v2-latin-regular, 400, normal);

/* font-weight: 400 | font-style: italic */
@include font-face(KoHo, assets/fonts/koho-v2-latin/koho-v2-latin-italic, 400, italic);

/* font-weight: 600 | font-style: normal */
@include font-face(KoHo, assets/fonts/koho-v2-latin/koho-v2-latin-600, 600, normal);

/* font-weight: 600 | font-style: italic */
@include font-face(KoHo, assets/fonts/koho-v2-latin/koho-v2-latin-600italic, 600, italic);

/* font-weight: 700 | font-style: normal */
@include font-face(KoHo, assets/fonts/koho-v2-latin/koho-v2-latin-700, 700, normal);

/* font-weight: 700 | font-style: italic */
@include font-face(KoHo, assets/fonts/koho-v2-latin/koho-v2-latin-700italic, 700, italic);


/*************************************
*  
*  MONSERRAT
*
*************************************/

/* font-weight: 200 | font-style: normal */
@include font-face(Montserrat, assets/fonts/montserrat-v13-latin/montserrat-v13-latin-200, 200, normal);

/* font-weight: 200 | font-style: italic */
@include font-face(Montserrat, assets/fonts/montserrat-v13-latin/montserrat-v13-latin-200italic, 200, italic);

/* font-weight: 400 | font-style: normal */
@include font-face(Montserrat, assets/fonts/montserrat-v13-latin/montserrat-v13-latin-regular, 400, normal);

/* font-weight: 400 | font-style: italic */
@include font-face(Montserrat, assets/fonts/montserrat-v13-latin/montserrat-v13-latin-italic, 400, italic);

/* font-weight: 600 | font-style: normal */
@include font-face(Montserrat, assets/fonts/montserrat-v13-latin/montserrat-v13-latin-600, 600, normal);

/* font-weight: 600 | font-style: italic */
@include font-face(Montserrat, assets/fonts/montserrat-v13-latin/montserrat-v13-latin-600italic, 600, italic);


/*************************************
*  
*  HYT FONT ICONS
*
*************************************/

@font-face {
  font-family: 'HytFonts';
  src:  url('assets/fonts/hyperiot-fonts/HytFonts.eot?hk2k13');
  src:  url('assets/fonts/hyperiot-fonts/HytFonts.eot?hk2k13#iefix') format('embedded-opentype'),
    url('assets/fonts/hyperiot-fonts/HytFonts.ttf?hk2k13') format('truetype'),
    url('assets/fonts/hyperiot-fonts/HytFonts.woff?hk2k13') format('woff'),
    url('assets/fonts/hyperiot-fonts/HytFonts.svg?hk2k13#HytFonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'HytFonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-hyt_action:before {
  content: "\e900";
}

.icon-hyt_asterisk:before {
  content: "\e901";
}

.icon-hyt_cancel:before {
  content: "\e902";
}

.icon-hyt_cancelC:before {
  content: "\e903";
}

.icon-hyt_caretDown:before {
  content: "\e904";
}

.icon-hyt_caretUp:before {
  content: "\e905";
}

.icon-hyt_categories:before {
  content: "\e906";
}

.icon-hyt_category:before {
  content: "\e907";
}

.icon-hyt_charCake:before {
  content: "\e908";
}

.icon-hyt_chartBar:before {
  content: "\e909";
}

.icon-hyt_chartGauge:before {
  content: "\e90a";
}

.icon-hyt_chartLine:before {
  content: "\e90b";
}

.icon-hyt_chartRadar:before {
  content: "\e90c";
}

.icon-hyt_chip:before {
  content: "\e90d";
}

.icon-hyt_clock:before {
  content: "\e90e";
}

.icon-hyt_coins:before {
  content: "\e90f";
}

.icon-hyt_dash:before {
  content: "\e910";
}

.icon-hyt_dashPlus:before {
  content: "\e911";
}

.icon-hyt_device:before {
  content: "\e912";
}

.icon-hyt_devicePlus:before {
  content: "\e913";
}

.icon-hyt_download:before {
  content: "\e914";
}

.icon-hyt_duplicate:before {
  content: "\e915";
}

.icon-hyt_enrichments:before {
  content: "\e916";
}

.icon-hyt_enrichmentsPlus:before {
  content: "\e917";
}

.icon-hyt_event:before {
  content: "\e918";
}

.icon-hyt_eventPlus:before {
  content: "\e919";
}

.icon-hyt_exL:before {
  content: "\e91a";
}

.icon-hyt_exM:before {
  content: "\e91b";
}

.icon-hyt_exS:before {
  content: "\e91c";
}

.icon-hyt_eyeClose:before {
  content: "\e91d";
}

.icon-hyt_eyeOpen:before {
  content: "\e91e";
}

.icon-hyt_fields:before {
  content: "\e91f";
}

.icon-hyt_fieldsPlus:before {
  content: "\e920";
}

.icon-hyt_hamMenuClose:before {
  content: "\e921";
}

.icon-hyt_HamOpen:before {
  content: "\e922";
}

.icon-hyt_helpM:before {
  content: "\e923";
}

.icon-hyt_helpS:before {
  content: "\e924";
}

.icon-hyt_home:before {
  content: "\e925";
}

.icon-hyt_info:before {
  content: "\e926";
}

.icon-hyt_join:before {
  content: "\e927";
}

.icon-hyt_layout:before {
  content: "\e928";
}

.icon-hyt_layoutPlus:before {
  content: "\e929";
}

.icon-hyt_less:before {
  content: "\e92a";
}

.icon-hyt_lessC:before {
  content: "\e92b";
}

.icon-hyt_lessX:before {
  content: "\e92c";
}

.icon-hyt_lock:before {
  content: "\e92d";
}

.icon-hyt_mail:before {
  content: "\e92e";
}

.icon-hyt_map:before {
  content: "\e92f";
}

.icon-hyt_notification:before {
  content: "\e930";
}

.icon-hyt_off:before {
  content: "\e931";
}

.icon-hyt_packets:before {
  content: "\e932";
}

.icon-hyt_packetsPlus:before {
  content: "\e933";
}

.icon-hyt_pause:before {
  content: "\e934";
}

.icon-hyt_play:before {
  content: "\e935";
}

.icon-hyt_plus:before {
  content: "\e936";
}

.icon-hyt_plusC:before {
  content: "\e937";
}

.icon-hyt_plusX:before {
  content: "\e938";
}

.icon-hyt_projectRSolo:before {
  content: "\e939";
}

.icon-hyt_projects:before {
  content: "\e93a";
}

.icon-hyt_projectSolo:before {
  content: "\e93b";
}

.icon-hyt_projectsPlus:before {
  content: "\e93c";
}

.icon-hyt_projectsR:before {
  content: "\e93d";
}

.icon-hyt_projectsRPlus:before {
  content: "\e93e";
}

.icon-hyt_reload:before {
  content: "\e93f";
}

.icon-hyt_save:before {
  content: "\e940";
}

.icon-hyt_search:before {
  content: "\e941";
}

.icon-hyt_setting:before {
  content: "\e942";
}

.icon-hyt_sortAlfa:before {
  content: "\e943";
}

.icon-hyt_sortDown:before {
  content: "\e944";
}

.icon-hyt_sortStar:before {
  content: "\e945";
}

.icon-hyt_sortUp:before {
  content: "\e946";
}

.icon-hyt_star:before {
  content: "\e947";
}

.icon-hyt_statistics:before {
  content: "\e948";
}

.icon-hyt_statisticsPlus:before {
  content: "\e949";
}

.icon-hyt_stop:before {
  content: "\e94a";
}

.icon-hyt_switch:before {
  content: "\e94b";
}

.icon-hyt_tableBig:before {
  content: "\e94c";
}

.icon-hyt_tabLight:before {
  content: "\e94d";
}

.icon-hyt_tag:before {
  content: "\e94e";
}

.icon-hyt_tags:before {
  content: "\e94f";
}

.icon-hyt_trash:before {
  content: "\e950";
}

.icon-hyt_user:before {
  content: "\e951";
}

.icon-hyt_userCircle:before {
  content: "\e952";
}

.icon-hyt_userEx:before {
  content: "\e953";
}

.icon-hyt_valid:before {
  content: "\e954";
}

.icon-hyt_warnC:before {
  content: "\e955";
}

.icon-hyt_warnT:before {
  content: "\e956";
}

.icon-hyt_widget:before {
  content: "\e957";
}

.icon-hyt_widgetPlus:before {
  content: "\e958";
}

.icon-hyt_wifiOff:before {
  content: "\e959";
}

.icon-hyt_wifiOffFilled:before {
  content: "\e95a";
}

.icon-hyt_wifiOn:before {
  content: "\e95b";
}

.icon-hyt_wifiOnFilled:before {
  content: "\e95c";
}
