<div id="container-packet-field" class="container">

    <!-- <p class="subtitle-section">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum magna lacus, a lacinia orci feugiat non. Quisque pharetra quam vitae pharetra euismod. Curabitur sodales eget elit id aliquam. In hac habitasse platea dictumst. Nam in dignissim leo. Pellentesque in lorem at justo mollis volutpat. Nam rutrum, orci vel fermentum semper, felis ante dictum nisl, vitae ultricies lectus ante iaculis nibh. Donec facilisis sagittis ligula, ut consequat elit facilisis non. Nam non enim magna. Mauris euismod velit sit amet porta fermentum.
    </p> ONLY FOR PROJECT DETAIL -->

    <div class="row">

        <div id="ffield-col-tree" class="col-12">

            <hyt-tree-view-editable *ngIf="packet" class="flex-fill" #treeViewFields
                [deviceName]="packet.name"
                [treeData]="packetTree"
                (addFn)="addField($event)"
                (removeFn)="removeField($event)"
                (editFn)="editField($event)"
            >
            </hyt-tree-view-editable>

        </div>

    </div> <!-- Second Row -->

    <form [formGroup]="form" class="flex-fill mt-4" [ngClass]="{hidden: currentField == null, 'blurred': loadingStatus !== LoadingStatus.Ready}">

        <div class="form-group row">

            <div id="ffield-col-name" class="col-6">

                <hyt-input-text 
                    [form]="form" name="hpacketfield-name"
                    [isRequired]="true"
                    i18n-placeholder="@@HYT_name"
                    placeholder="Name"
                    [injectedErrorMsg]="getError('hpacketfield-name')"
                    i18n-hintMessage="@@HYT_hint_field_name"
                    hintMessage="Enter the field name."
                >
                </hyt-input-text>

            </div>
            <div id="ffield-col-type" class="col-6">

                <hyt-select 
                    [form]="form"
                    name="hpacketfield-type"
                    [options]="fieldTypeOptions"
                    [isRequired]="true"
                    i18n-label="@@HYT_type"
                    label="Type"
                    i18n-hintMessage="@@HYT_hint_field_type"
                    hintMessage="Select field type." #fieldType
                >
                </hyt-select>

            </div>

        </div> <!-- First Row Form -->

        <div class="form-group row">

            <div id="ffield-col-desc" class="col-6">

                <hyt-text-area 
                    [form]="form" name="hpacketfield-description" class="flex-fill"
                    i18n-placeholder="@@HYT_description"
                    placeholder="Description"
                    i18n-hintMessage="@@HYT_hint_field_description"
                    hintMessage="Enter the field description."
                >
                </hyt-text-area>

            </div>
            <div id="ffield-col-mult" class="col-6">

                <strong i18n="@@HYT_multiplicity">Multiplicity</strong>

                <hyt-radio-button 
                    [form]="form" name="hpacketfield-multiplicity"
                    [isRequired]="true"
                    [options]="fieldMultiplicityOptions"
                    [verticalAlign]="true"
                >
                </hyt-radio-button>

            </div>

        </div> <!-- Second Row Form -->

        <div *ngIf="fieldType.formControl.value !== 'OBJECT'" class="form-group row">

            <div id="ffield-col-mes-type" class="col-6">

                <hyt-select 
                    [options]="measureOptions"
                    (changeFn)="onMeasurementTypeChange($event.value)"
                    label="Measurement Type"
                    i18n-hintMessage="@@HYT_hint_select_measure_type"
                    hintMessage="Select measurement type." #measureSelect
                >
                </hyt-select>

            </div>
            <div id="ffield-col-mes-unit" class="col-6">

                <hyt-select
                    [form]="form"
                    name="hpacketfield-unit"
                    [options]="unitOptions"
                    label="Unit"
                    i18n-hintMessage="@@HYT_hint_select_measure_unit"
                    hintMessage="Select measure unit." #unitSelect
                >
                </hyt-select>

            </div>

        </div> <!-- Third Row Form -->

    </form>

    <!-- 
        TODO: This HTML block is repeated
        across all 'entity' components,
        consider making a component out of it 
    -->

    <div *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
        
        <div 
            *ngIf="loadingStatus === LoadingStatus.Loading" 
        >

            <h4 i18n="@@HYT_loading_data">Loading data...</h4>
        
        </div> 
        
        <div *ngIf="loadingStatus === LoadingStatus.Error" class="error-overlay d-flex flex-column justify-content-center">
            <h4 i18n="@@HYT_error_occurred">An unexpected error has occurred</h4>

            <hyt-button 
                [color]="'hyt-base-default-white'" 
                (click)="loadingStatus = LoadingStatus.Ready"
            >
                <span i18n="@@HYT_close">Close</span> <span class="icon-hyt_cancelC"></span> 
            </hyt-button>
        </div> 

        <h4 *ngIf="loadingStatus === LoadingStatus.Saving" i18n="@@HYT_saving_data">Saving data...</h4>

        <mat-progress-bar 
            *ngIf="loadingStatus === LoadingStatus.Loading || loadingStatus === LoadingStatus.Saving"
            mode="indeterminate"
        ></mat-progress-bar> 

    </div>

</div>

