<mat-accordion class="container-dmuc">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <ng-container *ngIf="getConfigrationStatus() === 'none'">
        <mat-panel-title>
          <mat-icon class="error" aria-hidden="false" aria-label="warning icon">warning</mat-icon>
        </mat-panel-title>
        <mat-panel-description>Set the coordinates of the center of the map</mat-panel-description>
      </ng-container>
      <ng-container *ngIf="getConfigrationStatus() === 'nodevice'">
        <mat-panel-title>
          <mat-icon class="warning" aria-hidden="false" aria-label="warning icon">warning</mat-icon>
        </mat-panel-title>
        <mat-panel-description>No device or sub-area set</mat-panel-description>
      </ng-container>
      <ng-container *ngIf="getConfigrationStatus() === 'complete'">
        <mat-panel-title>
          <mat-icon class="success" aria-hidden="false" aria-label="check_circle icon">check_circle</mat-icon>
        </mat-panel-title>
        <mat-panel-description>Map data are set correctly</mat-panel-description>
      </ng-container>
    </mat-expansion-panel-header>

    <div id="coordinates-configuration">
      <div class="title-configuration">
        Set Map Location
      </div>
      <div class="container-toogle-btn">
        <mat-button-toggle-group
          name="coordinatesType"
          aria-label="Coordinates Type"
          [value]="selectedCoordType"
          (change)="changeCoordType($event)"
        >
          <mat-button-toggle value="LATLONG">Coordinates</mat-button-toggle>
          <mat-button-toggle value="GEOCODING" disabled>Address</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div id="container-coord-forms" [ngSwitch]="selectedCoordType">
      <div *ngSwitchCase="'LATLONG'">
        <div class="container-latlong-form">
          <form [formGroup]="latLongForm" (ngSubmit)="saveMapCenterAndZoom()">
            <div class=" form-row container-lat-long">
              <mat-form-field appearance="fill">
                <mat-label>Latitudine</mat-label>
                <input matInput placeholder="Inserisci latitudine" type="text" formControlName="latitude" />
              </mat-form-field>
            </div>
            <div class=" form-row container-lat-long">
              <mat-form-field appearance="fill">
                <mat-label>Longitudine</mat-label>
                <input matInput placeholder="Inserisci Longitudine" type="text" formControlName="longitude" />
              </mat-form-field>
            </div>

            <!-- <div class=" form-row container-lat-long">
              <mat-form-field appearance="fill">
                <mat-label>Zoom Level</mat-label>
                <input matInput placeholder="Inserisci Longitudine" type="number" formControlName="zoom" />
              </mat-form-field>
            </div> -->
            <div class="zoom-lvl">
              <!-- <mat-form-field appearance="fill">
                <mat-label>Zoom Level</mat-label>
                <input matInput [min]="mapConfiguration.minZoom" [max]="mapConfiguration.maxZoom" placeholder="Zoom" type="number" formControlName="zoom" />
              </mat-form-field> -->
              <mat-label>Zoom Level</mat-label>
              <mat-slider 
                  [min]="mapConfiguration.minZoom"
                  [max]="mapConfiguration.maxZoom"
                  tickInterval="1"
                  thumbLabel
                  formControlName="zoom"
                  (input)="latLongForm.controls.zoom.setValue($event.value)"
                  >
              </mat-slider>
              {{ latLongForm.value.zoom }}
            </div>
            <div class="edit-center-action">
              <button type="submit" *ngIf="editCenter" mat-icon-button aria-label="Save Edit Center">
                <mat-icon>check</mat-icon>
              </button>
              <button *ngIf="editCenter" mat-icon-button (click)="cancelEditCenter()" aria-label="Revert Edit Center">
                <mat-icon>close</mat-icon>
              </button>
              <button *ngIf="!editCenter" mat-icon-button (click)="enableEditCenter()" aria-label="Enable Edit Center">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
<!--        <button mat-button (click)="saveMapCenterAndZoom()" [disabled]="latLongForm.invalid || !latLongForm.dirty">Salva Coordinate</button> -->
          </form>
        </div>
      </div>
      <div *ngSwitchCase="'GEOCODING'">
        <div class="container-geocoding-form">
          <form [formGroup]="geoSearchForm">
            <div class=" form-row container-address">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Indirizzo</mat-label>
                <input matInput placeholder="Inserisci un indirizzo valido" formControlName="address" [matAutocomplete]="auto">
                
                <mat-icon matSuffix>
                  <mat-spinner diameter="24" strokeWidth="3"></mat-spinner>
                </mat-icon>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let address of addressList | async" [value]="address">
                    {{ address.label }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class=" form-row zoom-lvl">
              <label for="geocoding-zoom">Zoom Level</label>
              <input id="geocoding-zoom" type="number" />
            </div>
            <button (click)="saveMapCenterAndZoom()">Salva indirizzo</button>
          </form>
        </div>
      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>

<!-- <div id="container-dmuc">

  <div id="current-status-configuration">
    <div class="status-icon">
      <mat-icon aria-hidden="false" aria-label="warning icon">warning</mat-icon>
    </div>
    <div class="status-text">
      Set the coordinates of the center of the map
    </div>
    <div class="toggle-arrow">
      <mat-icon aria-hidden="false" aria-label="arrow icon">arrow_forward_ios</mat-icon>
    </div>
  </div>

</div> -->

      <!-- Alternative Icon for Ok status -->
      <!--<mat-icon aria-hidden="false" aria-label="thumb up icon">thumb_up_off_alt</mat-icon>-->