<div id="container-input-definition-modal" hyt-dialog>

    <div class="dialog-header" hyt-dialog-header>
        <span class="hyt-icon icon-hyt_cancelC" (click)="close()"></span>
    </div>

    <div class="dialog-body" hyt-dialog-content>

      <p id="modal-body-title" i18n="@@HYT_input_definition_modal_title">
          Bind packet fields to algorithm input
      </p>

      <!-- INIZIO DRAG & DROP  -->

       <div cdkDropListGroup class="example-boundary">

        <div class="container-fields boundary-field">

          <h2 class="section-title" i18n="@@HYT_algorithm_required_input_fields">Algorithm required input fields</h2>
          
          <div *ngFor="let input of inputArray" class="container-single-input-definition">
            
            <h2 class="input-title">
              {{input.name}}
              <label class="tooltip" [matTooltip]="input.description" matTooltipClass="infoTooltip">i</label>
            </h2>
        
            <div
              cdkDropList
              [cdkDropListData]="getChosenInput(input)"
              class="example-list"
              cdkDropListSortingDisabled
              (cdkDropListDropped)="drop($event)"
              [cdkDropListEnterPredicate]="hasBeenSelected">
              <div class="example-box" *ngFor="let hPacketField of getChosenInput(input)" 
                cdkDragBoundary=".example-boundary" cdkDrag (cdkDragStarted)="onDragStarted($event)">{{hPacketField.name}}
              </div>
  
            </div>
          </div>
        </div> 
      
        <div class="container-field-list boundary-field">

          <div id="fields-list-title">

            <h2 class="section-title">
              <ng-container i18n="@@HYT_available_packet_fields">Available packet fields</ng-container>
            </h2>

          </div>

          <div id="fields-list-body">

            <div class="form-group mb-4">
              <input id="searchText" type="text" [(ngModel)]="searchText" placeholder="Search">
            </div>
            <p *ngIf="searchText.length > 0 && (hPacketFieldList | filter: searchText).length === 0" i18n="@@HYT_no_field_found">
              No field found
            </p>
            <p *ngIf="searchText.length === 0 && hPacketFieldList.length === 0" i18n="@@HYT_no_available_fields">
              There are not available fields anymore
            </p>
            <div
              cdkDropList
              [cdkDropListData]="hPacketFieldList"
              class="example-list"
              cdkDropListSortingDisabled
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let hPacketField of (hPacketFieldList | filter: searchText)" 
                cdkDragBoundary=".example-boundary" cdkDrag (cdkDragStarted)="onDragStarted($event)"
              >
                <div class="custom-placeholder" *cdkDragPlaceholder></div> <!-- to override placeholder style -->
                {{hPacketField.name}}
              </div>
            </div>

          </div>

        </div> 

      </div>

      <!-- FINE DRAG & DROP  -->

    </div>

    <div class="dialog-footer" hyt-dialog-footer align="center">
        <hyt-button 
          [isDisabled]="!hasFinished()" 
          (clickFn)="output('finish', {});" 
          [color]="'hyt-base-total-green'"
        >
            <ng-container i18n="@@HYT_finish">Finish</ng-container>
        </hyt-button>
    </div>
    
</div>
