#packet-select-component {

    .container-unit-conversion {
        display: flex;
    }

    .field-mapping {
        padding-top: 8px;
    }

    .map-container {
        position: relative;
        padding-top: 8px;
        border: solid 1px rgba(100,100,100,0.25);
        border-radius: 8px;
        padding-right: 28px !important;
        .map-remove {
            cursor: pointer;
            display: block;
            position: absolute;
            right: -12px; top: -12px;
            opacity: 0.75;
        }
        .map-remove:hover {
            color: red;
        }
    }

    .w-80 {
        width: 80px;
        .mat-input-element {
            text-align: center !important;
        }
    }

    .label {
        color: blue;
        font-weight: 600;
    }

}

