<div class="padding-6 d-flex flex-column justify-content-stretch">

    <ng-container *ngIf="widget.config">

        <div class="d-flex flex-column">

            <mat-form-field>
                <mat-select [(ngModel)]="selectedPacket" [compareWith]="packetCompare"
                    (ngModelChange)="onPacketChange()" name="packet-select"
                    placeholder="HYT_widget_settings_select_packet"
                    i18n-placeholder="@@HYT_widget_settings_select_packet" required disableRipple>
                    <mat-option *ngFor="let packet of projectPackets" [value]="packet" selected>
                        {{packet.name}}
                        ({{packet.id}})
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>

    </ng-container>

    <ng-container *ngIf="selectedPacket != null">

        <div class="d-flex flex-column">

            <mat-form-field>
                <mat-select [(ngModel)]="selectedFields" [multiple]="multiPacketSelect"
                    (ngModelChange)="onPacketFieldChange($event)" name="field-select"
                    placeholder="HYT_widget_settings_select_fields"
                    i18n-placeholder="@@HYT_widget_settings_select_fields" required disableRipple>
                    <mat-option *ngFor="let field of selectedPacket.fields" [value]="field" selected>
                        {{field.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div *ngIf="packetFieldsMapping && packetFieldsMapping.length > 0 && multiPacketSelect">
            <h3>Fields Mapping</h3>
            <div *ngFor="let fieldConfig of packetFieldsMapping">
                <label>{{ fieldConfig.field.name }}</label>
                <div class="d-flex flex-row align-items-center flex-wrap">
                    <div *ngFor="let fieldMap of fieldConfig.map; let i = index" class="d-flex flex-row align-items-center">
                        <label class="ml-5 mr-4"><h3 class="m-0 p-0">[{{ i }}]</h3></label>
                        <hyt-input-template
                            [name]="'name'+i"
                            [(ngModel)]="fieldMap.name"
                            #name="ngModel"
                            style="width: 60px;"></hyt-input-template>
                        <hyt-button class="ml-4"
                            (clickFn)="onDeleteFieldMapping(fieldConfig, i)">
                            <mat-icon>close</mat-icon>
                        </hyt-button>
                    </div>
                </div>
                <hyt-button (clickFn)="onAddFieldMapping(fieldConfig)">
                    <mat-icon>add</mat-icon>
                    Add
                </hyt-button>
            </div>
        </div>

    </ng-container>

</div>