<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <b i18n="@@HYT_DEVICES">HYT_DEVICES</b>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p i18n="@@HYT_device_definition_long">HYT_device_definition_long</p>
</mat-expansion-panel>

<div id="container-hints">

  <table *ngIf="tableStatus == 1" id="tableDevice">
    <tr>
      <th><b i18n="@@HYT_NAME">HYT_NAME</b></th>
      <th><b>M</b></th>
      <th><b>D</b></th>
      <th><b>X</b></th>
    </tr>
    <tr *ngFor="let dev of devicesList">
      <td>{{dev.deviceName}}</td>
      <td (click)="update(dev)">M</td>
      <td (click)="copy(dev)">D</td>
      <td (click)="delete(dev)">
        X
      </td>
    </tr>
  </table>

  <div *ngIf="tableStatus == 0">
    LOADING
  </div>

  <div *ngIf="tableStatus == -1">
    ERRORE
  </div>

  <!----------------------------------------------------------------------->

  <!-- <div class="row"> -->

  <!--
  <div id="box-devices" class="col-12">
    <div class="row">

      <div id="header-box" class="col-12">

        <div class="row">

          <div id="title-box" class="col-8">Devices</div>

          <div id="actions-box" class="col-4" style="background-color: antiquewhite">
            Actions
          </div>

        </div>

      </div> <!- - end header box - ->

      <div class="col-12 body-box">
        Qui Il Body
      </div> <!- - end body box - ->
      <div class="col-12 body-box">
        Qui Il Body
      </div> <!- - end body box - ->
      <div class="col-12 body-box">
        Qui Il Body
      </div> <!- - end body box - ->

      <div id="footer-box" class="col-12">
        <span class="arrow">&lt;</span> 1 2 3 <span class="arrow">&gt;</span>
      </div> <!- - end footer box - ->

    </div>
  </div>

  <!- - </div> - ->

  <!- --------------------------------------------------------------------- ->

  <div class="info-message">
    <span class="text">Messaggio di Info</span>
    <mat-icon class="">info</mat-icon>
  </div> <!- - END INFO MESSAGE - ->
-->

</div> <!-- END CONTAINER HINTS -->

<div *ngIf="hintVisible" class="info-message">
  <span class="text">{{hintMessage}}</span>
  <mat-icon class="">info</mat-icon>
</div>