<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <b i18n="@@HYT_PACKETS">HYT_PACKETS</b>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p i18n="@@HYT_packet_definition_long">HYT_packet_definition_long</p>
</mat-expansion-panel>

<div id="packets-hint">

  <table *ngIf="tableStatus == 1" id="tablePacket">
    <tr>
      <th><b i18n="@@HYT_NAME">HYT_NAME</b></th>
      <th><b>M</b></th>
      <th><b>D</b></th>
      <th><b>X</b></th>
    </tr>
    <tr *ngFor="let pac of packetsList">
      <td>{{pac.name}}</td>
      <td (click)="update(pac)">M</td>
      <td (click)="copy(pac)">D</td>
      <td (click)="delete(pac)">X</td>
    </tr>
  </table>

</div>

<div *ngIf="hintVisible" class="info-message">
  <span class="text">{{hintMessage}}</span>
  <mat-icon class="">info</mat-icon>
</div>