<div id="packets-step" class="row">

  <div class="col-md-10">

    <hyt-packets-form #packetsForm (savePacket)="savePacket()" (updatePacket)="updatePacket()">
    </hyt-packets-form>

  </div>

  <div class="col-md-2">

    <hyt-packets-hint-column (updatePacket)="tableUpdatePacket($event)" (copyPacket)="tableCopyPacket($event)"
      (deletePacket)="showDeleteModal($event)"></hyt-packets-hint-column>

  </div>

  <hyt-modal [mOpen]="deleteModal">
    <div class="alignCenter">
      Sei sicuro di voler eliminare il pacchetto?
      <hr>
      <button (click)="deletePacket()">Sì</button>
      <button (click)="hideDeleteModal()">No</button>
      <br>
      <div *ngIf="deleteError">{{deleteError}}</div>
    </div>
  </hyt-modal>

</div>