<div id="packets-step" class="row">

  <div class="col-md-10">

    <form class="packet-form" [formGroup]="packetForm" autocomplete="on">

      <div class="row">
        <div class="col-md-6 container-form-field">
          <hyt-input-text [form]="packetForm" formControlName="packetName" name="packetName" [isRequired]="true"
            placeholder="packetName" [injectedErrorMsg]="getError('packetName')">
          </hyt-input-text> <!-- Field Name -->
        </div>
        <div class="col-md-6 container-form-field">
          <hyt-select [form]="packetForm" [options]="devicesOptions" formControlName="packetDevice" name="packetDevice"
            [isRequired]="true" label="HYT_device">
          </hyt-select> <!-- Field Packet -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 container-form-field">
          Typology
          <hyt-radio-button [form]="packetForm" [options]="typologyOptions" formControlName="hpacket-type"
            name="hpacket-type" [verticalAlign]="true">
          </hyt-radio-button>
        </div> <!-- Field Typology -->
        <div class="col-md-4 container-form-field">
          Format
          <hyt-radio-button [form]="packetForm" [options]="formatOptions" formControlName="hpacket-format"
            name="hpacket-format" [verticalAlign]="true">
          </hyt-radio-button>
        </div> <!-- Field Format -->
        <div class="col-md-4 container-form-field">
          Serialization
          <hyt-radio-button [form]="packetForm" [options]="serializationOptions" formControlName="hpacket-serialization"
            name="hpacket-serialization" [verticalAlign]="true">
          </hyt-radio-button>
        </div> <!-- Field Serialization -->
      </div>

      <div class="row">
        <div class="col-md-12 container-form-field">
          <hyt-select [form]="packetForm" [options]="trafficPlanOptions" formControlName="packetTrafficPlan"
            name="packetTrafficPlan" [isRequired]="true" label="HYT_trafficPlan">
          </hyt-select> <!-- Field Traffic Plan -->
        </div>
      </div>

      <div class="container-form-field errorMessage">
        <ng-container *ngIf="getError('general')">
          {{getError('general')}}
        </ng-container>
      </div> <!-- Error Box -->

      <hyt-button id="packet-form-submit-button" [isDisabled]="invalid()" (clickFn)="createPacket()" type="submit">
        Add Packet
      </hyt-button>

    </form>

  </div>

  <div class="col-md-2">

    <div class="row">

      <div class="col-md-12">
        PACKETS
        <table>
          <tr>
            <th><b>ID</b></th>
            <th><b>NOME</b></th>
            <th><b>DEVICE</b></th>
          </tr>
          <tr *ngFor="let pac of packetsList">
            <td>{{pac.id}}</td>
            <td>{{pac.name}}</td>
            <td>{{pac.device.id}}</td>
          </tr>
        </table>
      </div>

    </div>

  </div>

</div>
