<div id="notification-bar">
    
    <div class="pwa-row">

        <div id="pwa-icon">
            <img alt="hyt-icon" src="../../../assets/images/hyperiot_logo_single_char.png" />
        </div>

        <div id="body-pwa">
            
            <div id="text-pwa">
                <span>Scarica ed installa l'applicazione web</span>
            </div>

            <div id="pwa-close-btn" (click)="closeNotificationBar()">
                <span>X</span>
            </div>

        </div>

    </div>

    <div class="pwa-row">

        <div id="pwa-btn">
            <hyt-button [color]="'hyt-base-total-white'" (click)="addToHomeScreen()">
                <span class="hyt-icon icon-hyt_arrowDown"></span> Aggiungi alla Home
            </hyt-button>
        </div>

    </div>

</div>
