<div class="container">

    <form [formGroup]="form" class="d-flex flex-column justify-content-center">

        <hyt-input-text [form]="form"
            name="hproject-name"
            placeholder="Name"
            errorPosition="bottom"
            minlength="3"
            [injectedErrorMsg]="getError('project-name')"
            hintMessage="Enter the project name."
            [isRequired]="true"></hyt-input-text>

        <hyt-text-area [form]="form"
            name="hproject-description"
            [injectedErrorMsg]="getError('project-description')"
            hintMessage="Enter the project description."
            placeholder="Description"></hyt-text-area>

    </form>

    <!-- TODO: This HTML block is repeated
               across all 'entity' components,
               consider making a component out of it -->
    <div *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
        <h4 *ngIf="loadingStatus === LoadingStatus.Loading">Loading project data...</h4>
        <div *ngIf="loadingStatus === LoadingStatus.Error" class="d-flex flex-column justify-content-center">
            <h4>An error has occurred =/</h4>
            <button mat-stroked-button (click)="loadingStatus = LoadingStatus.Ready">
                <span>Close</span>
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <h4 *ngIf="loadingStatus === LoadingStatus.Saving">Saving project data...</h4>
        <mat-progress-bar
            *ngIf="loadingStatus === LoadingStatus.Loading || loadingStatus === LoadingStatus.Saving"
            mode="query"></mat-progress-bar>
    </div>

</div>