<div id="project-form" class="container">

    <!-- <p class="subtitle-section">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum magna lacus, a lacinia orci feugiat non. Quisque pharetra quam vitae pharetra euismod. Curabitur sodales eget elit id aliquam. In hac habitasse platea dictumst. Nam in dignissim leo. Pellentesque in lorem at justo mollis volutpat. Nam rutrum, orci vel fermentum semper, felis ante dictum nisl, vitae ultricies lectus ante iaculis nibh. Donec facilisis sagittis ligula, ut consequat elit facilisis non. Nam non enim magna. Mauris euismod velit sit amet porta fermentum.
    </p> ONLY FOR PROJECT DETAIL -->

    <form [formGroup]="form" class="d-flex flex-column justify-content-center" [ngClass]="{'blurred': loadingStatus !== LoadingStatus.Ready}">

        <div class="form-group row">

            <div id="fproj-col-name" class="col-12">

                <hyt-input-text [form]="form"
                    name="hproject-name"
                    i18n-placeholder="@@HYT_name"
                    placeholder="HYT_name"
                    errorPosition="bottom"
                    minlength="3"
                    [injectedErrorMsg]="getError('hproject-name')"
                    i18n-hintMessage="@@HYT_hint_project_name"
                    hintMessage="HYT_hint_project_name"
                    [isRequired]="true"
                >
                </hyt-input-text>

            </div>

        </div> <!-- First Row -->

        <div class="form-group row">

            <div id="fproj-col-descr" class="col-12">
                
                <hyt-text-area [form]="form"
                    name="hproject-description"
                    [injectedErrorMsg]="getError('hproject-description')"
                    i18n-hintMessage="@@HYT_hint_project_description"
                    hintMessage="HYT_hint_project_description"
                    i18n-placeholder="@@HYT_description"
                    placeholder="HYT_description"
                >
                </hyt-text-area>

            </div>

        </div> <!-- Second Row -->

    </form>

    <!-- 
        TODO: This HTML block is repeated
        across all 'entity' components,
        consider making a component out of it 
    -->

    <div #overlayHeight *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
        
        <div 
            *ngIf="loadingStatus === LoadingStatus.Loading" 
            [ngClass]="getCustomClass()"
        >

            <h4 i18n="@@HYT_loading_data">HYT_loading_data</h4>

        </div> 
        
        <div *ngIf="loadingStatus === LoadingStatus.Error" class="error-overlay d-flex flex-column justify-content-center">
            <h4 i18n="@@HYT_error_occurred">HYT_error_occurred</h4>

            <hyt-button 
                [color]="'hyt-base-default-white'" 
                (click)="loadingStatus = LoadingStatus.Ready"
            >
                <span i18n="@@HYT_close">HYT_close</span> <span class="icon-hyt_cancelC"></span> 
            </hyt-button>
        </div> 

        <h4 *ngIf="loadingStatus === LoadingStatus.Saving" i18n="@@HYT_saving_data">HYT_saving_data</h4>

        <mat-progress-bar 
            *ngIf="loadingStatus === LoadingStatus.Loading || loadingStatus === LoadingStatus.Saving"
            mode="indeterminate"
        ></mat-progress-bar> 

    </div>

</div>