<div id="project-form" class="container">

    <form [formGroup]="form" class="d-flex flex-column justify-content-center">

        <div class="form-group row">

            <div id="fproj-col-name" class="col-12">

                <hyt-input-text [form]="form"
                    name="hproject-name"
                    i18n-placeholder="@@HYT_name"
                    placeholder="HYT_name"
                    errorPosition="bottom"
                    minlength="3"
                    [injectedErrorMsg]="getError('hproject-name')"
                    i18n-hintMessage="@@HYT_hint_project_name"
                    hintMessage="HYT_hint_project_name"
                    [isRequired]="true"
                >
                </hyt-input-text>

            </div>

        </div> <!-- First Row -->

        <div class="form-group row">

            <div id="fproj-col-descr" class="col-12">
                
                <hyt-text-area [form]="form"
                    name="hproject-description"
                    [injectedErrorMsg]="getError('hproject-description')"
                    i18n-hintMessage="@@HYT_hint_project_description"
                    hintMessage="HYT_hint_project_description"
                    i18n-placeholder="@@HYT_description"
                    placeholder="HYT_description"
                >
                </hyt-text-area>

            </div>

        </div> <!-- Second Row -->

    </form>

    <!-- TODO: This HTML block is repeated
               across all 'entity' components,
               consider making a component out of it -->
    <div *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
        <h4 *ngIf="loadingStatus === LoadingStatus.Loading" i18n="@@HYT_loading_data">HYT_loading_data</h4>
        <div *ngIf="loadingStatus === LoadingStatus.Error" class="d-flex flex-column justify-content-center">
            <h4 i18n="@@HYT_error_occurred">HYT_error_occurred</h4>
            <button mat-stroked-button (click)="loadingStatus = LoadingStatus.Ready">
                <span i18n="@@HYT_close">HYT_close</span>
                <mat-icon>close</mat-icon>
            </button>
        </div>
        
        <h4 *ngIf="loadingStatus === LoadingStatus.Saving" i18n="@@HYT_saving_data">HYT_saving_data</h4>

        <mat-progress-bar
            *ngIf="loadingStatus === LoadingStatus.Loading || loadingStatus === LoadingStatus.Saving"
            mode="query"
        ></mat-progress-bar>
    </div>

</div>