<div class="dialog pt-2 pb-2 d-flex flex-column">
    <h3 class="ml-3 mr-3" i18n="@@HYT_area_map_select_device">HYT_area_map_select_device</h3>

    <mat-list role="list" class="flex-grow-1">
        <mat-list-item *ngFor="let device of projectDevices" role="listitem">
            <button mat-button
                [disabled]="device.added"
                [ngClass]="{ selected: device === selectedDevice }"
                (click)="selectedDevice = device">
                {{ device.deviceName }}{{device.added ? ' (' + device.area + ')' : ''}}
            </button>
        </mat-list-item>
    </mat-list>

    <div *ngIf="selectedDevice" class="d-flex flex-row align-items-center justify-content-center">
        <hyt-select-template class="m-2"
            [(ngModel)]="selectedDeviceIcon"
            [options]="deviceIconOptions"
            label="Device icon"></hyt-select-template>
    </div>

    <div class="ml-3 mr-3 d-flex flex-row justify-content-between">
        <hyt-button (clickFn)="close()" i18n="@@HYT_cancel">HYT_cancel</hyt-button>
        <hyt-button [isDisabled]="!selectedDevice || !selectedDeviceIcon" (clickFn)="close({
            device: selectedDevice,
            icon: selectedDeviceIcon
        })" i18n="@@HYT_add">HYT_add</hyt-button>
    </div>

</div>
