<div class="hyt-modal">

    <div class="dialog hyt-modal-body">

        <div class="action-header">
            <h2>Data recording</h2>
            <!--@I18N-->
        </div>

        <div class="dialog-body">
            <!-- <span class="hyt-icon icon-hyt_warnT"></span> -->
            <p>
                Sure to perform this action?
            </p>
            <!--@I18N-->
        </div>

        <footer class="d-flex flex-row align-items-center justify-content-end">
            <hyt-button class="action-button-confirm" (clickFn)="confirm($event)">
                <mat-icon>check</mat-icon>
                <span i18n="@@HYT_widget_settings_apply">HYT_widget_settings_apply</span>
            </hyt-button>
            <hyt-button class="action-button-close" (clickFn)="cancel($event)">
                <mat-icon>close</mat-icon>
                <span i18n="@@HYT_widget_settings_cancel">HYT_widget_settings_cancel</span>
            </hyt-button>
        </footer>
        
    </div>
    
</div>
    
<div class="hyt-modal-background"></div>