
#hyt-modal-reload-recording-confirm {

    .dialog {
        // position: relative;
        position: fixed;
        width: 40%;
        min-width: 320px;
        max-height: 100vh;
        overflow: hidden; 
        background: white;
        border: none;
        box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
        font-family: 'Exo';
        border-radius: 8px;

        #header-row {

            background-color: #ff9d1b;
            color: #271600;

            .action-header{
                padding: 12px;

                h2 {

                    text-align: center;
                    margin: 0px;

                }
            }

        }

        #body-row {

            .dialog-body {
                padding: 25px 20px;

                p {

                    margin: 0px;
                    text-align: center;
                    font-size: 1.4em;

                }

            }

        }

        #footer-row {

            padding: 6px;
            text-align: center;

        }
    
        footer {
    
            background-color: var(--header-color);
            border-top: 1px solid rgba(0,0,0,0.1);
            padding: 6px;
    
            .action-button-close, .action-button-confirm {
                margin-left:6px;
            }
    
        }

    
    }

}

