<div class="hyt-modal">

    <div class="dialog hyt-modal-body container-fluid">

        <div id="header-row" class="row">

            <div class="col-12 action-header">
                <h2>Data recording</h2>
                <!--@I18N-->
            </div>

        </div> <!-- END HEADER ROW -->

        <div id="body-row" class="row">

            <div class="col-12 dialog-body">
                <p>
                    {{textBodyModal}}
                </p>
                <!--@I18N-->
            </div>

        </div> <!-- END BODY ROW -->

        <div id="footer-row" class="row">

            <div class="col-6">

                <hyt-button [color]="'hyt-base-total-green'" (clickFn)="confirm($event)">
                    <span class="hyt-icon icon-hyt_valid"></span> 
                    <span i18n="@@HYT_widget_settings_apply">HYT_widget_settings_apply</span>
                </hyt-button>
            
            </div>

            <div class="col-6">

                <hyt-button [color]="'hyt-base-total-red'" (clickFn)="cancel($event)">
                    <span class="hyt-icon icon-hyt_cancel"></span>
                    <span i18n="@@HYT_widget_settings_cancel">HYT_widget_settings_cancel</span> 
                </hyt-button>

            </div>

        </div> <!-- END FOOTER ROW -->
        
    </div>
    
</div>
    
<div class="hyt-modal-background"></div>