  .map-container {
    height: 500px;
    background-size: 100% 100%;
    border: dotted #ddd 2px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    width: 100%;
    .overlay-media {
      display: flex;
      flex-direction: column;
      flex: 1;
      background-color: #FFFFFF;
      align-items: center;
      justify-content: flex-start;
      padding-top: 10%;
      .overlay-text {
        text-transform: uppercase;
        font-family: "Exo";
        font-size: 1.2em;
        font-weight: bold;
        color: #2756b6;
      }
    }
  }
