<form class="packet-form" [formGroup]="packetForm" autocomplete="on">

  <div class="row">
    <div class="col-md-6 container-form-field">
      <hyt-input-text [form]="packetForm" formControlName="hpacket-name" name="hpacket-name" [isRequired]="true"
        i18n-placeholder="@@HYT_name" placeholder="HYT_name" [injectedErrorMsg]="getError('hpacket-name')"
        [externalHint]="'Enter the packet name. Packet name should...'" (outHint)="updateHint($event)">
      </hyt-input-text> <!-- Field Name -->
    </div>
    <div class="col-md-6 container-form-field">
      <hyt-select [form]="packetForm" [options]="devicesOptions" formControlName="hpacket-device" name="hpacket-device"
        [isRequired]="true" i18n-label="@@HYT_device" label="HYT_device">
      </hyt-select> <!-- Field Packet -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 container-form-field">
      <ng-container i18n="@@HYT_typology">HYT_typology</ng-container>
      <hyt-radio-button [form]="packetForm" [options]="typologyOptions" formControlName="hpacket-type"
        name="hpacket-type" [verticalAlign]="true">
      </hyt-radio-button>
    </div> <!-- Field Typology -->
    <div class="col-md-4 container-form-field">
      <ng-container i18n="@@HYT_format">HYT_format</ng-container>
      <hyt-radio-button [form]="packetForm" [options]="formatOptions" formControlName="hpacket-format"
        name="hpacket-format" [verticalAlign]="true">
      </hyt-radio-button>
    </div> <!-- Field Format -->
    <div class="col-md-4 container-form-field">
      <ng-container i18n="@@HYT_serialization">HYT_serialization</ng-container>
      <hyt-radio-button [form]="packetForm" [options]="serializationOptions" formControlName="hpacket-serialization"
        name="hpacket-serialization" [verticalAlign]="true">
      </hyt-radio-button>
    </div> <!-- Field Serialization -->
  </div>

  <div class="row">
    <div class="col-md-6 container-form-field">
      <hyt-input-text [form]="packetForm" formControlName="hpacketTimeStamp" name="hpacketTimeStamp" [isRequired]="true"
        i18n-placeholder="@@HYT_timestamp" placeholder="HYT_timestamp" [injectedErrorMsg]="getError('hpacketTimeStamp')"
        [fieldValue]="'timestamp'" [externalHint]="'Choose the timestamp field name. Timestamp is...'"
        (outHint)="updateHint($event)">
      </hyt-input-text> <!-- Field TimeStamp -->
    </div>
    <div class="col-md-6 container-form-field">
      <hyt-input-text [form]="packetForm" formControlName="hpacketTimeStampFormat" name="hpacketTimeStampFormat"
        [isRequired]="true" i18n-placeholder="@@HYT_timestamp_format" placeholder="HYT_timestamp_format"
        [injectedErrorMsg]="getError('hpacketTimeStampFormat')" [fieldValue]="'dd/MM/yyyy HH.mmZ'"
        [externalHint]="'Choose the timestamp format. For example...'" (outHint)="updateHint($event)">
      </hyt-input-text> <!-- Field TimeStampFormat -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 container-form-field">
      <hyt-select [form]="packetForm" [options]="trafficPlanOptions" formControlName="packetTrafficPlan"
        name="packetTrafficPlan" [isRequired]="true" i18n-label="@@HYT_traffic_plan" label="HYT_traffic_plan"
        [selected]="'MEDIUM'">
      </hyt-select> <!-- Field Traffic Plan -->
    </div>
  </div>

  <div class="container-form-field errorMessage">
    <ng-container *ngIf="getError('general')">
      {{getError('general')}}
    </ng-container>
  </div> <!-- Error Box -->

  <hyt-button *ngIf="submitType == 'ADD'" id="packet-form-add-button"
    [isDisabled]="invalid() || pageStatus == PageStatus.Loading" (clickFn)="postPacket()" type="submit">
    <ng-container i18n="@@HYT_add_packet">HYT_add_packet</ng-container>
  </hyt-button>

  <hyt-button *ngIf="submitType == 'UPDATE'" id="packet-form-update-button"
    [isDisabled]="invalid() || pageStatus == PageStatus.Loading" (clickFn)="putPacket()" type="submit">
    <ng-container i18n="@@HYT_update_packet">HYT_update_packet</ng-container>
  </hyt-button>

</form>