CAMBIA PASSWORD
<form [formGroup]="recoverForm" (ngSubmit)="resetPwd()">

  <br>

  <div>
    <label>password: </label>
    <input type="password" formControlName="password">
    <div *ngIf="recoverForm.get('password').invalid && recoverForm.get('password').dirty" style="color: red;">
      <div *ngIf="recoverForm.get('password').errors.required">
        Campo richiesto
      </div>
    </div>
  </div>

  <br>

  <div>
    <label>conferma password: </label>
    <input type="password" formControlName="confPassword">
    <div *ngIf="recoverForm.get('confPassword').invalid && recoverForm.get('confPassword').dirty" style="color: red;">
      <div *ngIf="recoverForm.get('confPassword').errors.required">
        Campo richiesto
      </div>
    </div>
  </div>

  <br>

  <button type="submit" [disabled]="!recoverForm.valid">MANDA</button>
</form>
{{status}}
