<div id="container-algorithm-wizard">

  <div class="header d-flex flex-row justify-content-stretch">
    <div class="breadcrumb flex-grow-1">
      <span class="hyt-icon icon-hyt_algorithmSolo"></span> <a [routerLink]="['/']" i18n="@@HYT_home">Home</a> >
      <strong i18n="@@HYT_algorithms_wizard">Algorithms Wizard</strong>
    </div>
  </div>

  <div id="container-wizard" class="row">

    <div id="container-steps" class="col-md-10">

      <ng-template #algorithmInfoTemplate>
        <hyt-algorithm-info-form [currentAlgorithmSubject]="currentAlgorithmSubject" #algorithmInfoForm (entityEvent)="onEntityEvent($event)"></hyt-algorithm-info-form>
      </ng-template>

      <ng-template #outputFieldsTemplate>
        <hyt-output-fields-form [currentAlgorithmSubject]="currentAlgorithmSubject" #outputFieldsForm (entityEvent)="onEntityEvent($event)"></hyt-output-fields-form>
      </ng-template>

      <ng-template #algorithmJarTemplate>
        <hyt-algorithm-jar-form [currentAlgorithmSubject]="currentAlgorithmSubject" #algorithmJarForm (entityEvent)="onEntityEvent($event)"></hyt-algorithm-jar-form>
      </ng-template>

      <div class="row">
        <div class="col-md-12">
          <hyt-stepper #stepper (selectionChange)="stepChanged($event)" [isLinear]="true" style="width: 100%"
            [stepArray]="[
              algorithmInfoTemplate,
              outputFieldsTemplate,
              algorithmJarTemplate
            ]" [labelArray]="[
              entitiesService.algorithm.displayListName,
              'Output',
              'JAR'
            ]" [completedArray]="[
              currentAlgorithm != null,
              currentOutput.length > 0,
              currentAlgorithm != null && currentAlgorithm.jarName
            ]" [isDirty]="[
              getDirty(0),
              getDirty(1),
              getDirty(2)
            ]">
          </hyt-stepper>
        </div>
      </div>

      <div id="container-save-update" class="container">

        <div id="row-save-update" class="row">

          <div class="col-12">

            <hyt-button [color]="'hyt-base-default-white'" class="toRight" *ngIf="currentForm" (clickFn)="onSaveClick($event)"
            [isDisabled]="!currentForm.isValid() || !currentForm.isDirty() || currentForm.loadingStatus != 0">
              <ng-container *ngIf="currentForm && currentForm.isNew()" i18n="@@HYT_save">Save</ng-container>
              <ng-container *ngIf="currentForm && !currentForm.isNew()" i18n="@@HYT_update">Update</ng-container>
            </hyt-button>

            <hyt-button [color]="'hyt-base-default-white'" class="toRight" *ngIf="currentForm && showCancel()" (clickFn)="onCancelClick($event)">
              <ng-container i18n="@@HYT_cancel">Cancel</ng-container>
            </hyt-button>

            <div class="clear"></div>
          </div>
        </div>

      </div>

      <div id="container-prev-next" class="container-fluid">

        <div id="row-next-back" class="row">

          <div *ngIf="currentStepIndex != 0" class="col-6">
            <hyt-button [color]="'hyt-stepper-prev'" (clickFn)="stepper.previous()">
              <span class="hyt-icon icon-hyt_arrowLeft"></span> <ng-container i18n="@@HYT_back">Back</ng-container>
            </hyt-button>
          </div>

          <div [ngClass]="{'offset-6': currentStepIndex == 0}" class="col-6">

            <hyt-button class="toRight" [color]="'hyt-stepper-next'" [isDisabled]="isNextDisabled()" 
              (clickFn)="currentStepIndex == 2 ? openFinishModal() : stepper.next()"
            >
            <ng-container i18n="@@HYT_next">Next</ng-container> <span class="hyt-icon icon-hyt_arrowRight"></span>
            </hyt-button>

          </div>

        </div>

      </div>

    </div>

    <div id="hint-column" class="col-md-2">

      <!-- NEW ACCORDION -->
      <div *ngIf="currentForm" id="section-title" (click)="togglePanel()"
        [ngClass]="{'clicked': panelIsVisible, 'unclicked': !panelIsVisible}" class="row">

        <div id="icon-title" class="col-4">
          <hyt-hexagon [iconPath]="currentForm.icon" [dimension]="0.7"></hyt-hexagon>
        </div>

        <div id="text-title" class="col-8">
          {{currentForm.formTitle}}
        </div>

      </div>

      <div *ngIf="currentForm" id="section-title-panel" [ngClass]="{'panel-open': panelIsVisible}" class="row">
        <div class="col-12">
          {{currentForm.longDefinition}}
        </div>
      </div>

      <hr id="title-underline">
      <!-- END NEW ACCORDION -->

      <div *ngIf="hintVisible" class="info-message m-2 mt-4 d-flex flex-row">
        <span class="text p-2 flex-grow-1">{{hintMessage}}</span>
        <mat-icon class="">info</mat-icon>
        <!--mt-2 mr-2-->
      </div>

    </div>

  </div>

</div>