<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content class="mb-3">
    {{data.message}}
</mat-dialog-content>
<mat-dialog-actions class="d-flex flex-row justify-content-around">
    <button color="primary" mat-button mat-dialog-close="cancel" class="m-2 btn-left">
        <mat-icon>arrow_back</mat-icon>
        <span>Cancel</span>
    </button>
    <button defaultButton color="warn" mat-button mat-dialog-close="delete" class="m-2 btn-right">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
    </button>
</mat-dialog-actions>
