
#container-application-form {
    padding-top: 35px;

    &.container {
        position: relative;
    }

    form {

        &.blurred {

            -webkit-filter: blur(1px);
            -moz-filter: blur(1px);
            -ms-filter: blur(1px);
            -o-filter: blur(1px);    
            filter: blur(1px);
            
        }

        .form-group {

            &.row {
                
                hyt-input-text {
                    
                    mat-form-field {
                        margin-bottom: 10px;
                    }
    
                }

                hyt-input-text,
                hyt-text-area {
                    
                    mat-form-field {
                        font-family: 'Exo';
                    }
    
                }

                hyt-text-area {
                    
                    mat-form-field {
                        
                        textarea {

                            min-height: 173px;

                        }

                    }
    
                }

                #fdev-col-desc {
                    padding-top: 18px;

                    mat-form-field {
                        textarea {
                            height: 155px;
                        }
                    }
                }
            }
        }
    }

    .overlay {
        position: absolute;
        background-color: rgba(255,255,255,.75);
        left: 0; top: 0; right: 0; bottom: 0;

        .loading-logo {
            height: 63%;
            width: 100%;
            position: relative;
            text-align: center;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            background-image: url('~/assets/images/hyperiot_logo_single_char_animated.svg');
            background-size: 220px;
            background-repeat: no-repeat;
            background-position: top center;

            img {
                height: 100%;
                margin-bottom: 5px;
                max-height: 178px;
                width: auto;
            }
            
            h4 {
                text-align: center;
            }
        }

        mat-progress-bar {
            max-width: 200px;
            margin: 8px;
        }

        .error-overlay {

            hyt-button {

                margin: 20px auto 0px auto;

                span {

                    &.icon-hyt_cancelC {

                        font-size: 1.3em;
                        vertical-align: sub;
                        margin-left: 5px;

                    }

                }

            }

        }


    }

}

.displayNone {
    display: none;
}
