
#container-application-form {
    padding-top: 35px;

    &.container {
        position: relative;
    }

    form {
        .form-group {
            &.row {
                
                hyt-input-text {
                    
                    mat-form-field {
                        margin-bottom: 10px;
                    }
    
                }

                hyt-input-text,
                hyt-text-area {
                    
                    mat-form-field {
                        font-family: 'Exo';
                    }
    
                }

                hyt-text-area {
                    
                    mat-form-field {
                        
                        textarea {

                            min-height: 173px;

                        }

                    }
    
                }

                #fdev-col-desc {
                    padding-top: 18px;

                    mat-form-field {
                        textarea {
                            height: 155px;
                        }
                    }
                }
            }
        }
    }

    .overlay {
        position: absolute;
        background-color: rgba(255,255,255,.75);
        left: 0; top: 0; right: 0; bottom: 0;

        mat-progress-bar {
            max-width: 200px;
            margin: 8px;
        }
    }

}

.displayNone {
    display: none;
}
