<button
    mat-button
    class="event-bell"
    (click)="showPanel($event)"
    [matTooltip]="tooltipStatus(eventNotificationIsOn | async)"
    matTooltipPosition="below"
>
    <div
        class="notification-count"
        [ngStyle]="{'font-size': (notificationCount$ | async) > 99 ? '.65em' : '.8em'}"
        *ngIf="eventNotificationIsOn | async"
    >{{ notificationCountLabel$ | async }}</div>
    <div id="event-notification-btn" [class.off-notification]="!(eventNotificationIsOn | async)">
        <span class="hyt-icon icon-hyt_notification"></span>
    </div>
</button>
