<div id="container-device-select" class="container">

        <form class="field-form" [formGroup]="selectForm" autocomplete="on">

            <div class="form-group row">

                <div id="fpack-col-sel-dev" class="col-6">

                    <hyt-select 
                        [form]="selectForm" formControlName="selectDevice" name="selectDevice"
                        [options]="devicesOptions" i18n-label="@@HYT_source" label="Source"
                        (changeFn)="deviceChanged($event)" [sortingAlgorithm]="'A-Z'" [isSortable]="true"
                    >
                    </hyt-select>

                </div>
        
            </div>
        
        </form>

</div>
