#container-device-select {
    padding-top: 35px;
    margin-bottom: 20px;

    hyt-select {

        mat-form-field {

            width: 100%;

            mat-select {

                font-family: 'Exo';

            }

            label {

                &.mat-form-field-label {

                    font-family: 'Exo';

                }

            }

        }

    }

}

mat-option {

    &.mat-option {

        font-family: 'Exo';

    } 

}