<div id="container-device-select" class="container">

        <form class="field-form" [formGroup]="selectForm" autocomplete="on">

            <div class="form-group row">

                <div id="fpack-col-sel-dev" class="col-12">

                    <!-- <hyt-select 
                        [form]="selectForm" formControlName="selectDevice" name="selectDevice"
                        [options]="devicesOptions" i18n-label="@@HYT_device" label="HYT_device"
                        (changeFn)="deviceChanged($event)"
                    >
                    </hyt-select> -->

                    <hyt-select 
                        [form]="selectForm" formControlName="selectDevice" name="selectDevice"
                        [options]="devicesOptions" label="Source"
                        (changeFn)="deviceChanged($event)"
                    >
                    </hyt-select>

                </div>
        
            </div>
        
        </form>

</div>
