<div id="container-area-map">
  <ng-container *ngIf="pageStatus === 1">
    <div
      id="container-treeview-project"
      [ngClass]="{'displayBlock': treeViewIsOpen, 'displayNone': !treeViewIsOpen}"
      cdkDrag
      [cdkDragFreeDragPosition]="dragPosition"
      cdkDragBoundary="#hyt-container"
      (cdkDragEnded)="dragEnded($event)"
    >
      <div id="close-tree-btn" (click)="toggleTreeViewProject()">
        <span class="hyt-icon icon-hyt_cancel"></span>
      </div>

      <div id="treeViewHeader" cdkDragHandle></div>

      <div id="treeViewBody">
        <div *ngIf="overlayTreeView" class="overlay-treeview">{{overlayTreeViewMsg}}</div>
        <hyt-tree-view-project #treeView class="treeview" (nodeClick)="onTreeNodeClick($event)"></hyt-tree-view-project>

      </div>

    </div>

    <div id="container-map">

      <div
        id="area-title"
        *ngIf="areaId && areaPath && areaPath.length > 0"
      >

        <h2>
          Area: <span id="specific-area-name">{{ areaName }}</span>
        </h2>

      </div>

      <div id="map-header">

        <div id="head-left">

          <hyt-button
            [color]="'hyt-base-total-white'"
            (clickFn)="toggleTreeViewProject()"
          >

          <span
            [ngClass]="{'icon-hyt_eyeClose': treeViewIsOpen, 'icon-hyt_eyeOpen': !treeViewIsOpen}"
          ></span>
            {{ preTitleTreeView }} <span i18n="HYT_area_treeview">Area Treeview</span>

          </hyt-button><!-- @I18N@ -->

        </div>

        <div id="head-center">

          <div>Sub-areas: {{areaList.length}} Devices: {{areaDevices.length}}</div>

        </div>

        <div id="head-right">

          <hyt-button [color]="'hyt-base-total-white'" (clickFn)="onEditButtonClick()">

            <span class="icon-hyt_pencil"></span>
            Edit

          </hyt-button><!-- @I18N@ -->

        </div>

      </div>

      <div id="map-body">
        <hyt-area-map
          *ngIf="areaViewType === 'IMAGE'"
          #map
          (itemOpen)="onItemMapClicked($event)"
        ></hyt-area-map>

        <div *ngIf="areaViewType === 'BIM_XKT'" id="container-bim-viewer">
          <ng-container *ngIf="isBimLoading; else bimLoaded">
            <div id="bimLoading">
              <ng-container *ngIf="!isEmptyBim; else emptyBim">
                BIM Model Loading...
              </ng-container>
              <ng-template #emptyBim>
                No Model
              </ng-template>
            </div>
          </ng-container>
          <ng-template #bimLoaded>
            <hyt-bim
              [pathBim]="pathBim"
              [currentAreaConfiguration]="areaConfiguration"
              [projectId]="projectId"
              [areaId]="areaId"
              #map
            ></hyt-bim>
          </ng-template>
        </div>

      </div>

    </div>
  </ng-container>

  <ng-container *ngIf="pageStatus === 0">
    <div class="area-map-loading">
      <h2 i18n="HYT_page_is_loading">Page is loading...</h2>
    </div>
  </ng-container>

  <ng-container *ngIf="pageStatus === -1">
    <div class="area-map-error">
      <h2 i18n="@@HYT_error_occurred_long">An error has occurred, contact the administrator!</h2>
    </div>
  </ng-container>
</div>
