<div [formGroup]="form">

    <label class="f-label">Fourier Transform method</label>       
    <div class="radio-options pl-2 pr-2">
        <hyt-radio-button [form]="form"
            formControlName="transformMethod" name="transformMethod"
            [options]="methodOptions" (changeFn)="onTransformMethodChange($event)">
        </hyt-radio-button>
    </div>

    <div [ngClass]="{ hidden: config.transformMethod !== 'FAST' }">
        <div class="d-flex flex-row">

            <div>
                <label class="f-label">FFT Normalization</label>
                <div class="radio-options pl-2 pr-2">
                    <hyt-radio-button [form]="form"
                        formControlName="transformNorm" name="transformNorm"
                        [options]="normOptions"
                        (changeFn)="onTransformNormChange($event)">
                    </hyt-radio-button>
                </div>    
            </div>
    
            <div>
                <label class="f-label">FFT Type</label>       
                <div class="radio-options pl-2 pr-2">
                    <hyt-radio-button [form]="form"
                        formControlName="transformType" name="transformType"
                        [options]="typeOptions"
                        (changeFn)="onTransformTypeChange($event)">
                    </hyt-radio-button>
                </div>
            </div>
    
        </div>
    </div>

    <div class="d-flex flex-row">
        <div class="m-4">
            <hyt-select 
                [form]="form" [options]="inputFieldOptions" (changeFn)="onInputFieldChange($event)"
                formControlName="inputField" name="inputField" [isRequired]="true"
                label="Input field">
            </hyt-select>
        </div>
        <div *ngIf="!config.outputFieldId || outputFieldName.length === 0" class="m-4">
            <hyt-input-text 
                [form]="form" formControlName="outputField" name="outputField" [isRequired]="true"
                (change)="onOutputFieldChange($event)"
                placeholder="Output field name"
                hintMessage="Set the name of the transform result field">
            </hyt-input-text>
        </div>
        <div *ngIf="config.outputFieldId && outputFieldName.length > 0" class="m-4">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column mr-4">
                    <label class="f-label">Output field</label>
                    <strong>{{ outputFieldName }}</strong>
                </div>
                <hyt-button (clickFn)="onOutputFieldResetClick()">Change</hyt-button>
            </div>
        </div>
    </div>

</div>
