<div id="eventMail">
  <form class="eventMail-form" [formGroup]="mailForm" autocomplete="on">

    <div class="row">
      <div class="col-md-4 container-form-field">
        <hyt-input-text [form]="mailForm" formControlName="mailRecipient" name="mailRecipient" [isRequired]="true"
          placeholder="HYT_mail_to">
        </hyt-input-text>
      </div> <!-- Mail Recipient -->
      <div class="col-md-4 container-form-field">
        <hyt-input-text [form]="mailForm" formControlName="mailCC" name="mailCC" placeholder="HYT_mail_cc">
        </hyt-input-text>
      </div> <!-- Mail CC -->
      <div class="col-md-4 container-form-field">
        <hyt-input-text [form]="mailForm" formControlName="mailObject" name="mailObject" placeholder="HYT_mail_object">
        </hyt-input-text>
      </div> <!-- Mail Object -->
    </div>

    <div class="row">
      <div class="col-md-12 container-form-field">
        <hyt-text-area [form]="mailForm" formControlName="mailBody" name="mailBody" placeholder="HYT_mail_body">
        </hyt-text-area>
      </div> <!-- Mail Body -->
    </div>

  </form>

  <hyt-selectable-text [placeHolders]="placeHolders" (clicked)="addPlaceHolder($event)"></hyt-selectable-text>

</div>
