:host {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* variables */
    --header-height: 32px;
    --footer-height: 32px;
    --category-list-width: 120px;
    --header-color: rgba(50, 50, 50, 0.1);
}

.dialog {
    position: relative;
    width: 100%; height: 600px;
    max-width: 800px;
    overflow: hidden; 
    background: white;
    border: solid 1px rgba(0, 0, 0, 0.1);
    padding-top: var(--header-height);
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

.dialog header {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: var(--header-height);
    line-height: var(--header-height);
    vertical-align: middle;
    font-family: serif;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--header-color);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.dialog footer {
    position: absolute;
    left: 0; right:0; bottom: 0;
    height: var(--footer-height);
    background-color: var(--header-color);
    border-top: 1px solid rgba(0,0,0,0.1);
}
.dialog footer div.selected-status {
    position: absolute;
    height: var(--footer-height);
    line-height: var(--footer-height);
    vertical-align: middle;
    margin-left: 10px;
    font-weight: 600;
}

.dialog .button-close, .dialog .button-confirm {
    float: right;
    margin-top: 1px;
    margin-right: 10px;
}

.category-list {
    position: absolute;
    left: 0; top: var(--header-height);
    bottom: var(--footer-height);
    width: var(--category-list-width);
    overflow-y: auto;
    border-right: 1px solid rgba(0,0,0,0.2);
    outline: none;
}

button.category-item {
    background: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px;
    padding-right: 12px;
    width: 100%;
    height: 48px;
    font-size: 14px;
    font-weight: 200;
    color: gray;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    outline: none;
}
button.category-item[disabled] {
    opacity: 0.6;
}
button.category-item.selected {
    border-bottom: solid 2px rgb(0, 255, 0); 
}
.category-item img {
    width: 32px;
    height: 32px;
    opacity: 0.25;
}
.category-item div {
    flex: 1;
    text-align: right;
}

.widget-list {
    position: absolute;
    top: var(--header-height);
    left: var(--category-list-width);
    right: 0; bottom: 0;
    padding: 8px;
    overflow-y: auto;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}
.widget-item {
    position: relative;
    top: 4px; left: 4px; bottom: 4px; right: 4px;
    width: 220px;
    height: 160px;
    margin: 12px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
    border: solid 1px transparent;
    border-radius: 4px;
    transition: all;
    transition-duration: 200ms;
}
.widget-item header {
    position: relative;
    font-size: 14px;
    text-align: left;
    font-weight: 100;
    padding-left: 10px;
    border-bottom: 0;
}
.widget-item.selected {
    border: solid 1px rgb(0, 255, 0);
}
.widget-item:active,.widget-item.selected {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.widget-item input.item-count {
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 4px;
    margin-left: -32px;
    width: 64px;
    height: 24px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    outline: none;
    text-align: center;
}
.widget-item button {
    position: absolute;
    bottom:0;
    width: 32px;
    height: 32px;
    border: none;
    opacity: 0.35;
    background-color: transparent;
    background-position: center; 
    outline: none;
}
.widget-item button.remove {
    left:0;
    background-image: url("/assets/widgets/images/baseline-arrow_left-24px.svg");
}

.widget-item button.add {
    right: 0;
    background-image: url("/assets/widgets/images/baseline-arrow_right-24px.svg");
}

/* TODO: add responsive media-query for smaller screens (1024 / 640 / 480) */