<div class="hyt-modal">

    <div class="dialog hyt-modal-body" [ngSwitch]="dialogDataState">

        <div *ngSwitchCase="0">
            <header id="title-modal" i18n="@@addWidgetDialog-header">HYT_widget_add_widget</header>
            <div class="loader"></div>
        </div>

        <div *ngSwitchCase="1">
            <header id="title-modal" i18n="@@addWidgetDialog-header">HYT_widget_add_widget</header>

            <div class="category-list">
    
                <button class="category-item"
                    [disabled]="!(category.value.name=='all' || widgetsByCategory[category.key].length != 0)"
                    [ngClass]="{selected: category.value === selectedCategory}"
                    *ngFor="let category of widgetCategoryList | keyvalue:orderById"
                    (click)="onCategorySelect(category.value)">
                    <span class="hyt-icon {{category.value.fontIcon}}"></span>
                    <div class="cat-name">{{category.value.name}}</div>
                </button> 
                
            </div>
    
            <div class="widget-list" *ngIf="selectedCategory != null">

                <div class="widget-item"
                    *ngFor="let widget of filteredWidgets"
                    [ngClass]="{selected: widget.count > 0}"
                    (click)="currentWidget = widget"
                    >
                    <div class="widget-name">{{ widget.name }}</div>
                    <img *ngIf="widget.image" [src]="widget.image">
                    <input type="number" class="item-count"
                        title="HYT_widget_add_quantity" i18n-title="@@addWidgetDialog-add-quantity"
                        min="0" max="{{widgetAddMax}}"
                        [(ngModel)]="widget.count"
                        (ngModelChange)="onWidgetChange(widget)">
                    <!-- <button class="remove" i18n-title="@@addWidgetDialog-add-less" title="HYT_widget_add_less" (click)="removeWidget(widget)"></button>
                    <button class="add" i18n-title="@@addWidgetDialog-add-more" title="HYT_widget_add_more" (click)="addWidget(widget)"></button> -->
                </div>
    
            </div>

    
            <div class="widget-info">
    
                <div id="info" *ngIf="currentWidget != null">
                    <h3>{{ currentWidget.name }}</h3>
                    <div *ngIf="currentWidget.preView">
                        <img [src]="currentWidget.preView" width="100%">
                    </div>
                    <div>
                        <star-rating
                            [value]="currentWidget.avgRating || 2.5"
                            checkedcolor="gold"
                            uncheckedcolor="gray"
                            size="32px"
                            readonly="false"
                            (rate)="onRate($event)">
                        </star-rating>
                    </div>
                    <label i18n="@@addWidgetDialog-info-type">HYT_widget_info_type</label>
                    <p>
                        {{ currentWidget.widgetCategory.name }}
                    </p>
                    <div>
                        <label i18n="@@addWidgetDialog-info-description">Description</label>
                        <p>{{ currentWidget.description }}</p>
                    </div>
    
                </div>
    
                <div *ngIf="!currentWidget" id="intro-info" i18n="@@addWidgetDialog-info-intro">
                    HYT_widget_info_intro
                </div>
    
            </div>
    
            <footer>
                <hyt-button class="button-close"
                    (clickFn)="close()">
                    <span i18n="@@addWidgetDialog-btn-cancel">HYT_widget_cancel</span>
                    <mat-icon>close</mat-icon>
                </hyt-button>
                <hyt-button [isDisabled]="selectedWidgets.length === 0" class="button-confirm"
                    (clickFn)="confirm()">
                    <span i18n="@@addWidgetDialog-btn-add">HYT_widget_add</span>
                    <mat-icon>add</mat-icon>
                </hyt-button>
            </footer>
        </div>

        <div *ngSwitchCase="-1">
            <header id="title-modal" i18n="@@addWidgetDialog-header">HYT_widget_add_widget</header>
            <div class="mt-5 d-flex flex-column align-items-center justify-content-center">
                <h2>An error has occurred, contact the administrator.</h2>
            </div>
        </div>

    </div>

</div>

<div class="hyt-modal-background"></div>