plotly-plot {
    display: block;
    // position: absolute;
    width: 100%;
    height: 100%;
  
    .js-plotly-plot {
      display: block;
      // position: absolute;
      width: 100%;
      height: 100%;
      margin: 0px 0px 0px -0.1px;
    }
  }
  