<div id="container-events" class="container">

  <!-- <p class="subtitle-section">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum magna lacus, a lacinia orci feugiat non. Quisque pharetra quam vitae pharetra euismod. Curabitur sodales eget elit id aliquam. In hac habitasse platea dictumst. Nam in dignissim leo. Pellentesque in lorem at justo mollis volutpat. Nam rutrum, orci vel fermentum semper, felis ante dictum nisl, vitae ultricies lectus ante iaculis nibh. Donec facilisis sagittis ligula, ut consequat elit facilisis non. Nam non enim magna. Mauris euismod velit sit amet porta fermentum.
    </p> ONLY FOR PROJECT DETAIL -->

  <div *ngIf="!editMode" id="events-edit-mode" class="form-group row">

    <div id="btn-edit-mode" class="col-12">

      <hyt-button 
        [color]="'hyt-base-default-white'"
        (clickFn)="loadEmpty()"
      >
        <span class="hyt-icon icon-hyt_plus"></span>
        <span i18n="@@HYT_add_event">Add event</span>

      </hyt-button>

    </div>

  </div>

  <form [ngClass]="{ hidden: !editMode, 'blurred': loadingStatus !== LoadingStatus.Ready }" class="events-form" [formGroup]="form" autocomplete="on">

    <div class="form-group row">

      <div id="fevent-col-name" class="col-6">

        <hyt-input-text [form]="form" name="rule-name" [isRequired]="true" i18n-placeholder="@@HYT_name"
          placeholder="Name" [injectedErrorMsg]="getError('rule-name')"
          i18n-hintMessage="@@HYT_hint_event_name"
          hintMessage="Enter the event name">
        </hyt-input-text>

      </div> <!-- Field Name -->

      <div id="fevent-col-descr" class="col-6">

        <hyt-text-area [form]="form" name="rule-description" i18n-placeholder="@@HYT_description"
          placeholder="Description"
          i18n-hintMessage="@@HYT_hint_event_description"
          hintMessage="Enter the event description">
        </hyt-text-area>

      </div> <!-- Field RuleDescription -->

    </div> <!-- END FIRST ROW -->

    <div class="form-group row">
      <div id="fevent-col-tag" class="col-6">
        <!-- TODO remove warning on FormControl -->
        <mat-form-field class="tag-selection">
          <mat-label>Selected tag</mat-label>
          <mat-chip-list #chipList>
            <mat-chip
              *ngFor="let tag of selectedTags"
              [selectable]="true"
              [removable]="true"
              (removed)="remove()" [style.backgroundColor]="tag.color">
              {{tag.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Select tag"
              #tagInput
              [formControl]="tagCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              (matChipInputTokenEnd)="add($event)"
              #trigger="matAutocompleteTrigger"
              (keydown.enter)="$event.target.blur(); trigger.closePanel()">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of allTags" [value]="tag">
              {{tag.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div> <!-- Tag selection -->
    </div> <!-- END SECOND ROW -->

    <div class="form-group row">

      <div id="fevent-col-event" class="col-6">

        <p id="label-event-aoutput" i18n="@@HYT_output_data">Event output</p>
        
        <div id="container-radio-events">

          <hyt-radio-button 
            [form]="form" 
            [options]="outputOptions" 
            name="eventOutput"
            (changeFn)="changeEventView($event)">
          </hyt-radio-button>

        </div>

      </div> <!-- Field Oputput -->

    </div> <!-- END SECOND ROW -->

    <div class="form-group row">

      <div id="fevent-col-container-rules" class="col-12">
        <hyt-rule-definition #eventDef [currentPacket]="null" ruleType="event" [projectId]="currentProject ? currentProject.id : null"></hyt-rule-definition>
      </div> <!-- Field RuleDefinition -->

    </div> <!-- END THIRD ROW -->

    <hyt-event-component-container [currentProjectId]="currentProject ? currentProject.id : null" #eventComponentContainer></hyt-event-component-container>

    <div *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
        
      <div 
        *ngIf="loadingStatus === LoadingStatus.Loading" 
      >

          <h4 i18n="@@HYT_loading_data">Loading data...</h4>

      </div> 
      
      <div *ngIf="loadingStatus === LoadingStatus.Error" class="error-overlay d-flex flex-column justify-content-center">
          <h4 i18n="@@HYT_error_occurred">An unexpected error has occurred</h4>

          <hyt-button 
              [color]="'hyt-base-default-white'" 
              (click)="loadingStatus = LoadingStatus.Ready"
          >
              <span i18n="@@HYT_close">Close</span> <span class="icon-hyt_cancelC"></span> 
          </hyt-button>
      </div> 

      <h4 *ngIf="loadingStatus === LoadingStatus.Saving" i18n="@@HYT_saving_data">Saving data...</h4>

      <mat-progress-bar 
          *ngIf="loadingStatus === LoadingStatus.Loading || loadingStatus === LoadingStatus.Saving"
          mode="indeterminate"
      ></mat-progress-bar> 

    </div>

  </form>

</div>