<div class="dialog d-flex flex-column align-self-center">

    <header i18n="@@widgetSettingsDialog-header">Widget Settings</header>

    <form class="content flex-grow-1" #settingsForm="ngForm">

        <div class="common-settings">
            <div class="d-flex flex-row">
                <div class="padding-6 d-flex flex-column align-items-stretch">
                    <label for="name"
                        [ngClass]="{'error-color': name.invalid}"
                        i18n="@@widgetSettingsDialog-lbl-name">
                        Name
                    </label>
                    <input name="name" id="name" type="text"
                        [(ngModel)]="widgetName" #name="ngModel"
                        required
                        pattern="[A-Za-z0-9 ]*">
                </div>
                <div class="padding-6 d-flex flex-column align-items-stretch">
                    <label i18n="@@widgetSettingsDialog-lbl-type">Type</label>
                    {{ widget.type }}
                </div>
                <div class="padding-6 d-flex flex-column align-items-stretch">
                    <label>ID</label>
                    {{ widget.id }}
                </div>
            </div>
        </div>

        <div class="custom-settings" [ngSwitch]="widget.type">
            <div *ngSwitchCase="'sensor-value'">
                <hyt-sensor-value-settings [widget]="widget" [modalApply]="modalApply" [settingsForm]="settingsForm">
                </hyt-sensor-value-settings>
            </div>
            <div *ngSwitchCase="'gauge-value'">
                <hyt-sensor-value-settings [widget]="widget" [modalApply]="modalApply" [settingsForm]="settingsForm">
                </hyt-sensor-value-settings>
            </div>
            <div *ngSwitchCase="'stats-chart'">
                <hyt-stats-chart-settings [widget]="widget" [modalApply]="modalApply" [settingsForm]="settingsForm">
                </hyt-stats-chart-settings>
            </div>
            <div *ngSwitchCase="'time-chart'">
                <hyt-time-chart-settings [widget]="widget" [modalApply]="modalApply" [settingsForm]="settingsForm">
                </hyt-time-chart-settings>
            </div>
            <div *ngSwitchCase="'text-label'">
                <hyt-text-label-settings [widget]="widget" [modalApply]="modalApply" [settingsForm]="settingsForm">
                </hyt-text-label-settings>
            </div>
            <div *ngSwitchDefault>
                <em>TODO: ....</em>
            </div>
        </div>

    </form>

    <footer class="d-flex flex-row align-items-center justify-content-end">
        <button class="button-confirm" (click)="confirm($event)" [disabled]="settingsForm.invalid">
            <span i18n="@@widgetSettingsDialog-btn-apply">Apply</span> &#10004;
        </button>
        <button class="button-close" (click)="close($event)">
            <span i18n="@@widgetSettingsDialog-btn-cancel">Cancel</span> &#10006;
        </button>
    </footer>

</div>
