<div class="hyt-modal">

    <div *ngIf="modalIsOpen" class="dialog d-flex flex-column align-self-center hyt-modal-body"
        [ngSwitch]="dialogDataState">

        <div *ngSwitchCase="0">
            <header i18n="@@HYT_widget_settings_title">HYT_widget_settings_title</header>
            <div class="loader"></div>
        </div>

        <div *ngSwitchCase="1">
            <header i18n="@@HYT_widget_settings_title">HYT_widget_settings_title</header>

            <form class="content flex-grow-1" #settingsForm="ngForm">

                <div class="common-settings">
                    <div class="d-flex flex-row">
                        <div class="mt-4 mx-2 d-flex flex-column align-items-stretch">
                            <hyt-input-template name="name" id="name" type="text"
                                i18n-placeholder="@@HYT_name" placeholder="HYT_name"
                                [(ngModel)]="widgetName" #name="ngModel" [isRequired]="true" required
                                pattern="[A-Za-z0-9 ]*"></hyt-input-template>
                        </div>
                        <div class="mt-4 mx-2 d-flex flex-column align-items-stretch">
                            <hyt-input-template type="text" disabled [isDisabled]="true"
                                i18n-placeholder="@@HYT_type" placeholder="HYT_type"
                                fieldValue="{{widget.type}}"></hyt-input-template>
                        </div>
                    </div>
                </div>

                <div class="custom-settings" [ngSwitch]="widget.type">
                    <div *ngSwitchCase="'sensor-value'">
                        <hyt-sensor-value-settings [widget]="widget" [modalApply]="modalApply.asObservable()"
                            [settingsForm]="settingsForm">
                        </hyt-sensor-value-settings>
                    </div>
                    <div *ngSwitchCase="'gauge-value'">
                        <hyt-sensor-value-settings [widget]="widget" [modalApply]="modalApply.asObservable()"
                            [settingsForm]="settingsForm">
                        </hyt-sensor-value-settings>
                    </div>
                    <div *ngSwitchCase="'stats-chart'">
                        <hyt-stats-chart-settings [widget]="widget" [modalApply]="modalApply.asObservable()"
                            [settingsForm]="settingsForm">
                        </hyt-stats-chart-settings>
                    </div>
                    <div *ngSwitchCase="'time-chart'">
                        <hyt-time-chart-settings [widget]="widget" [modalApply]="modalApply.asObservable()"
                            [settingsForm]="settingsForm">
                        </hyt-time-chart-settings>
                    </div>
                    <div *ngSwitchCase="'text-label'">
                        <hyt-text-label-settings [widget]="widget" [modalApply]="modalApply.asObservable()"
                            [settingsForm]="settingsForm">
                        </hyt-text-label-settings>
                    </div>
                    <div *ngSwitchDefault>
                        <em>TODO: ....</em>
                    </div>
                </div>

            </form>

            <footer class="d-flex flex-row align-items-center justify-content-end">
                <hyt-button class="button-confirm" (clickFn)="confirm($event)" [isDisabled]="settingsForm.invalid">
                    <mat-icon>check</mat-icon>
                    <span i18n="@@HYT_apply">HYT_apply</span>
                </hyt-button>
                <hyt-button class="button-close" (clickFn)="close($event)">
                    <mat-icon>close</mat-icon>
                    <span i18n="@@HYT_cancel">HYT_cancel</span>
                </hyt-button>
            </footer>

        </div>

        <div *ngSwitchCase="-1">
            <header i18n="@@HYT_widget_settings_title">HYT_widget_settings_title</header>
            <div class="mt-5 d-flex flex-column align-items-center justify-content-center">
                <h2 i18n="@@HYT_error_occurred_long">HYT_error_occurred_long</h2>
            </div>
        </div>

    </div>

</div>

<div class="hyt-modal-background"></div>