#eventMail {
    #fevent-col-active {

        #container-radio-events-active {
        border: lightgray solid 1px;
        border-radius: 4px;
        padding-top: 9px;
        padding-left: 9px;
        }

    }
}