:host {
  position: absolute;
}

.draggable-item {
  display: inline-flex;
  position: relative;
  width: 64px;
  height: 64px;
  /* center the element */
  margin-left: -32px;
  margin-top: -32px;

  &.menu-enabled {
    cursor: pointer;
  }

  .remove-button {
    outline: none;
    position: absolute;
    right: -12px;
    top: -12px;
    font-size: 12px;
    font-weight: bolder;
    background-color: red;
    color: white;
    border-radius: 12px;
    width: 24px;
    height: 24px;
  }

  .title {
    position: absolute;
    height: auto;
    bottom: -27px;
    width: 128px;
    left: -32px;
    right: 96px;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 1px gray;
    border-radius: 12px;
    background-color: rgba($color: white, $alpha: 0.65);
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    &.area-title {
      background-color: rgba($color: yellow, $alpha: 0.65);
    }

    &.menu-disabled {
      cursor: default;
      /* bottom: -17px; */
    }

    &.menu-enabled {
      border-radius: 0.3em;
      border: none;
      padding: 0;
      bottom: -17px;
      font-size: .96em;
      background-color: rgba($color: yellow, $alpha: 0.65);
    }

    .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }

    .stats {
      font-weight: bolder;
      font-size: smaller;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .status-circle {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    background-color: grey;
  }

  .status-circle-incoming-data {
    background-color: yellowgreen;
  }
}

.mat-menu-panel {
  border-radius: 0.8em !important;
  h3 {
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px;
    margin: 0;
    border-bottom: solid 1px gray;
    text-align: center;
  }
}

.menu-item-flex {
  display: flex !important;
  align-items: center;
  justify-content: space-between;

  span {
    &.mat-icon {
      margin-left: 16px;
      margin-right: 0;
      font-size: 1.5em;
    }
  }
}

@keyframes pulsate {
  0% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@-moz-keyframes pulsate {
  0% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

/************ START DRAGGABLE ITEM (DEVICE / SENSOR) RESPONSIVE ************/

@media (max-width: 1400px) {
  .draggable-item {
    width: 54px;
    height: 54px;
  }
}

@media (max-width: 1200px) {
  .draggable-item {
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 900px) {
  .draggable-item {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 700px) {
  .draggable-item {
    width: 35px;
    height: 35px;
  }
}

/************ END DRAGGABLE ITEM (DEVICE / SENSOR) RESPONSIVE ************/
