:host {
    position: absolute;
}

.item {
    display: inline-flex;
    position: relative;
    width: 64px;
    height: 64px;
/*    background-color: rgba(255,255,255,0.9);
    border-radius: 8px;
    box-shadow: 0 0 12px 6px #00f; */
    /* center the element */
    margin-left: -32px;
    margin-top: -32px;
}

.remove-button {
    outline: none;
    position: absolute;
    right: -12px;
    top: -12px;
    font-size: 12px;
    font-weight: bolder;
    background-color: red;
    color: white;
    border-radius: 12px;
    width: 24px;
    height: 24px;
}

.title {
    position: absolute;
    height: auto;
    bottom: -24px;
    width: 128px;
    left: -32px;
    right: 96px;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 1px gray;
    border-radius: 12px;
    background-color: rgba($color: white, $alpha: 0.65);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.area-title {
    background-color: rgba($color: yellow, $alpha: 0.65);
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.stats {
    font-weight: bolder;
    font-size: smaller;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@-webkit-keyframes pulsate {
    0% {opacity: 0.1;}
    40% {opacity: 1.0;}
    60% {opacity: 1.0;}
    100% {opacity: 0.1;}
}


.status-circle {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    background-color: grey;
  }

.status-circle-incoming-data {
    background-color: yellowgreen;
  }
