<div
  [matMenuTriggerFor]="!!itemData.device && !editMode ? menu : null"
  class="draggable-item"
  [ngClass]="{ 'menu-enabled': !!itemData.device && !editMode }"
  [title]="setTitleAttribute(itemData, editMode, 'move')"
  [ngStyle]="style"
  cdkDrag
  [cdkDragDisabled]="!editMode"
  cdkDragBoundary=".map-container"
  [cdkDragData]="itemData"
  [cdkDragFreeDragPosition]="position"
  (cdkDragMoved)="onDragMoved($event)"
  (cdkDragEnded)="onDragEnded($event)"
  (cdkDragReleased)="onDragReleased($event)"
  (mouseover)="showNameLabel()"
  (mouseout)="hideNameLabel()"
>
  <mat-menu #menu="matMenu">
    <h3>Device menu</h3>
    <button
      mat-menu-item
      class="menu-item-flex"
      (click)="
        redirectByMapItemAction({
          item: itemData,
          action: deviceActions.DASHBOARDS,
          dataSource: dataSource.REALTIME
        })
      "
    >
      <span i18n="@@HYT_go_to_device_dashboard">
        Go To Realtime Device Dashboard
      </span>
      <span class="mat-icon hyt-icon icon-hyt_device"></span>
    </button>
    <button
      mat-menu-item
      class="menu-item-flex"
      (click)="
        redirectByMapItemAction({
          item: itemData,
          action: deviceActions.DASHBOARDS,
          dataSource: dataSource.OFFLINE
        })
      "
    >
      <span i18n="@@HYT_go_to_device_dashboard"
        >Go To Offline Device Dashboard</span
      >
      <span class="mat-icon hyt-icon icon-hyt_device"></span>
    </button>
    <button
      mat-menu-item
      class="menu-item-flex"
      [disabled]="true"
      (click)="
        redirectByMapItemAction({
          item: itemData,
          action: deviceActions.ALARM_MANAGER
        })
      "
    >
      <span i18n="@@HYT_go_to_alarm_manager">Go to Alarm Manager</span>
      <span class="mat-icon hyt-icon icon-hyt_warnC"></span>
    </button>
  </mat-menu>

  <!-- i18n-title="@@HYT_area_draggable_title" -->

  <button
    class="remove-button"
    [title]="setTitleAttribute(itemData, editMode, 'remove')"
    i18n-title="@@HYT_area_draggable_remove"
    (mousedown)="$event.stopPropagation()"
    (click)="onRemoveButtonClick($event)"
    [ngStyle]="{ display: editMode ? '' : 'none' }"
  >
    X
  </button>
  <!--Remove {{itemData.device ? itemData.device.deviceName : itemData.name}}-->

  <span
    *ngIf="(alarmInfo$ | async)?.length"
    [matBadge]="(alarmInfo$ | async)?.length"
    matBadgeOverlap="false"
  ></span>

  <div
    class="title"
    [ngClass]="{
      'area-title': !itemData.device,
      'menu-disabled': !!itemData.device && editMode,
      'menu-enabled': !!itemData.device && !editMode
    }"
    title="Open
    {{ itemData.device ? itemData.device.deviceName : itemData.name }}
    {{ itemData.device && !editMode ? ' menu' : '' }}"
    i18n-title="@@HYT_area_draggable_open"
    (mousedown)="
      !!itemData.device && !editMode ? null : $event.stopPropagation()
    "
    [ngStyle]="{
      display:
        showName || editMode || (!!itemData.device && !editMode) ? '' : 'none'
    }"
  >
    <div class="name">
      {{ itemData.device ? itemData.device.deviceName : itemData.name }}
    </div>
    <!-- BEGIN -- custom render data passed on component refresh event -->
    <div class="stats" *ngIf="renderData.deviceCount">
      (D: {{ renderData.deviceCount }})
    </div>
    <!-- END -- custom render data passed on component refresh event -->
  </div>
  <!-- <span class="status-circle status-circle-idle" [ngStyle]="{ display: editMode ? 'none' : '' }"></span> -->
</div>
