<form class="project-form" [formGroup]="projectForm" autocomplete="on">

  <div class="container-form-field">

    <hyt-input-text [form]="projectForm" formControlName="projectName" name="projectName" [isRequired]="true"
      i18n-placeholder="@@HYT_name" placeholder="HYT_name" [injectedErrorMsg]="getError('projectName')"
      [externalHint]="'Enter the project name.'" (outHint)="updateHint($event)">
    </hyt-input-text>

  </div> <!-- Field projectName -->

  <div class="container-form-field">

    <hyt-text-area [form]="projectForm" formControlName="projectDescription" name="projectDescription"
      i18n-placeholder="@@HYT_description" placeholder="HYT_description"
      [externalHint]="'Enter the project description.'" (outHint)="updateHint($event)">
    </hyt-text-area>

  </div> <!-- Field HYT_projectDescription -->

  <div class="container-form-field errorMessage">
    <ng-container *ngIf="getError('general')">
      {{getError('general')}}
    </ng-container>
  </div> <!-- Error Box -->

  <div id="container-btn-step" class="row">

    <div id="container-btn-prev" class="col-6"></div>

    <div id="container-btn-next" class="col-6">

      <hyt-button id="project-form-submit-button" [isDisabled]="invalid() || pageStatus == PageStatus.Loading"
        (clickFn)="submitProject()" type="submit">
        <ng-container i18n="@@HYT_next">HYT_next</ng-container>
        <span class="icon-hyt_caretUp hyt-rotale-right"></span>
      </hyt-button>

    </div>

  </div> <!-- End Row Btn Prev Next -->

</form>