#container-btn-step {
  margin-top: 30px;

  #container-btn-next {
    text-align: right;

    .hyt-rotale-right {
      transform: rotate(90deg);
      display: inline-block;
      font-weight: 600;
      font-size: 1.2em;
      vertical-align: middle;
    }
  }

}
