<div class="hyt-modal">

    <div class="dialog hyt-modal-body">

        <div class="info-header">
            <h2>Data recording</h2>
        </div>

        <div class="dialog-body">
            <h3>Attention!</h3>
            <!-- <span class="hyt-icon icon-hyt_info"></span> -->
            <p>
                Proceeding with this action you will disable the registration of the data and they will not be stored until the rehabilitation of this property
            </p>
        </div>

        <footer class="d-flex flex-row align-items-center justify-content-end">
            <hyt-button class="info-button-confirm" (clickFn)="next($event)">
                <mat-icon>check</mat-icon>
                <span >Next</span>
            </hyt-button>
            <hyt-button class="info-button-close" (clickFn)="back($event)">
                <mat-icon>close</mat-icon>
                <span >Back</span>
            </hyt-button>
        </footer>
        
    </div>
    
</div>
    
<div class="hyt-modal-background"></div>