#container-output-field {
    min-height: 200px;
    padding-top: 20px;

    p {

        &.subtitle-section {

            font-size: .9em;
            font-style: italic;
            line-height: 25px;
            margin-bottom: 30px;

        }

    }

    hyt-tree-view-editable {
        width: 100%;
        max-width: 640px;
    }

    form {
        width: 100%;

        &.blurred {

            -webkit-filter: blur(1px);
            -moz-filter: blur(1px);
            -ms-filter: blur(1px);
            -o-filter: blur(1px);
            filter: blur(1px);

        }

        .row {

            #ffield-col-tree {
                margin-bottom: 20px;
            }
        }

        .form-group {
            margin-bottom: 15px;

            &.row {
                #ffield-col-type,
                #ffield-col-mult,
                #ffield-col-mes-type,
                #ffield-col-mes-unit {
                    text-align: center;
                }

                mat-radio-group {
                    width: 90%;
                    margin: 0 auto;
                    border: .5px solid lightgray;
                    border-radius: 5px;
                    padding: 5px;
                }

                mat-select {

                    .mat-form-field {
                        width: auto !important;
                    }

                    .mat-select-value {
                        max-width: 100%;
                        width: auto;
                    }

                }
            }
        }

    }

}



[name="fieldMultiplicity"] {
    min-width: 180px;
}



.content {
    position: relative;
}

.overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, .50);
    left: 0; top: 0; right: 0; bottom: 0;

    .loading-logo {

        position: relative;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        &.display-logo {

            height: 63%;
            width: 100%;

            background-repeat: no-repeat;
            background-position: top center;
            background-image: url('/assets/images/hyperiot_logo_single_char_animated.svg');

            &.big-bg {

                background-size: 220px;

            }

            &.medium-bg {

                background-size: 170px;

            }

            &.small-bg {

                background-size: 125px;

            }

            &.x-small-bg {

                background-size: 90px;

            }

        }

        h4 {
            text-align: center;
        }
    }

    mat-progress-bar {
        max-width: 200px;
        margin: 8px;
    }

    .error-overlay {

        hyt-button {

            margin: 20px auto 0px auto;

            span {

                &.icon-hyt_cancelC {

                    font-size: 1.3em;
                    vertical-align: sub;
                    margin-left: 5px;

                }

            }

        }

    }

}

.hidden {
    display: none;
}
