#selectable-text {

  #label-terms {
    margin-bottom: 10px;
    color: #909090;
    font-size: 0.98em;
  }

  .bgGrey {
    padding: 20px 25px;
    background-color: #f6f6f6;

    .box-term {
      margin-bottom: 10px;
  
      .clickable {
        color: #0956b6;
        cursor: pointer;
    
        &:hover {
          color: #378af3;
        }
    
        &.inline {
          display: inline-block;
        }
    
      }
    
      .sub-inline {
        display: inline-block;
        color: #898787;
        font-style: italic;
        font-size: .9em;
      }
  
    }

  }

}






