#container-save-changes-modal {

  width: 600px;

  .dialog-header {

    background-color: #e60000;
    position: relative;

    span {

      &.icon-hyt_cancelC {
        position: absolute;
        top: 50%;
        right: 10px;
        font-size: 1.3em;
        transform: translateY(-50%);
        cursor: pointer;
        color: #fff;

        &:hover {
          color: #002456;
        }

      }

    }

  }

  .dialog-body {

    padding: 30px;
    text-align: center;
    font-size: 1.2em;

  }

}
