<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content class="mb-3">
    {{data.message}}
</mat-dialog-content>
<mat-dialog-actions class="d-flex flex-row justify-content-around">
    <button color="primary" mat-button mat-dialog-close="cancel" class="m-2 btn-left">
        <mat-icon>arrow_back</mat-icon>
        <span>Cancel</span>
        <!--@I18N-->
    </button>
    <button mat-button mat-dialog-close="save" class="m-2">
        <mat-icon>save</mat-icon>
        <span>Save</span>
        <!--@I18N-->
    </button>
    <button defaultButton color="warn" mat-button mat-dialog-close="discard" class="m-2 btn-right">
        <mat-icon>close</mat-icon>
        <span>Discard</span>
        <!--@I18N-->
    </button>
</mat-dialog-actions>
