<div id="container-statistic-form" class="container">

    <div *ngIf="showCover && !editMode" class="row">

        <div id="container-add-statistic" class="col-12">
    
          <hyt-button 
            [color] = "'hyt-base-default-white'"
            (clickFn)="loadEmpty()"
          >
            <span class="hyt-icon icon-hyt_plus"></span>
            Add statistic
          </hyt-button>
    
        </div>
    
    </div>

    <form [formGroup]="form" #formReference [ngClass]="{hidden: !editMode, 'blurred': loadingStatus !== LoadingStatus.Ready}">

        <div class="form-group row">
            <div id="fstat-col-algorithm" class="col-12">
              <hyt-select 
                [form]="form" 
                name="algorithm-name"
                [options]="algorithmOptions"
                [isRequired]="true"
                i18n-label="@@HYT_algorithm" 
                label="Algorithm"
                (changeFn)="algorithmChanged($event)">
              </hyt-select>
            </div>
        </div> <!-- END FIRST ROW -->

        <div class="form-group row">
            <div *ngIf="entity.algorithm">
                <h4>Current Cron Expression: {{entity.cronExpression}}</h4>
            </div> 
            <cron-editor formControlName="cronExpression" [options]="cronOptions"></cron-editor>
        </div> <!-- END SECOND ROW -->

        <div class="form-group row">
            <div class="col-12">
                <hyt-statistic-input-definition [project]='currentProject'></hyt-statistic-input-definition>
            </div>
        </div> <!-- END THIRD FORM ROW -->

    </form>

    <!-- 
        TODO: This HTML block is repeated
        across all 'entity' components,
        consider making a component out of it 
    -->

    <div #overlayHeight *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
        
        <div 
            *ngIf="loadingStatus === LoadingStatus.Loading" 
            [ngClass]="getCustomClass()"
        >

            <h4 i18n="@@HYT_loading_data">Loading data...</h4>

        </div> 
        
        <div *ngIf="loadingStatus === LoadingStatus.Error" class="error-overlay d-flex flex-column justify-content-center">
            <h4 i18n="@@HYT_error_occurred">An unexpected error has occurred</h4>

            <hyt-button 
                [color]="'hyt-base-default-white'" 
                (click)="loadingStatus = LoadingStatus.Ready"
            >
                <span i18n="@@HYT_close">Close</span> <span class="icon-hyt_cancelC"></span> 
            </hyt-button>
        </div>

        <h4 *ngIf="loadingStatus === LoadingStatus.Saving" i18n="@@HYT_saving_data">Saving data...</h4>

        <mat-progress-bar 
            *ngIf="loadingStatus === LoadingStatus.Loading || loadingStatus === LoadingStatus.Saving"
            mode="indeterminate"
        ></mat-progress-bar> 

    </div>

</div>
