<div id="container-statistic-form" class="container">

    <div *ngIf="showCover && !editMode" class="row">

        <div id="container-add-statistic" class="col-12">
    
          <hyt-button 
            [color] = "'hyt-base-default-white'"
            (clickFn)="loadEmpty()"
          >
            <span class="hyt-icon icon-hyt_plus"></span>
            Add statistic
          </hyt-button>
    
        </div>
    
    </div>

    <form [formGroup]="form" #formReference [ngClass]="{hidden: !editMode, 'blurred': loadingStatus !== LoadingStatus.Ready}">
        
        <div class="form-group row">
            <div id="fstat-col-algorithm" class="col-12">
              <hyt-select 
                [form]="form" 
                name="algorithm-name"
                [options]="algorithmOptions"
                [isRequired]="true"
                i18n-label="@@HYT_algorithm" 
                label="Algorithm"
                (changeFn)="algorithmChanged($event)">
              </hyt-select>
            </div>
        </div> <!-- END FIRST ROW -->

        <hyt-input-text [form]="form"
            name="hprojectalgorithm-name"
            formControlName="hprojectalgorithm-name"
            i18n-placeholder="@@HYT_name"
            placeholder="Name"
            errorPosition="bottom"
            [injectedErrorMsg]="getError('hprojectalgorithm-name')"
            i18n-hintMessage="@@HYT_hint_hproject_algorithm_name"
            hintMessage="Enter statistic name"
            pattern="[A-Za-z0-9][ .A-Za-z0-9_-]*"
            [isRequired]="true"
        >
        </hyt-input-text>

        <div class="form-group row">

            <div id="fstatistic-col-active" class="col-6">
    
            <p id="label-statistic-active" i18n="@@HYT_active">Active</p>
            
            <div id="container-radio-statistic-active">
    
                <hyt-radio-button 
                [form]="form" 
                [options]="activeOptions" 
                name="active"
                (changeFn)="changeEventActive($event)">
                </hyt-radio-button>
    
            </div>
    
            </div> <!-- Field Oputput -->
    
    
        </div> <!-- END SECOND ROW -->

        <div class="form-group row">

            <div id="container-entity-algorithm" class="col-12" *ngIf="entity.algorithm">
                <h4><span>Current Cron Expression:</span> {{entity.cronExpression}}</h4> 
            </div>

            <div id="container-cron-editor" class="col-12">

                <p id="title-cron-editor-section">Setting Cron</p>

                <hyt-cron-editor 
                    ngDefaultControl 
                    formControlName="cronExpressionFC" 
                    [(cron)]="cronExpression" 
                    [(options)]="cronOptions"
                    id="cron-editor"
                ></hyt-cron-editor>

            </div>
            
        </div> <!-- END THIRD ROW -->


        <div class="form-group row">
            <div class="col-12">
                <hyt-statistic-input-definition #statisticInputDefinition [project]="currentProject" [algorithm]="selectedAlgorithm" [config]="config"></hyt-statistic-input-definition>
            </div>
        </div> <!-- END FOURTH FORM ROW -->

    </form>

    <!-- 
        TODO: This HTML block is repeated
        across all 'entity' components,
        consider making a component out of it 
    -->

    <div #overlayHeight *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
        
        <div 
            *ngIf="loadingStatus === LoadingStatus.Loading" 
            [ngClass]="getCustomClass()"
        >

            <h4 i18n="@@HYT_loading_data">Loading data...</h4>

        </div> 
        
        <div *ngIf="loadingStatus === LoadingStatus.Error" class="error-overlay d-flex flex-column justify-content-center">
            <h4 i18n="@@HYT_error_occurred">An unexpected error has occurred</h4>

            <hyt-button 
                [color]="'hyt-base-default-white'" 
                (click)="loadingStatus = LoadingStatus.Ready"
            >
                <span i18n="@@HYT_close">Close</span> <span class="icon-hyt_cancelC"></span> 
            </hyt-button>
        </div>

        <h4 *ngIf="loadingStatus === LoadingStatus.Saving" i18n="@@HYT_saving_data">Saving data...</h4>

        <mat-progress-bar 
            *ngIf="loadingStatus === LoadingStatus.Loading || loadingStatus === LoadingStatus.Saving"
            mode="indeterminate"
        ></mat-progress-bar> 

    </div>

</div>
