<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <b i18n="@@HYT_EVENTS">HYT_EVENTS</b>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p i18n="@@HYT_event_definition_long">HYT_event_definition_long</p>
</mat-expansion-panel>

<table>
  <tr>
    <th><b i18n="@@HYT_NAME">HYT_NAME</b></th>
    <th><b>M</b></th>
    <th><b>D</b></th>
    <th><b>X</b></th>
  </tr>
  <tr *ngFor="let eve of eventRules">
    <td>{{eve.name}}</td>
    <td (click)="update(eve)">M</td>
    <td (click)="copy(eve)">D</td>
    <td (click)="delete(eve)">X</td>
  </tr>
</table>

<div *ngIf="hintVisible" class="info-message">
  <span class="text">{{hintMessage}}</span>
  <mat-icon class="">info</mat-icon>
</div>