<div id="events-step" class="row">

  <div class="col-md-10">

    <div class="row">

      <div class="col-md-12">

        <hyt-packet-select [hDevices]="hDevices" [hPackets]="hPackets" (currentPacket)="packetChanged($event)">
        </hyt-packet-select>

      </div>

      <div class="col-md-12">

        <hyt-packet-event [hProject]="hProject" [currentPacket]="currentPacket"
          (hPacketsOutput)="packetsOutputChanged($event)" (rulesOutput)="rulesChanged($event)"></hyt-packet-event>

      </div>

    </div>

  </div>

  <div class="col-md-2">
    EVENTS
    <table>
      <tr>
        <th><b>X</b></th>
        <th><b>ID</b></th>
        <th><b>NOME</b></th>
      </tr>
      <tr *ngFor="let eve of eventList">
        <td (click)="showDeleteModal(eve.id)">
          X
        </td>
        <td>{{eve.id}}</td>
        <td>{{eve.name}}</td>
      </tr>
    </table>
  </div>

  <hyt-modal [mOpen]="deleteId!=-1">
    <div class="alignCenter">
      Sei sicuro di voler eliminare l'evento?
      <hr>
      <button (click)="deleteEvent()">Sì</button>
      <button (click)="hideDeleteModal()">No</button>
      <br>
      <div *ngIf="deleteError">{{deleteError}}</div>
    </div>
  </hyt-modal>

</div>
