<div id="events-step" class="row">

  <div class="col-md-9">

    <div class="row">

      <div class="col-md-12">

        <hyt-pw-packet-select (currentPacket)="packetChanged($event)" [packetSelectId]="3"></hyt-pw-packet-select>

      </div>

      <div class="col-md-12">

        <hyt-packet-event [currentPacket]="currentPacket"></hyt-packet-event>

      </div>

    </div>

  </div>

  <div class="col-md-3">

    <hyt-event-tip-column (copyEventRule)="tableCopyRule($event)" (updateEventRule)="tableUpdateRule($event)"
      (deleteEventRule)="showDeleteModal($event)"></hyt-event-tip-column>

  </div>

  <hyt-modal [mOpen]="deleteModal">
    <div class="alignCenter">
      <p i18n="@@HYT_delete_event_confirm">HYT_delete_event_confirm</p>
      <hr>
      <button (click)="deleteEvent()">
        <p i18n="@@HYT_yes">HYT_yes</p>
      </button>
      <button (click)="hideDeleteModal()">
        <p i18n="@@HYT_no">HYT_no</p>
      </button>
      <br>
      <div *ngIf="deleteError">{{deleteError}}</div>
    </div>
  </hyt-modal>

</div>