#statistics-step {

    padding-top: 15px;

    form {

        .form-group {

            &.row {

                margin-bottom: 25px;

                #fstat-col-algorithm,
                #fstat-col-fields,
                #fstat-col-trange,
                #fstat-col-sdata,
                #fstat-col-tagcat {
                    text-align: center;
                }

                hyt-input-text {

                    mat-form-field {

                        font-family: 'Exo';

                    }

                }

                hyt-select {

                    mat-form-field {

                        width: 100%;

                        mat-select {

                            font-family: 'Exo';

                        }

                        label {

                            &.mat-form-field-label {

                                font-family: 'Exo';

                            }

                        }

                    }

                }

            }

        }

    }

}

mat-option {

    &.mat-option {

        font-family: 'Exo';

    } 

}