<div id="statistics-step" class="row">

  <div class="col-md-10">

    <form class="statistics-form" [formGroup]="statisticsForm" autocomplete="on">

      <div class="row">

        <div class="col-md-6">

          <div class="container-form-field">
            <hyt-input-text [form]="statisticsForm" formControlName="statisticsName" name="statisticsName"
              [isRequired]="true" placeholder="HYT_statisticsName">
            </hyt-input-text>
          </div> <!-- Field Name -->

          <div class="container-form-field">
            <hyt-select [form]="statisticsForm" [options]="algorithmOptions" formControlName="statisticsAlgorithm"
              name="statisticsAlgorithm" [isRequired]="true" placeholder="HYT_algorithm">
            </hyt-select> <!-- Field Algorithm -->
          </div>

          <div class="container-form-field">
            <hyt-text-area [form]="statisticsForm" formControlName="statisticsInputFields" name="statisticsInputFields"
              placeholder="HYT_statisticsInputFields">
            </hyt-text-area> <!-- Field Field -->
          </div>

        </div>

        <div class="col-md-6">

          <div class="container-form-field">
            <hyt-input-text [form]="statisticsForm" formControlName="statisticsPacket" name="statisticsPacket"
              placeholder="HYT_statisticsPacket">
            </hyt-input-text> <!-- Field Packet -->
          </div>

          <div class="container-form-field">
            SOURCE DATA
            <hyt-radio-button [form]="statisticsForm" [options]="sourceDataOptions"
              formControlName="statisticsSourceData" name="statisticsSourceData" [verticalAlign]="true">
            </hyt-radio-button> <!-- Field Sourde Data -->
          </div>

          <div class="container-form-field">
            <hyt-select [form]="statisticsForm" [options]="timeRangeOptions" formControlName="statisticsTimeRange"
              name="statisticsTimeRange" [isRequired]="true" placeholder="HYT_time_range">
            </hyt-select> <!-- Field Time Range -->
          </div>

        </div>

      </div>

      <div class="container-form-field errorMessage">
        <ng-container *ngIf="getError('general')">
          {{getError('general')}}
        </ng-container>
      </div> <!-- Error Box -->

      <hyt-button id="statistics-form-submit-button" [isDisabled]="invalid() || pageStatus == PageStatus.Loading"
        (clickFn)="createStatistic()" type="submit">
        Add Statistic
      </hyt-button>

    </form>

  </div>

  <div class="col-md-2">
    STATISTICS
    <table>
      <tr>
        <th><b>ID</b></th>
        <th><b>NOME</b></th>
        <th><b>PACKET</b></th>
      </tr>
      <!-- <tr *ngFor="let sta of statisticsList">
        <td>{{sta.id}}</td>
        <td>{{sta.deviceName}}</td>
        <td>{{sta.packet.id}}</td>
      </tr> -->
    </table>
  </div>

</div>
