<div id="statistics-step" class="row">

  <div class="col-md-9">

    <form class="statistics-form" [formGroup]="statisticsForm" autocomplete="on">

      <div class="row">

        <div class="col-md-12">

          <hyt-pw-packet-select (currentPacket)="packetChanged($event)" [packetSelectId]="2">
          </hyt-pw-packet-select>

        </div>

        <div class="col-md-6">

          <div class="container-form-field">
            <hyt-input-text [form]="statisticsForm" formControlName="statisticsName" name="statisticsName"
              [isRequired]="true" placeholder="Name">
            </hyt-input-text>
          </div> <!-- Field Name -->

          <div class="container-form-field">
            <hyt-select [form]="statisticsForm" [options]="algorithmOptions" formControlName="statisticsAlgorithm"
              name="statisticsAlgorithm" [isRequired]="true" label="Algorithm">
            </hyt-select> <!-- Field Algorithm -->
          </div>

          <div class="container-form-field">
            <hyt-text-area [form]="statisticsForm" formControlName="statisticsInputFields" name="statisticsInputFields"
              placeholder="Field">
            </hyt-text-area> <!-- Field Field -->
          </div>

        </div>

        <div class="col-md-6">

          <div class="container-form-field">
            <hyt-input-text [form]="statisticsForm" formControlName="statisticsPacket" name="statisticsPacket"
              placeholder="Packet">
            </hyt-input-text> <!-- Field Packet -->
          </div>

          <div class="container-form-field">
            <hyt-select [form]="statisticsForm" [options]="enrichmentRules" (changeFn)="enrichmentTypeChanged($event)"
              formControlName="statisticsSourceData" name="statisticsSourceData" [isRequired]="true" label="Rule Type">
            </hyt-select> <!-- Field Sourde Data -->
          </div>

          <div class="container-form-field">
            <hyt-select [form]="statisticsForm" [options]="timeRangeOptions" formControlName="statisticsTimeRange"
              name="statisticsTimeRange" [isRequired]="true" label="Time Range">
            </hyt-select> <!-- Field Time Range -->
          </div>

        </div>

      </div>

      <div *ngIf="enrichmentType=='AddTagRuleAction'" class="row">
        <div class="col-md-12 center">
          <hyt-asset-tag [packet]="currentPacket" (tagIds)="updateAssetTag($event)">
          </hyt-asset-tag>
        </div>
      </div>

      <div *ngIf="enrichmentType=='AddCategoryRuleAction'" class="row">
        <div class="col-md-12 center">
          <hyt-asset-category [packet]="currentPacket" (categoryIds)="updateAssetCategory($event)">
          </hyt-asset-category>
        </div>
      </div>

      <div class="container-form-field errorMessage">
        <ng-container *ngIf="getError('general')">
          {{getError('general')}}
        </ng-container>
      </div> <!-- Error Box -->

      <hyt-button id="statistics-form-submit-button" [isDisabled]="invalid() || pageStatus == PageStatus.Loading"
        (clickFn)="createStatistic()" type="submit">
        Add Statistic
      </hyt-button>

    </form>

  </div>

  <div class="col-md-3">
    STATISTICS
    <table>
      <tr>
        <th><b>ID</b></th>
        <th><b>NOME</b></th>
        <th><b>PACKET</b></th>
      </tr>
      <!-- <tr *ngFor="let sta of statisticsList">
        <td>{{sta.id}}</td>
        <td>{{sta.deviceName}}</td>
        <td>{{sta.packet.id}}</td>
      </tr> -->
    </table>
  </div>

</div>