<div class="authenticationCard" [ngSwitch]="authType">

  <div *ngSwitchCase="0" class="container-login">

    <!-- <div> -->

    <button style="margin-left: 250px;" (click)="authType=1">REGISTRATI</button>
    <!-- <div app-login class="wrap-login"> -->

    <!-- LOGIN -->

    <app-login class="wrap-login"></app-login>


    <!-- </div> End Wrap Login -->

    <hr>
    <div style="text-align: center">
      <a (click)="authType=2" class="forgotPwdText">
        Forgot password?
      </a>
    </div>

    <!-- </div>  -->

  </div> <!-- End Container Login -->

  <div *ngSwitchCase="1">
    REGISTRATI
    <button style="margin-left: 250px;" (click)="authType=0">LOGIN</button>
    <app-registration></app-registration>
  </div>

  <div *ngSwitchCase="2">
    Password recovery
    <button style="margin-left: 50px;" (click)="authType=0">LOGIN</button>
    <app-password-recovery></app-password-recovery>
  </div>

</div>
