.authenticationCard {
  width: 100%;
  margin: 0 auto;

  #container-autentication-box {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px;
    background: #17A4FA;
    background: linear-gradient(-130deg, #17A4FA, #0A1E3C);
    font-family: 'Exo';
  }
}
