<div class="row ruleDefinition">

  <div *ngFor="let ruleForm of ruleForms; let i = index" class="col-12">

    <form class="ruleDefinition-form" [formGroup]="ruleForm.form" autocomplete="on">

      <div class="form-group row">

        <div class="container-first-form-field" [ngClass]="ruleForm.compareWith ? 'col-2' : 'col-3' ">
          <hyt-select [disabled]="ruleType === 'enrichment'" [form]="ruleForm.form" [options]="packetOptions" formControlName="rulePacket" name="rulePacket"
            [isRequired]="true" i18n-label="@@HYT_packet" label="HYT_packet" (changeFn)="packetChanged($event.value, i)">
          </hyt-select>
        </div> <!-- Field Packet -->

        <div class="container-first-form-field" [ngClass]="ruleForm.compareWith ? 'col-2' : 'col-3' ">
          <hyt-select [form]="ruleForm.form" [options]="ruleForm.fieldOptions" formControlName="ruleField" name="ruleField"
            [isRequired]="true" i18n-label="@@HYT_field" label="HYT_field" (changeFn)="fieldChanged($event, i)">
          </hyt-select>
        </div> <!-- Field Field -->

        <div class="container-form-field" [ngClass]="ruleForm.compareWith ? 'col-2' : 'col-3' ">
          <hyt-select [form]="ruleForm.form" [options]="ruleForm.conditionOptions" formControlName="ruleCondition"
            name="ruleCondition" [isRequired]="true" i18n-label="@@HYT_condition" label="HYT_condition">
          </hyt-select>
        </div> <!-- Field Condition -->

        <div [ngClass]="{'hidden-form-value' : !ruleForm.compareWith}" class="col-3 container-form-field">
          <hyt-input-text [form]="ruleForm.form" formControlName="ruleValue" name="ruleValue" [isRequired]="true"
            i18n-placeholder="@@HYT_value" placeholder="HYT_value">
          </hyt-input-text>
        </div> <!-- Field Value -->

        <div class="containerputRule-form-field" [ngClass]="ruleForm.compareWith ? 'col-3' : 'col-3' ">

          <hyt-radio-button [form]="ruleForm.form" [options]="joinOptions" (changeFn)="addCondition(i)"
            formControlName="ruleJoin" name="ruleJoin">
          </hyt-radio-button>

          <span *ngIf="i!=0" class="hyt-icon icon-hyt_cancel" (click)="removeCondition(i)"></span>

        </div> <!-- Field Join -->

      </div>

    </form>

  </div>

  <!-- <hyt-rule-error-modal class="hyt-modal-general" id="hyt-rule-error-modal">
  </hyt-rule-error-modal> -->

</div>