<div id="ruleDefinition">

  <div *ngFor="let ruleForm of ruleForms; let i = index" class="row">

    <div class="col-md-12">

      <form class="ruleDefinition-form" [formGroup]="ruleForm.form" autocomplete="on">

        <div class="row">

          <div class="col-md-3 container-form-field">
            <hyt-select [form]="ruleForm.form" [options]="fieldOptions" formControlName="ruleField" name="ruleField"
              [isRequired]="true" i18n-label="@@HYT_field" label="HYT_field" (changeFn)="fieldChanged($event, i)">
            </hyt-select>
          </div> <!-- Field Field -->

          <div class="col-md-3 container-form-field">
            <hyt-select [form]="ruleForm.form" [options]="ruleForm.conditionOptions" formControlName="ruleCondition"
              name="ruleCondition" [isRequired]="true" i18n-label="@@HYT_condition" label="HYT_condition">
            </hyt-select>
          </div> <!-- Field Condition -->

          <div class="col-md-3 container-form-field">
            <hyt-input-text *ngIf="ruleForm.compareWith" [form]="ruleForm.form" formControlName="ruleValue"
              name="ruleValue" [isRequired]="true" i18n-placeholder="@@HYT_value" placeholder="HYT_value">
            </hyt-input-text>
          </div> <!-- Field Value -->

          <div class="col-md-2 containerputRule-form-field">
            <hyt-radio-button [form]="ruleForm.form" [options]="joinOptions" (changeFn)="addCondition(i)"
              formControlName="ruleJoin" name="ruleJoin">
            </hyt-radio-button>
          </div> <!-- Field Join -->

          <div class="col-md-1 container-form-field">
            <hyt-button *ngIf="i!=0" (clickFn)="removeCondition(i)">
              <ng-container i18n="@@HYT_remove">HYT_remove</ng-container>
            </hyt-button>
          </div>

        </div>

      </form>

    </div>

  </div>

</div>