<form class="events-form" [formGroup]="eventsForm" autocomplete="on">

  <div class="row">
    <div class="col-md-6 container-form-field">
      <hyt-input-text [form]="eventsForm" formControlName="rule-name" name="rule-name" [isRequired]="true"
        i18n-placeholder="@@HYT_name" placeholder="HYT_name" [injectedErrorMsg]="getError('rule-name')"
        [externalHint]="'Enter the event name'" (outHint)="updateHint($event)">
      </hyt-input-text>
    </div> <!-- Field Name -->
    <div class="col-md-6 container-form-field">
      <hyt-text-area [form]="eventsForm" formControlName="rule-description" name="rule-description"
        i18n-placeholder="@@HYT_description" placeholder="HYT_description"
        [externalHint]="'Enter the event description'" (outHint)="updateHint($event)">
      </hyt-text-area>
    </div> <!-- Field RuleDescription -->
  </div>

  <div class="row">
    <div class="col-md-12 container-form-field center">
      <ng-container i18n="@@HYT_output_data">HYT_output_data</ng-container>
      <br>
      <hyt-radio-button [form]="eventsForm" [options]="outputOptions" formControlName="eventOutput" name="eventOutput">
      </hyt-radio-button>
    </div> <!-- Field Oputput -->
  </div>

  <div class="row">
    <div class="col-md-12 container-form-field">
      <hyt-rule-definition #eventDef [currentPacket]="currentPacket"></hyt-rule-definition>
    </div> <!-- Field RuleDefinition -->
  </div>

  <hyt-event-mail #eventMail></hyt-event-mail>

  <br>

  <div class="container-form-field errorMessage">
    <ng-container *ngIf="getError('general')">
      {{getError('general')}}
    </ng-container>
  </div> <!-- Error Box -->

  <hyt-button *ngIf="submitType == 'ADD'" id="event-form-add-button"
    [isDisabled]="invalid() || pageStatus == PageStatus.Loading" (clickFn)="postEvent()" type="submit">
    <ng-container i18n="@@HYT_add_event">HYT_add_event</ng-container>
  </hyt-button>

  <hyt-button *ngIf="submitType == 'UPDATE'" id="event-form-update-button"
    [isDisabled]="invalid() || pageStatus == PageStatus.Loading" (clickFn)="putEvent()" type="submit">
    <ng-container i18n="@@HYT_update_event">HYT_update_event</ng-container>
  </hyt-button>

</form>