:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 100vh;*/
}

gridster {
    background: transparent;
    transition: all .2s ease .1s;
    /*height: 100vh;*/
}
gridster.fixed {
    overflow: visible;
}
gridster.mobile {
    overflow-y: hidden;
}
gridster-item {
    background: transparent;
}

label {
    padding: 4px;
}

#no-widgets-container{
    color: gainsboro;
}

#no-widgets-container .fa {
    font-size: 6em;
    margin-bottom: 20px;
}

#dashbaord-changes-unsaved-label {
    padding-bottom: 2px;
    border-radius: 8px;
    padding-top: 2px;
    background-color: #ffd7005c;
}