<!-- <div class="row">

    <div id="dashbaord-changes-unsaved-label" class="col-12">
      <span class="hyt-icon icon-hyt_warnC"></span>
      <span>You have unsaved changes. Save them.</span>
    </div>

</div> -->

<div class="loader" *ngIf="pageStatus == 0"></div>

<gridster *ngIf="dashboard.length > 0 && pageStatus == 1" [options]="options">

  <gridster-item [item]="item" *ngFor="let item of dashboard">

    <hyt-dynamic-widget [widget]="item" (widgetAction)="onWidgetAction($event)"></hyt-dynamic-widget>

  </gridster-item>

</gridster>

<div *ngIf="dashboard.length == 0 && pageStatus == 1" id="no-widgets-container"
  class="row align-items-center justify-content-center">

  <div class="mt-5 no-widgets">

    <div class="col-md-12">
      <i class="fa fa-bar-chart-o"></i>
      <h2 i18n="@@HYT_you_are_dashboard_mode">HYT_you_are_dashboard_mode</h2>
      <h3 id="title-no-widgets" i18n="@@HYT_no_widget_in_dashboard">HYT_no_widget_in_dashboard</h3>
      <h4 id="subtitle-no-widgets" i18n="@@HYT_start_adding_widget">HYT_start_adding_widget</h4>
    </div>

  </div>

</div>
