<div id="container-option-modal" class="dialog">

    <div class="dialog-header">
        <span i18n="@@HYT_choose_how_proceed">Choose how to proceed</span>
        <span class="hyt-icon icon-hyt_cancelC" (click)="close()"></span>
    </div>

    <div class="dialog-body">

        <div class="row row-block">

            <div id="enrich-block" class="col-4 single-box" (click)="output('goToStep', 4);">

                <hyt-hexagon [iconPath]="entitiesService.enrichment.icon"></hyt-hexagon>

                <span class="title-block" i18n="@@HYT_enrichment_data">Enrichment data</span>
                
                <p class="body-block" i18n="@@HYT_enrichment_definition_long">Create custom rules and connect them together to enrich the data.</p>

            </div>
            <div id="stats-block" class="col-4 single-box" (click)="output('goToStep', 5);">
                
                <hyt-hexagon [iconPath]="entitiesService.statistic.icon"></hyt-hexagon>

                <span class="title-block" i18n="@@HYT_statistics">Statistics</span>
                
                <p class="body-block" i18n="@@HYT_statistics_definition_long">Select an algorithm and set the data monitoring frequency.</p>
            
            </div>
            <div id="events-block" class="col-4 single-box" (click)="output('goToStep', 6);">

                <hyt-hexagon [iconPath]="entitiesService.event.icon"></hyt-hexagon>

                <span class="title-block" i18n="@@HYT_events">Events</span>
                
                <p class="body-block" i18n="@@HYT_events_definition_long">Establish the conditions of the events to be monitored and the actions to be performed when they occur.</p>

            </div>

        </div> <!-- Row 1 -->

    </div>

    <div class="dialog-footer">

        <hyt-button (clickFn)="output('goToFinish', null);">
            <ng-container i18n="@@HYT_finish">Finish</ng-container>
        </hyt-button>

    </div>
    
</div>