#container-option-modal {

  .hyt-modal-body {

    .dialog {
      overflow: hidden;
      background-color: #2258a5;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
      border-radius: 8px;

      .dialog-header {
        background-color: #2258a5;
        padding: 8px 10px;
        color: #fff;
        text-align: center;
        font-size: 1.3em;
        position: relative;

        span {

          &.icon-hyt_cancelC {
            position: absolute;
            top: 50%;
            right: 10px;
            font-size: 1.3em;
            transform: translateY(-50%);
            cursor: pointer;
            color: #fff;

            &:hover {
              color: #002456;
            }

          }

        }

      }

      .dialog-body {

        background-color: #fff;
        padding: 20px;

        .row-block {

          text-align: center;
          cursor: pointer;

          .single-box {
            transition: all 0.2s ease-in-out;

            &:hover {

              -moz-box-shadow: 0px 0px 24px -8px #4c4c4c;
              -webkit-box-shadow: 0px 0px 24px -8px #4c4c4c;
              box-shadow: 0px 0px 24px -8px #4c4c4c;

              -moz-border-radius: 10px;
              -webkit-border-radius: 10px;
              border-radius: 10px;

            }
          }

          hyt-hexagon {
            .hexagon-container {
              margin: 10px auto 10px auto;
            }
          }

          span {
            &.title-block {
              font-weight: bold;
            }

          }

          p {
            &.body-block {
              text-align: justify;
              font-size: .9em;
              color: #2b2b2b;
            }
          }

        }

      }

      .dialog-footer {
        background-color: #2258a5;
        padding: 8px 10px;
        color: #fff;
        text-align: center;
        position: relative;
      }

    }

  }

}


