<h2>Packet</h2>

<div class="container">

    <form [formGroup]="form">

        <div class="d-flex flex-column flex-md-row flex-wrap">
            <div class="pr-md-3 flex-fill">

                <hyt-input-text name="hpacket-name" placeholder="Name"
                    [form]="form"
                    errorPosition="bottom" minlength="3" isRequired="true">
                </hyt-input-text>

            </div>
            <div class="pl-md-3 flex-fill">

                <div>
                    <hyt-select [form]="form" label="Traffic plan" name="hpacket-trafficplan"
                        isRequired="true" [options]="trafficPlanOptions"></hyt-select>
                </div>

            </div>
        </div>

        <div class="d-flex flex-column flex-md-row flex-wrap">
            <div class="pr-md-3 flex-fill">

                <label>Type</label>
                <div class="radio-options pl-2 pr-2">
                    <hyt-radio-button [form]="form" name="hpacket-type" [options]="typeOptions">
                    </hyt-radio-button>
                </div>

            </div>
            <div class="pl-md-3 flex-fill">

                <label>Format</label>
                <div class="radio-options pl-2 pr-2">
                    <hyt-radio-button [form]="form" name="hpacket-format" [options]="formatOptions">
                    </hyt-radio-button>
                </div>

            </div>
        </div>

        <div class="d-flex flex-column flex-md-row flex-wrap">
            <div class="pr-md-3 flex-fill">

                <label>Serialization</label>
                <div class="radio-options pl-2 pr-2">
                    <hyt-radio-button [form]="form" name="hpacket-serialization"
                        [options]="serializationOptions">
                    </hyt-radio-button>
                </div>

            </div>
            <div class="pl-md-3 flex-fill">

            </div>
        </div>

        <div class="d-flex flex-column flex-md-row flex-wrap">
            <div class="pr-md-3 flex-fill">

            </div>
            <div class="pl-md-3 flex-fill">

            </div>
        </div>

        <div class="d-flex flex-column flex-md-row flex-wrap">
            <div class="pr-md-3 flex-fill">

            </div>
            <div class="pl-md-3 flex-fill">

            </div>
        </div>

        <div class="mt-4 d-flex flex-column flex-md-row flex-wrap">

            <div class="pr-md-3 flex-fill">

                <hyt-input-text placeholder="Timestamp field" [form]="form" name="hpacket-timestampfield"
                    errorPosition="bottom" minlength="1" isRequired="true">
                </hyt-input-text>

            </div>
            <div class="pl-md-3 flex-fill">

                <hyt-input-text placeholder="Timestamp format" [form]="form" name="hpacket-timestampformat"
                    errorPosition="bottom" minlength="3" isRequired="true">
                </hyt-input-text>

            </div>

        </div>

    </form>

    <div *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
        <h4 *ngIf="loadingStatus === LoadingStatus.Loading">Loading packet data...</h4>
        <div *ngIf="loadingStatus === LoadingStatus.Error" class="d-flex flex-column justify-content-center">
            <h4>An error has occurred =/</h4>
            <button mat-stroked-button (click)="loadingStatus = LoadingStatus.Ready">
                <span>Close</span>
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <h4 *ngIf="loadingStatus === LoadingStatus.Saving">Saving packet data...</h4>
    </div>

</div>
