<!-- Main areas list -->
<div *ngIf="!editMode" class="content">

    <div class="overview">
        Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullamco laboriosam, nisi ut aliquid ex ea commodi
        consequatur. Duis aute irure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        <!--@I18N@-->
    </div>

    <div class="actions">
        <hyt-button 
            mat-mini-fab 
            [color]="'hyt-base-default-white'"
            [routerLink]="[ '/projects/', projectId, {outlets: { projectDetails: ['areas', 0 ] } } ]">
            <span i18n="@@HYT_area_add">HYT_area_add</span>
            <span class="hyt-icon icon-hyt_plusC"></span>
        </hyt-button>
    </div>

    <hyt-areas-list
        [areaList]="areaList"
        (itemSelected)="onEditAreaClick($event)">
    </hyt-areas-list>

</div>

<!-- Area detail form -->
<div [ngClass]="{ hidden: !editMode }" class="content">

    <div class="current-path">
        <a [routerLink]="[ '/projects/', projectId, {outlets: { projectDetails: ['areas'] } } ]" i18n="@@HYT_area_path_main">HYT_area_path_main</a>
        <span *ngFor="let area of areaPath; let i = index; let c = count">
            &nbsp;&raquo;&nbsp;
            <a *ngIf="i < c - 1" [routerLink]="[ '/projects/', projectId, {outlets: { projectDetails: ['areas', area.id ] } } ]">{{area.name}}</a>    
            <span *ngIf="i === c - 1"><strong>{{area.name}}</strong></span>
        </span>
    </div>

    <mat-tab-group [(selectedIndex)]="currentSection" (selectedTabChange)="onTabChange($event)">

        <mat-tab label="HYT_area_section_info" i18n-label="@@HYT_area_section_info">
            <form [formGroup]="form" enctype="multipart/form-data" class="mt-4 d-flex flex-column justify-content-center">

                <hyt-input-text [form]="form"
                    name="area-name"
                    i18n-placeholder="@@HYT_name"
                    placeholder="HYT_name"
                    errorPosition="bottom"
                    minlength="3"
                    [injectedErrorMsg]="getError('area-name')"
                    i18n-hintMessage="@@HYT_hint_area_name"
                    hintMessage="HYT_hint_area_name"
                    [isRequired]="true"></hyt-input-text>

                <hyt-text-area [form]="form"
                    name="area-description"
                    [injectedErrorMsg]="getError('area-description')"
                    i18n-hintMessage="@@HYT_hint_area_description"
                    hintMessage="HYT_hint_area_description"
                    i18n-placeholder="@@HYT_description"
                    placeholder="HYT_description"></hyt-text-area>

            </form>                    
        </mat-tab>

        <mat-tab *ngIf="areaId > 0" label="HYT_area_section_inner" i18n-label="@@HYT_area_section_inner">
            <div class="actions">
                <hyt-button mat-mini-fab (clickFn)="onAddInnerAreaClick($event)">
                    <span i18n="@@HYT_area_inner_add">HYT_area_inner_add</span>
                    <span class="hyt-icon icon-hyt_plusC"></span>
                </hyt-button>
            </div>
            <hyt-areas-list
                [areaList]="areaList"
                (itemSelected)="onEditInnerAreaClick($event)">
            </hyt-areas-list>
        </mat-tab>

        <mat-tab *ngIf="areaId > 0" label="HYT_area_section_map" i18n-label="@@HYT_area_section_map">
            <div class="mt-4 mb-2 d-flex flex-row justify-content-center">

                <hyt-button>
                    <label class="m-0 p-0" for="map-image-input" i18n="@@HYT_area_map_set_image">HYT_area_map_set_image</label>
                </hyt-button>
                <input class="hidden" id="map-image-input"
                    name="area-image"
                    (change)="onFileChange($event)"
                    type="file" placeholder="Upload file" accept=".jpg,.png,.svg">

                <hyt-button (clickFn)="onMapDeviceAddClick($event)" i18n="@@HYT_area_map_device_add">HYT_area_map_device_add</hyt-button>
                <hyt-button (clickFn)="onMapAreaAddClick($event)" i18n="@@HYT_area_map_area_add">HYT_area_map_area_add</hyt-button>

            </div>
            <hyt-area-map #map></hyt-area-map>
        </mat-tab>

    </mat-tab-group>

</div>


<!-- 
    TODO: This HTML block is repeated
    across all 'entity' components,
    consider making a component out of it 
-->

<div *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">

    <div *ngIf="loadingStatus === LoadingStatus.Loading">

        <h4 i18n="@@HYT_loading_data">HYT_loading_data</h4>

    </div> 

    <div *ngIf="loadingStatus === LoadingStatus.Error" class="error-overlay d-flex flex-column justify-content-center">
        <h4 i18n="@@HYT_error_occurred">HYT_error_occurred</h4>

        <hyt-button 
            [color]="'hyt-base-default-white'" 
            (click)="loadingStatus = LoadingStatus.Ready">
            <span i18n="@@HYT_close">HYT_close</span> <span class="icon-hyt_cancelC"></span> 
        </hyt-button>
    </div>

    <h4 *ngIf="loadingStatus === LoadingStatus.Saving" i18n="@@HYT_saving_data">HYT_saving_data</h4>

    <mat-progress-bar 
        *ngIf="loadingStatus === LoadingStatus.Loading || loadingStatus === LoadingStatus.Saving"
        mode="indeterminate"></mat-progress-bar> 

</div>
