.statisticInputDefinition {

    .row-icon-hyt_plusC {
        margin: 0px;

        .add-statistic-input {
            position: absolute;
            top: -27px;
            right: 0;
            font-size: 1.6em;
            cursor: pointer;

            &:hover {
                color: #1f59a5;
            }

        }

    }

    form {

        .form-group {

            &.row {
                margin-bottom: 15px;
                border: .5px solid #dbdbdb;
                padding-top: 12px;
                padding-bottom: 10px;

                .container-first-form-field {
                    text-align: left;
                }

                #algAndPackBefore {
                    display: flex;
                    flex-direction: revert;
                    align-items: center;
                    justify-content: flex-start;

                    p {
                        margin-bottom: 0px;
                        color: red;
                    }

                }

                #container-bind-input {
                    display: flex;
                    flex-direction: revert;
                    align-items: center;
                    justify-content: flex-start;
                }

                .container-form-field {
                    text-align: center;
                }

                .hidden-form-value {
                    display: none;
                }

                .container-delete-statistic-input {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        &.icon-hyt_cancel {

                            cursor: pointer;
                            font-size: 1.2em;
                            font-weight: bold;
                            position: absolute;
                            top: 50%;
                            right: 5px;
                            transform: translateY(-50%);

                        }

                        &:hover.icon-hyt_cancel {
                            color: red;
                        }
                    }
                }

            }

        }

    }

}