<div class="row statisticInputDefinition">

    <div class="col-12 row-icon-hyt_plusC">
        <span class="add-statistic-input hyt-icon icon-hyt_plusC" (click)="addStatisticInput()"></span>
    </div>

    <div *ngFor="let statisticInputForm of statisticInputForms; let i = index" class="col-12">
        <form [formGroup]="statisticInputForm.form" autocomplete="on">
            <div class="form-group row">

                <div class="container-first-form-field col-5">
                    <hyt-select [form]="statisticInputForm.form" [options]="packetOptions" formControlName="packet" name="packet"
                        [isRequired]="true" i18n-label="@@HYT_packet" label="Packet" (changeFn)="packetChanged($event.value, i)">
                    </hyt-select>
                </div>

                <div class="col-3 container-form-field hidden-form-value">
                    <hyt-input-text [form]="statisticInputForm.form" formControlName="mappedInputList" name="mappedInputList" [isRequired]="true">
                    </hyt-input-text>
                </div>

                <div id="algAndPackBefore" *ngIf="!canBindInputFields(statisticInputForm.leafFieldList)" class="col-5">
                    <p i18n="@@HYT_select_algorithm_packet_before">Select algorithm and packet before</p>
                </div>

                <div id="container-bind-input" *ngIf="canBindInputFields(statisticInputForm.leafFieldList)" class="col-5">
                    <hyt-button [color]="'hyt-base-total-green'" (clickFn)="openInputFieldsModal(i)" >
                        <ng-container *ngIf="!inputHaveBeenBounded(i)" i18n="@@HYT_bind_input_fields">Bind input fields</ng-container>
                        <ng-container *ngIf="inputHaveBeenBounded(i)" i18n="@@HYT_input_binding_done">Input binding done</ng-container>
                    </hyt-button>
                </div>

                <div class="container-delete-statistic-input col-2">

                    <span *ngIf="i!=0" class="hyt-icon icon-hyt_cancel" (click)="removeStatisticInput(i)"></span>

                </div> <!-- Remove packet -->

            </div>
        </form>
    </div>

</div>