<div class="padding-6 d-flex flex-column justify-content-stretch">

    <ng-container *ngIf="widget.config">
        <div class="d-flex flex-column">
            <mat-form-field>
                <mat-select [(ngModel)]="selectedAlgorithm" [compareWith]="algorithmCompare"
                    (ngModelChange)="onAlgorithmChange()" name="algorithm-select"
                    placeholder="Select Algorithm"
                    i18n-placeholder="@@HYT_widget_settings_select_algorithm" required disableRipple>
                    <mat-option *ngFor="let algorithm of projectAlgorithms" [value]="algorithm" selected>
                        {{algorithm.name}}
                        ({{algorithm.id}})
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </ng-container>

</div>