/* Widget header and buttons */
:host {
    position: absolute;
    top: 4px; left: 4px; bottom: 4px; right: 4px;
    display: block;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}
header {
    position: absolute;
    top: 4px; left: 12px; right: 110px;
    color: #16A4FA;
    font-family: serif;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.play-pause {
    position: absolute;
    top:0; right: 32px;
    width: 24px; height: 24px;
    padding: 4px;
    opacity: 0.5;
}
.drag-handle {
    position: absolute;
    top:0; right: 0;
    width: 24px; height: 24px;
    padding: 4px;
    opacity: 0.5;
}
.configure-notice {
    position: absolute;
    top: 32px; left: 0; bottom: 0; right: 0;
    background-color: #80808042;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.configure-notice div {
    text-align: center;
    padding: 6px;
    padding-bottom: 16px;
    font-size: 14px;
}
