<div id="hyt-account-button" class="dropdown">

    <button class="dropbtn">
        <span class="hyt-icon icon-hyt_userCircle"></span>
    </button>

    <div *ngIf="isLoggedIn" class="dropdown-content">

        <div class="submenu-element">
            <a routerLink="/account/profile">
                <span class="hyt-icon icon-hyt_userEx"></span>
                Account
            </a> <!-- @I18N@ -->
        </div>

        <div (click)="logout()" class="submenu-element clickable">
            <a>
                <span class="hyt-icon icon-hyt_connector"></span>
                Logout
            </a> <!-- @I18N@ -->
        </div>

    </div>

</div>