<div id="container-pr">

  <div class="preload" style="display: none">
    <img src="../../../../assets/images/compressed/change-password-min.png" />
    <img src="../../../../assets/images/compressed/email-forgot-password-min.jpg" />
  </div>

  <div class="container" id="box-pr" *ngIf="submissionStatus != 1">

    <div id="row-icon-pr" class="row">
      <div id="icon-block" class="col-12">
        <span id="forgot-password-icon"></span>
        <h2 id="title-pr">Need to reset your password?</h2>
        <h3 id="subtitle-pr">No problem! Fill in the fields below and we will send you a confirmation email</h3>
      </div>
    </div> <!-- End Icon Row -->

    <div id="row-form-pr" class="row">
      <div id="form-block" class="col-12">

        <form id="recoverPassForm" [formGroup]="recoverPassForm" (ngSubmit)="resetPwd()">

          <div class="container-form-field">

            <hyt-input-text [form]="recoverPassForm" formControlName="password" name="password" [isRequired]="true"
              [isPassword]="true" i18n-placeholder="@@HYT_password" placeholder="HYT_password" type="password"
              errorPosition="bottom">
            </hyt-input-text>

          </div>

          <div class="container-form-field">

            <hyt-input-text [form]="recoverPassForm" formControlName="confPassword" name="confPassword"
              [isRequired]="true" i18n-placeholder="@@HYT_passwordConfirm" placeholder="HYT_passwordConfirm"
              type="password">
            </hyt-input-text>

          </div>

          <div id="error-row-message" class="row" *ngIf="submissionStatus == -1">

            <div id="container-error-message" class="col-12">
              <ng-container *ngIf="error">
                {{error}}
              </ng-container>
            </div>

          </div> <!-- End Row Error Message -->

          <div id="row-action-form" class="row">

            <div id="send-block" class="col-7">
              <hyt-button type="submit" [isDisabled]="!recoverPassForm.valid">Reset Password</hyt-button>
            </div>

            <div id="login-block" class="col-5">
              <a routerLink="/"><span>Back to Home</span></a>
            </div>

          </div> <!-- End Row Action Form -->

        </form> <!-- End Form -->

      </div>
    </div> <!-- End Form Row -->
  </div>

  <div class="container" id="box-pr-success" *ngIf="submissionStatus == 1">

    <div id="row-icon-success">
      <div id="icon-success-block" class="col-12">
        <span id="icon-email-success"></span>
        <h2 id="title-pr-success">Check in your Email!</h2>
        <h3 id="subtitle-pr-success">We just emailed you with the new password</h3>
        <hr id="divisor-success">
        <a routerLink="/auth/login"><span>Back to Login</span></a>
      </div>
    </div> <!-- End Row Icon Success -->

  </div>

</div>
