#container-pr {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 15px;
  font-family: "Exo";

  #box-pr {
    background-color: #ffffff;
    -ms-box-shadow: 0px 0px 25px -1px #151515;
    -o-box-shadow: 0px 0px 25px -1px #151515;
    box-shadow: 0px 0px 25px -1px #151515;

    #icon-block {
      text-align: center;

      span#forgot-password-icon {
        background-image: url('../../../../assets/images/compressed/change-password-min.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 100%;
        display: inline-block;
        height: 15.625rem;
        opacity: 1;
        -webkit-transition: opacity 0.1s ease-out;
        transition: opacity 0.1s ease-out;
        width: 13.625rem;
      }

      h2#title-pr {
        font-weight: 400;
        font-size: 2em;
      }

      h3#subtitle-pr {
        font-weight: 400;
        font-size: 1.1em;
        color: #7b7b7b;
        margin-bottom: 1.125em;
      }
    }

    #form-block {

      form#recoverPassForm {
        width: 500px;
        margin: 15px auto 35px auto;

        .container-form-field {
          margin-bottom: 20px;

          input {

            &.hyt-input {
              font-family: "Exo";
              font-size: 1.2em;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
              -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
              -moz-box-shadow: 0 0 0px 1000px #ffffff inset;
              box-shadow: 0 0 0px 1000px #ffffff inset;
            }

          }

        }

        #error-row-message {

          #container-error-message {
            text-align: center;
            color: red;
            text-transform: uppercase;
            font-style: italic;
          }

        }

        #row-action-form {
          margin-top: 50px;

          #send-block {

            button {
              width: 95%;
              background-color: #0d416d;
              color: #fff;
              font-family: "Exo";
              font-size: 1.1em;
              font-weight: 200;
              text-transform: uppercase;

              &:hover {
                background-color: #105f99;
              }

              &:disabled {
                background-color: #bcbcbc;
                cursor: not-allowed;
              }
            }

          }

          #login-block {
            text-align: right;

            a {
              font-size: 1.2em;
              font-style: italic;
              color: #0d416d;

              &:before {
                content: "<";
                margin-right: 5px;
                font-size: 1.4em;
                position: relative;
                top: 3px;
                left: -5px;
                display: inline-block;
              }

              &:hover {
                color: #105f99;

                &:before {
                  text-decoration: none;
                  animation: arrow-move-to-left .5s ease-in-out infinite;
                }
              }

            }
          }

        }
      }

    }

    #error-msg-block {
      margin-top: 40px;
      margin-bottom: 40px;

      #error-msg {
        width: 500px;
        margin: 0px auto;
        text-align: center;
        color: red;
        font-size: 1.1em;
        font-weight: 600;
      }
    }
  }

  #box-pr-success {
    background-color: #ffffff;
    -ms-box-shadow: 0px 0px 25px -1px #151515;
    -o-box-shadow: 0px 0px 25px -1px #151515;
    box-shadow: 0px 0px 25px -1px #151515;

    padding-bottom: 60px;

    #icon-success-block {
      text-align: center;

      span#icon-email-success {
        background-image: url('../../../../assets/images/compressed/email-forgot-password-min.jpg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 100%;
        display: inline-block;
        height: 15.625rem;
        opacity: 1;
        -webkit-transition: opacity 0.1s ease-out;
        transition: opacity 0.1s ease-out;
        width: 22.625rem;
      }

      h2#title-pr-success {
        font-weight: 400;
        font-size: 2em;
      }

      h3#subtitle-pr-success {
        font-weight: 400;
        font-size: 1.1em;
        color: #7b7b7b;
        margin-bottom: 1.125em;
      }

      hr#divisor-success {
        width: 600px;
        margin-top: 3em;
        margin-bottom: 2em;
        border-width: .5px;
        border-color: #d6d6d6;
        border-style: solid;
      }

      a {
        font-size: 1.2em;
        font-style: italic;
        color: #0d416d;

        &:hover {
          color: #105f99;

          &:before {
            text-decoration: none;
            -webkit-animation: arrow-move-to-left 0.5s ease-in-out infinite;
            animation: arrow-move-to-left 0.5s ease-in-out infinite;
          }
        }

        &:before {
          content: "<";
          margin-right: 5px;
          font-size: 1.4em;
          position: relative;
          top: 3px;
          left: -5px;
          display: inline-block;
        }
      }
    }
  }
}

/******************************************
*******************************************
*
* ANIMATIONS
*
*******************************************
******************************************/

@keyframes arrow-move-to-left {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-5px, 0);
  }
}
