<!-- {{status}} -->


<div id="container-act">

    <div class="container" id="box-act" *ngIf="status === 'ERROR'">
     
      <div id="row-icon-act" class="row">
        <div id="icon-block" class="col-12">
          <span id="error-act-icon"></span>
          <h2 id="title-act">Something went wrong!!</h2>
          <h3 id="subtitle-act">The data used is incorrect, check and try again.</h3>
          <hr id="divisor-error">
        </div>
      </div> <!-- End Icon Row -->
  
      <div id="row-btn-act" class="row">
        <div id="btn-block" class="col-12">
          
          <a routerLink="/">Return to Home</a>
  
        </div>
      </div> <!-- End Form Row -->
  
    </div>
  
    <div class="container" id="box-act-success" *ngIf="status === 'SUCCESS'">
      
      <div id="row-icon-success">
        <div id="icon-success-block" class="col-12">
          <span id="icon-act-success"></span>
          <h2 id="title-act-success">Congratulations, Your account is now active!!</h2>
          <h3 id="subtitle-act-success">Start now to find out what you can do and have fun.</h3>
          <hr id="divisor-success">
          <a routerLink="/auth/login"><span>Go to Home</span></a>
        </div>
      </div> <!-- End Row Icon Success -->
  
    </div>
  
  </div>
  