<div id="container-act">

  <div class="preload" style="display: none">
    <img src="../../../../assets/images/compressed/errore-min.png" />
    <img src="../../../../assets/images/compressed/success-min.png" />
  </div>


  <div class="container" id="box-act" *ngIf="activationStatus == -1">

    <div id="row-icon-act" class="row">
      <div id="icon-block" class="col-12">
        <span id="error-act-icon"></span>
        <h2 id="title-act" i18n="@@HYT_something_went_wrong">HYT_something_went_wrong</h2>
        <h3 id="subtitle-act" i18n="@@HYT_acivation_incorrect_data">HYT_acivation_incorrect_data</h3>
        <hr id="divisor-error">
      </div>
    </div> <!-- End Icon Row -->

    <div id="row-btn-act" class="row">
      <div id="btn-block" class="col-12">

        <a routerLink="/" i18n="@@HYT_return_to_home">HYT_return_to_home</a>

      </div>
    </div> <!-- End Form Row -->

  </div>

  <div class="container" id="box-act-success" *ngIf="activationStatus == 2">

    <div id="row-icon-success">
      <div id="icon-success-block" class="col-12">
        <span id="icon-act-success"></span>
        <h2 id="title-act-success" i18n="@@HYT_activation_success_1">HYT_activation_success_1</h2>
        <h3 id="subtitle-act-success" i18n="@@HYT_activation_success_2">HYT_activation_success_2</h3>
        <hr id="divisor-success">
        <a routerLink="/auth/login"><span i18n="@@HYT_go_to_home">HYT_go_to_home</span></a>
      </div>
    </div> <!-- End Row Icon Success -->

  </div>

</div>
