<div id="container-act">

  <div class="container" id="box-act" *ngIf="activationStatus == -1"> 

    <div id="row-icon-act" class="row">
      <div id="icon-block" class="col-12">
        <span id="error-act-icon"></span>
        <h2 id="title-act" i18n="@@HYT_something_went_wrong">Something went wrong</h2>
        <h3 id="subtitle-act" i18n="@@HYT_acivation_incorrect_data">The data used is incorrect, check and try again.</h3>
        <hr id="divisor-error">
      </div>
    </div> <!-- End Icon Row -->

    <div id="row-btn-act" class="row">
      <div id="btn-block" class="col-12">

        <a routerLink="/" i18n="@@HYT_return_to_home">Return to Home</a>

      </div>
    </div> <!-- End Form Row -->

  </div>

  <div class="container" id="box-act-success" *ngIf="activationStatus == 2"> 

    <div id="row-icon-success">
      <div id="icon-success-block" class="col-12">
        <span id="icon-act-success"></span>
        <h2 id="title-act-success" i18n="@@HYT_activation_success_1">Congratulations, Your account is now active!!</h2>
        <h3 id="subtitle-act-success" i18n="@@HYT_activation_success_2">Start now to find out what you can do and have fun.</h3>
        <hr id="divisor-success">
        <a routerLink="/auth/login"><span i18n="@@HYT_go_to_home">Go to Home</span></a>
      </div>
    </div> <!-- End Row Icon Success -->

  </div>

</div>
