html {
  /**
  * commented to prevent the BIM navigation cube misalignment problem
  **/
 /* height: 100%;*/

  ::-webkit-scrollbar {
    width: .4em;
    height: .5em;
    z-index: 1;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #5F87EF;

    &:hover {
      background: rgb(70, 104, 192);
    }

  }

  body {
    height: 100%;

    &.hyt-modal-open {
      overflow: hidden;

      .cdk-overlay-container {
        z-index: 1010;
      }
    }

    #hyt-container {

      position: relative;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      height: 100%;
      overflow-x: hidden;
      /**
      * Hidden vertical scrolling of the component to favor that of the whole page obtained by commenting on line 5.
      * Previously set to "overflow-y: auto;"
      **/
      overflow-y: hidden;

      #hyt-container-topbar {

        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        left: 0;
      }

      #hyt-container-nav {
        position: relative;
        min-height: 100%;
        width: 100%;

        #hyt-container-router {

          &.container-fluid {
            position: relative;
            padding-left: 60px;
            padding-right: 0;
            top: 64px;
            padding-bottom: 60px;
            overflow: visible;
            height: 100%;

            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
          }

          &.container-full-screen {
            position: relative;
            overflow: auto;
            height: 100%;
          }

        }

      }
    }

    /* MODAL STYLES
    -------------------------------*/
    .hyt-modal-general {
      /* modals are hidden by default */
      display: none;

      .hyt-modal {
        /* modal container fixed across whole screen */
        position: relative;

        /* z-index must be higher than .hyt-modal-background */
        z-index: 1002;

        /* enables scrolling for tall modals */
        //overflow: auto;

        .hyt-modal-body {

          position: fixed;
          top: 50%;
          left: 50%;

          transform: scale(0.9);

          -webkit-animation-name: modalTransform;
          /* Safari 4.0 - 8.0 */
          -webkit-animation-duration: .4s;
          /* Safari 4.0 - 8.0 */
          animation-name: modalTransform;
          animation-duration: .4s cubic-bezier(.25, .8, .25, 1);

          -webkit-animation-name: modalOpacityBody;
          /* Safari 4.0 - 8.0 */
          -webkit-animation-duration: .4s;
          /* Safari 4.0 - 8.0 */
          animation-name: modalOpacityBody;
          animation-duration: .4s cubic-bezier(.25, .8, .25, 1);
        }

      }

      .hyt-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0;

        /* z-index must be below .hyt-modal and above everything else  */
        z-index: 1001;

        -webkit-animation-name: modalOpacity;
        /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: .4s;
        /* Safari 4.0 - 8.0 */
        animation-name: modalOpacity;
        animation-duration: .4s cubic-bezier(.25, .8, .25, 1);

      }

      &.open {
        display: block;

        .hyt-modal {
          opacity: 1;

          .hyt-modal-body {
            transform: scale(1);
            transform: translate(-50%, -50%);
          }
        }

        .hyt-modal-background {
          opacity: 0.65;
        }
      }

    }

    .hyt-modal-open {
      /* body overflow is hidden to hide main scrollbar when modal window is open */
      overflow: hidden;
    }

  }

}

@keyframes modalOpacity {
  0% {opacity: 0}
  100% {opacity: 0.65}
}

@keyframes modalOpacityBody {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes modalTransform {
  0% {transform: scale(0.9)}
  100% {transform: scale(1)}
}

/* UTILS */
.text-center{
  text-align: center;
}

/* RESPONSIVE */

@media (max-width: 991px) {

  html {

    body {

      #hyt-container {

        #hyt-container-nav {

          #hyt-container-router {

            &.container-fluid {

              padding-left: 0px;

            }

          }

        }

      }

    }

  }


} /* END 991px */

