<div id="hyt-container">

  <div *ngIf="showToolBars()" id="hyt-container-topbar">
    <hyt-topbar></hyt-topbar>
  </div>

  <div id="hyt-container-nav">

    <div *ngIf="showToolBars()" id="hyt-container-sidebar">
      <hyt-sidebar></hyt-sidebar>
    </div>

    <div id="hyt-container-router" class="{{(showToolBars()) ? 'container-fluid' : 'container-full-screen'}}">
      <router-outlet></router-outlet>

    </div>

  </div>

  <hyt-notificationbar></hyt-notificationbar>
  <hyt-prompt></hyt-prompt>

</div>
