<!-- <div id="add-tag-modal" class="hyt-modal">

    <div class="hyt-modal-body">

        <div class="dialog">

            <div class="dialog-header">
                <span>Tag</span>
                <span class="hyt-icon icon-hyt_cancelC" (click)="close()"></span>
            </div>

            <div class="dialog-body">

                <form [formGroup]="tagForm" (ngSubmit)="submitTag()">
                    <hyt-input-text [form]="tagForm" formControlName="name" name="name" placeholder="Tag name"
                        [isRequired]="true" [injectedErrorMsg]="nameError" [fieldValue]="nameValue">
                    </hyt-input-text>
                    <!--@I18N--
                    <ng-container *ngIf="pageStatus == -2">{{nameError}}</ng-container>
                    <hyt-button type="submit" color="primary" [isDisabled]="notValid() || pageStatus == 0">
                        {{(data.mode=='add')?'Add':'Update'}}</hyt-button>
                    <!--@I18N--
                    <ng-container *ngIf="pageStatus == 0">Loading</ng-container>
                    <!--TODO replace with spinner--
                </form>

            </div>

        </div>
    </div>
</div> -->

<div id="add-tag-modal" class="dialog-container" hyt-dialog>

    <div class="dialog-header">
        <span>{{(data.mode=='add')?'Add':'Update'}} Tag</span> <!-- @I18N@ -->
        <span class="hyt-icon icon-hyt_cancelC" (click)="close()"></span>
    </div>

    <div class="dialog-body">

        <form [formGroup]="tagForm" (ngSubmit)="submitTag()">

            <hyt-input-text [form]="tagForm" formControlName="name" name="name" placeholder="Tag name"
                [isRequired]="true" [injectedErrorMsg]="nameError" [fieldValue]="nameValue">
            </hyt-input-text>
            <!--@I18N-->

            <hyt-text-area [form]="tagForm" formControlName="description" name="description"
                placeholder="Description" i18n-placeholder="@@HYT_description" [fieldValue]="descriptionValue">
            </hyt-text-area>

            <div id="colorPickerContainer">
                <p i18n="@@HYT_tag_select_color">Select color</p>
                <label id="colorPickerLabel" for="inputColorPicker" [style.background-color]="color"></label>
                <input id="inputColorPicker" name="inputColorPicker" class="colorPicker"
                    [(colorPicker)]="color" [cpPosition]="'top'"
                />
                <span id="colorPickerReset" (click)="resetColor()">Reset</span>
            </div>

            <div id="container-btn">

                <hyt-button 
                    type="submit" 
                    [color]="'hyt-base-total-white'"
                    [isDisabled]="notValid() || pageStatus == 0"
                >
                    {{(data.mode=='add')?'Add':'Update'}}
                    <span 
                        class="hyt-icon" 
                        [ngClass]="{'icon-hyt_plusC' : data.mode == 'add', 'icon-hyt_reload' : data.mode != 'add'}"
                    ></span>

                </hyt-button>
                <!--@I18N-->

            </div>

            <ng-container *ngIf="pageStatus == 0"> 
                
                <div id="container-loading">

                    <!-- Loading... -->

                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>

                </div>

            </ng-container>
            <!--TODO replace with spinner-->

            <ng-container *ngIf="pageStatus == -2"> 
                <div id="container-error">
                    
                    {{nameError}}

                </div>
            </ng-container>

        </form>

    </div>

</div>