<h2>Project</h2>

<div class="container">

    <form [formGroup]="form" class="d-flex flex-column justify-content-center">

        <hyt-input-text [form]="form"
            name="name" placeholder="Name"
            formControlName="name"
            errorPosition="bottom"
            minlength="3"
            [isRequired]="true"></hyt-input-text>

        <hyt-text-area [form]="form"
            name="description" placeholder="Description"
            formControlName="description"></hyt-text-area>

        <div class="mt-4 d-flex flex-row justify-content-around">
            <hyt-button (clickFn)="onSaveClick()" [isDisabled]="!form.valid || !isDirty()">
                <mat-icon class="md-primary">save</mat-icon>
                <span>Save</span>
            </hyt-button>
            <hyt-button (clickFn)="onDeleteClick()">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </hyt-button>
        </div>

    </form>

    <div *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
        <h4 *ngIf="loadingStatus === LoadingStatus.Loading">Loading project data...</h4>
        <h4 *ngIf="loadingStatus === LoadingStatus.Error">Error loading project data.</h4>
    </div>

</div>