/* koho-300 - latin */
@font-face {
  font-family: 'KoHo';
  font-style: normal;
  font-weight: 300;
  src: local('KoHo Light'), local('KoHo-Light'),
       url('../fonts/koho-v2-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/koho-v2-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-300italic - latin */
@font-face {
  font-family: 'KoHo';
  font-style: italic;
  font-weight: 300;
  src: local('KoHo Light Italic'), local('KoHo-LightItalic'),
       url('../fonts/koho-v2-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/koho-v2-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-regular - latin */
@font-face {
  font-family: 'KoHo';
  font-style: normal;
  font-weight: 400;
  src: local('KoHo Regular'), local('KoHo-Regular'),
       url('../fonts/koho-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/koho-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-italic - latin */
@font-face {
  font-family: 'KoHo';
  font-style: italic;
  font-weight: 400;
  src: local('KoHo Italic'), local('KoHo-Italic'),
       url('../fonts/koho-v2-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/koho-v2-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-600 - latin */
@font-face {
  font-family: 'KoHo';
  font-style: normal;
  font-weight: 600;
  src: local('KoHo SemiBold'), local('KoHo-SemiBold'),
       url('../fonts/koho-v2-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/koho-v2-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-600italic - latin */
@font-face {
  font-family: 'KoHo';
  font-style: italic;
  font-weight: 600;
  src: local('KoHo SemiBold Italic'), local('KoHo-SemiBoldItalic'),
       url('../fonts/koho-v2-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/koho-v2-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-700 - latin */
@font-face {
  font-family: 'KoHo';
  font-style: normal;
  font-weight: 700;
  src: local('KoHo Bold'), local('KoHo-Bold'),
       url('../fonts/koho-v2-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/koho-v2-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* koho-700italic - latin */
@font-face {
  font-family: 'KoHo';
  font-style: italic;
  font-weight: 700;
  src: local('KoHo Bold Italic'), local('KoHo-BoldItalic'),
       url('../fonts/koho-v2-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/koho-v2-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}