<!-- List of widget that can be dynamically loaded -->

<ng-container [ngSwitch]="widget.type">

  <hyperiot-time-chart
    *ngSwitchCase="'time-chart'"
    [widget]="widget"
    [data]="fullScreenData"
    [isModalView]="fullScreenData === 'modal'"
    (widgetAction)="onWidgetAction($event)"></hyperiot-time-chart>

  <hyperiot-fourier-chart
    *ngSwitchCase="'fourier-chart'"
    [widget]="widget"
    [isModalView]="fullScreenData === 'modal'"
    (widgetAction)="onWidgetAction($event)"></hyperiot-fourier-chart>

  <hyperiot-stats-chart
    *ngSwitchCase="'stats-chart'"
    [widget]="widget"
    [isModalView]="fullScreenData === 'modal'"
    (widgetAction)="onWidgetAction($event)"></hyperiot-stats-chart>

  <hyperiot-sensor-value
    *ngSwitchCase="'sensor-value'"
    [widget]="widget"
    [isModalView]="fullScreenData === 'modal'"
    (widgetAction)="onWidgetAction($event)"></hyperiot-sensor-value>

  <hyperiot-image-data
    *ngSwitchCase="'image-data'"
    [widget]="widget"
    [isModalView]="fullScreenData === 'modal'"
    (widgetAction)="onWidgetAction($event)"></hyperiot-image-data>

  <hyperiot-gauge-value
    *ngSwitchCase="'gauge-value'"
    [widget]="widget"
    [isModalView]="fullScreenData === 'modal'"
    (widgetAction)="onWidgetAction($event)"></hyperiot-gauge-value>

  <hyperiot-events-log
    *ngSwitchCase="'events-log'"
    [widget]="widget"
    [isModalView]="fullScreenData === 'modal'"
    (widgetAction)="onWidgetAction($event)"></hyperiot-events-log>

  <hyperiot-text-label
    *ngSwitchCase="'text-label'"
    [widget]="widget"
    [isModalView]="fullScreenData === 'modal'"
    (widgetAction)="onWidgetAction($event)"></hyperiot-text-label>

  <hyperiot-hpacket-table
    *ngSwitchCase="'offline-table'"
    [widget]="widget"
    [isModalView]="fullScreenData === 'modal'"
    (widgetAction)="onWidgetAction($event)"></hyperiot-hpacket-table>

  <hyperiot-realtime-hpacket-table
    *ngSwitchCase="'realtime-table'"
    [widget]="widget"
    [isModalView]="fullScreenData === 'modal'"
    (widgetAction)="onWidgetAction($event)"></hyperiot-realtime-hpacket-table>

  <hyperiot-algorithm-table
    *ngSwitchCase="'algorithm-offline-table'"
    [widget]="widget"
    [isModalView]="fullScreenData === 'modal'"
    (widgetAction)="onWidgetAction($event)"></hyperiot-algorithm-table>

  <hyperiot-event-table
    *ngSwitchCase="'event-offline-table'"
    [widget]="widget"
    [isModalView]="fullScreenData === 'modal'"
    (widgetAction)="onWidgetAction($event)"></hyperiot-event-table>

  <hyperiot-error-table
    *ngSwitchCase="'error-table'"
    [widget]="widget"
    [isModalView]="fullScreenData === 'modal'"
    (widgetAction)="onWidgetAction($event)"></hyperiot-error-table>

  <hyperiot-default-widget
    *ngSwitchDefault
    [widget]="widget"
    [isModalView]="fullScreenData === 'modal'"
    (widgetAction)="onWidgetAction($event)"></hyperiot-default-widget>

</ng-container>