<!-- List of widget that can be dynamically loaded -->

<hyperiot-time-chart
  *ngIf="widget.type === 'time-chart'"
  [widget]="widget"
  [data]="fullScreenData"
  [commonToolbarHideButton]="fullScreenData !== 'modal'"
  (widgetAction)="onWidgetAction($event)"></hyperiot-time-chart>

<hyperiot-fourier-chart
  *ngIf="widget.type === 'fourier-chart'"
  [widget]="widget"
  (widgetAction)="onWidgetAction($event)"></hyperiot-fourier-chart>

<hyperiot-stats-chart
  *ngIf="widget.type === 'stats-chart'"
  [widget]="widget"
  (widgetAction)="onWidgetAction($event)"></hyperiot-stats-chart>

<hyperiot-sensor-value
  *ngIf="widget.type === 'sensor-value'"
  [widget]="widget"
  (widgetAction)="onWidgetAction($event)"></hyperiot-sensor-value>

<hyperiot-image-data
  *ngIf="widget.type === 'image-data'"
  [widget]="widget"
  (widgetAction)="onWidgetAction($event)"></hyperiot-image-data>

<hyperiot-gauge-value
  *ngIf="widget.type === 'gauge-value'"
  [widget]="widget"
  (widgetAction)="onWidgetAction($event)"></hyperiot-gauge-value>

<hyperiot-events-log
  *ngIf="widget.type === 'events-log'"
  [widget]="widget"
  (widgetAction)="onWidgetAction($event)"></hyperiot-events-log>

<hyperiot-text-label
  *ngIf="widget.type === 'text-label'"
  [widget]="widget"
  (widgetAction)="onWidgetAction($event)"></hyperiot-text-label>

<hyperiot-hpacket-table
  *ngIf="widget.type === 'offline-table'"
  [widget]="widget"
  (widgetAction)="onWidgetAction($event)"></hyperiot-hpacket-table>

<hyperiot-realtime-hpacket-table
  *ngIf="widget.type === 'realtime-table'"
  [widget]="widget"
  (widgetAction)="onWidgetAction($event)"></hyperiot-realtime-hpacket-table>

  <hyperiot-algorithm-table
    *ngIf="widget.type === 'algorithm-offline-table'"
    [widget]="widget"
    (widgetAction)="onWidgetAction($event)">
  </hyperiot-algorithm-table>

  <hyperiot-event-table
    *ngIf="widget.type === 'event-offline-table'"
    [widget]="widget"
    (widgetAction)="onWidgetAction($event)">
  </hyperiot-event-table>

  <hyperiot-error-table
    *ngIf="widget.type === 'error-table'"
    [widget]="widget"
    (widgetAction)="onWidgetAction($event)">
  </hyperiot-error-table>
