#devices-step {

  margin-top: 20px;
  font-family: "Exo";

  form {
    
    &.device-form {
      .container-form-field {
        margin-bottom: 20px;
      }
    }

  }

  #container-hints {
    border-left: 0.5px solid #bdbdbd;
    text-align: center;

    h3 {
      &#title-area {
        font-weight: 800;
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #0956b6;
        text-align: left;
        margin-top: -9px;
        text-transform: uppercase;
        // border-bottom: 2px solid #0956b6;
      }
    }

    #box-devices {
      // margin-top: 30px;
      border: .5px solid #e2e2e2;
      border-radius: 6px;
      text-align: left;
      margin-bottom: 25px;
      padding-top: 3px;
      padding-bottom: 8px;

      #header-box {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 2px solid #0956b6;
        margin-bottom: 10px;

        #title-box {
          color: #0956b6;
        }

      }

      .body-box {
        border: .5px solid #0956b6;
        max-width: 98%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 3px;
        padding-top: 5px;
        padding-bottom: 3px;
        font-size: .9em;
        margin-bottom: 3px;
      }

      #footer-box {
        border-top: 2px solid #0956b6;
        margin-top: 25px;
        padding-top: 5px;
        text-align: right;
        font-size: .85em;

        span {
          &.arrow {
            font-size: 1.6em;
            vertical-align: middle;
            cursor: pointer;

            &:hover {
              color: #0956b6;
            }

          }
        }
      }

    }

    .info-message {
      background-color: whitesmoke;
      border-radius: 5px;
      padding: 10px 5px;
      color: #0956b6;
      font-size: 0.9em;
      position: relative;

      mat-icon {
        color: #757575;
        position: absolute;
        top: -11px;
        right: -6px;
      }

    }
  
    .alignCenter {
      text-align: center;
    }  

  }

}

