<div id="devices-step" class="row">

  <div class="col-md-10">

    <hyt-devices-form #devicesForm (saveDevice)="saveDevice()" (updateDevice)="updateDevice()"></hyt-devices-form>

  </div>

  <div class="col-md-2">

    <hyt-devices-hint-column (updateDevice)="tableUpdateDevice($event)" (copyDevice)="tableCopyDevice($event)"
      (deleteDevice)="showDeleteModal($event)"></hyt-devices-hint-column>

  </div>

  <hyt-modal [mOpen]="deleteModal">
    <div class="alignCenter">
      Sei sicuro di voler eliminare il device?
      <hr>
      <button (click)="deleteDevice()">Sì</button>
      <button (click)="hideDeleteModal()">No</button>
      <br>
      <div *ngIf="deleteError">{{deleteError}}</div>
    </div>
  </hyt-modal>

</div>
