<div id="devices-step" class="row">

  <div class="col-md-9">

    <hyt-devices-form #devicesForm (saveDevice)="saveDevice()" (updateDevice)="updateDevice()"></hyt-devices-form>

  </div>

  <div class="col-md-3">

    <hyt-devices-hint-column (updateDevice)="tableUpdateDevice($event)" (copyDevice)="tableCopyDevice($event)"
      (deleteDevice)="showDeleteModal($event)"></hyt-devices-hint-column>

  </div>

  <hyt-modal [mOpen]="deleteModal">
    <div class="alignCenter">
      <p i18n="@@HYT_delete_device_confirm">HYT_delete_device_confirm</p>
      <hr>
      <button (click)="deleteDevice()">
        <p i18n="@@HYT_yes">HYT_yes</p>
      </button>
      <button (click)="hideDeleteModal()">
        <p i18n="@@HYT_no">HYT_no</p>
      </button>
      <br>
      <div *ngIf="deleteError">{{deleteError}}</div>
    </div>
  </hyt-modal>

</div>