<div *ngIf="showCover && !editMode" class="d-flex flex-column justify-content-center align-items-center">
  <hyt-button (clickFn)="onAddButtonClick()">Add enrichment</hyt-button>
</div>
<form [ngClass]="{ hidden: !editMode }" class="container enrichment-form" [formGroup]="form" autocomplete="on">

  <div class="row">
    <div class="col-md-4 container-form-field">
      <hyt-input-text [form]="form" formControlName="rule-name" name="rule-name" [isRequired]="true"
        i18n-placeholder="@@HYT_name" placeholder="HYT_name" [injectedErrorMsg]="getError('rule-name')"
        [externalHint]="'Enter the rule name'" (outHint)="updateHint($event)">
      </hyt-input-text>
    </div> <!-- Field Name -->
    <div class="col-md-4 container-form-field">
      <hyt-select [form]="form" [options]="enrichmentRules" (changeFn)="enrichmentTypeChanged($event)"
        formControlName="enrichmentRule" name="enrichmentRule" [isRequired]="true" i18n-label="@@HYT_rule_type"
        label="HYT_rule_type">
      </hyt-select>
    </div> <!-- Field RuleType -->
    <div class="col-md-4 container-form-field">
      <hyt-text-area [form]="form" formControlName="rule-description" name="rule-description"
        i18n-placeholder="@@HYT_description" placeholder="HYT_description"
        [externalHint]="'Enter the rule description. (max...)'" (outHint)="updateHint($event)">
      </hyt-text-area>
    </div> <!-- Field RuleDescription -->
  </div>

  <div class="row">
    <div class="col-md-12 container-form-field">
      <hyt-rule-definition *ngIf="packet" #ruleDef [currentPacket]="packet">
      </hyt-rule-definition>
    </div> <!-- Field RuleDefinition -->
  </div>

  <div *ngIf="enrichmentType=='AddTagRuleAction'" class="row">
    <div class="col-md-12 center">
      <hyt-asset-tag [packet]="packet" (tagIds)="updateAssetTag($event)">
      </hyt-asset-tag>
    </div>
  </div>

  <div *ngIf="enrichmentType=='AddCategoryRuleAction'" class="row">
    <div class="col-md-12 center">
      <hyt-asset-category [packet]="packet" (categoryIds)="updateAssetCategory($event)">
      </hyt-asset-category>
    </div>
  </div>
<!--
  <hyt-button id="rule-form-add-button"
    [isDisabled]="invalid() || loadingStatus == LoadingStatus.Loading" (clickFn)="postRule()" type="submit">
    <ng-container i18n="@@HYT_add_rule">HYT_add_rule</ng-container>
  </hyt-button>

  <hyt-button id="rule-form-update-button"
    [isDisabled]="invalid() || loadingStatus == LoadingStatus.Loading" (clickFn)="putRule()" type="submit">
    <ng-container i18n="@@HYT_update_Rule">HYT_update_Rule</ng-container>
  </hyt-button>
-->

  <!-- TODO: This HTML block is repeated
    across all 'entity' components,
    consider making a component out of it -->
  <div *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
    <h4 *ngIf="loadingStatus === LoadingStatus.Loading">Loading project data...</h4>
    <div *ngIf="loadingStatus === LoadingStatus.Error" class="d-flex flex-column justify-content-center">
        <h4>An error has occurred =/</h4>
        <button mat-stroked-button (click)="loadingStatus = LoadingStatus.Ready">
            <span>Close</span>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <h4 *ngIf="loadingStatus === LoadingStatus.Saving">Saving project data...</h4>
    <mat-progress-bar
        *ngIf="loadingStatus === LoadingStatus.Loading || loadingStatus === LoadingStatus.Saving"
        mode="query"></mat-progress-bar>
  </div>

</form>
