#container-enrichment-form {

    padding-top: 15px;
    padding-bottom: 35px;

    &.container {
        position: relative;

        #container-add-enrich {

            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;

        }

    }
    
    form {
        .form-group {

            &.row {
                margin-bottom: 15px;

                .col-tag-cat {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &#ffield-col-enrich-name {
                        hyt-input-text { 
                            flex-grow: 1;
                        }
                    }

                    &#ffield-col-enrich-rules {
                        text-align: center;
                    }

                }
            }

        }

    }

}

.overlay {
    position: absolute;
    background-color: rgba(255,255,255,.75);
    left: 0; top: 0; right: 0; bottom: 0;

    .loading-logo {
        height: 63%;
        position: relative;
        // top: -30px;
        text-align: center;
        display: flex;
        align-items: flex-end;

        background-image: url('src/assets/images/hyperiot_logo_single_char.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;

        img {
            height: 100%;
            margin-bottom: 5px;
            max-height: 178px;
            width: auto;
            // animation-name: pulses;
            // animation-duration: 1.5s;
            // animation-iteration-count: infinite;
        }
        
        h4 {
            text-align: center;
        }
    }

    mat-progress-bar {
        max-width: 200px;
        margin: 8px;
    }

}

.hidden {
    display: none;
}
