#container-enrichment-form {

    padding-top: 15px;
    padding-bottom: 35px;

    &.container {
        position: relative;
    }
    
    form {
        .form-group {

            &.row {
                margin-bottom: 15px;

                .col-tag-cat {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &#ffield-col-enrich-name {
                        hyt-input-text { 
                            flex-grow: 1;
                        }
                    }

                    &#ffield-col-enrich-rules {
                        text-align: center;
                    }

                }
            }

        }

    }

}

.overlay {
    position: absolute;
    background-color: rgba(255,255,255,.75);
    left: 0; top: 0; right: 0; bottom: 0;
}
mat-progress-bar {
    max-width: 200px;
    margin: 8px;
}
.hidden {
    display: none;
}
