#container-notification-list {
  padding: 0;
  display: flex;
  flex-direction: column;

  #notification-scroll-container {
    padding: .4em 1em;
    height: 100%;
    width: 100%;
    overflow-y: auto;

    #notification-list {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      padding-bottom: .25em;


      #no-notification {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em 0;
        width: 100%;


        h3 {
          text-transform: uppercase;
          color: rgba(30, 88, 165, 0.75);
          margin-bottom: 0;
          font-size: 1.4em;
        }

      }
    }
  }

}
