<div id="container-notification-list" class="hyt-overlay-container">
  <div class="header-overlay">
    <div class="title-badge overlay-badge" i18n="@@HYT_notification_list">
      Notification list
    </div>
    <div class="close-overlay overlay-badge" (click)="dialogRef.close()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="currentColor"
        class="bi bi-x"
        viewBox="0 0 16 16"
      >
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
        />
      </svg>
    </div>
  </div>

  <div id="notification-scroll-container">
    <div
      *ngIf="notificationList$ | async as notificationList"
      id="notification-list"
      [@containerAnim]="notificationList.length"
    >
      <div
        id="no-notification"
        *ngIf="
          notificationList.length === 0;
          else notificationListValueTemplate
        "
      >
        <hyt-no-data [width]="150" [height]="150"></hyt-no-data>
        <h3 class="alarm-title" i18n="@@HYT_no_notifications">
          No notifications
        </h3>
      </div>
      <ng-template #notificationListValueTemplate>
        <div *ngFor="let notification of notificationList">
          <div *ngIf="notification.data as data" class="d-flex flex-column">
            <div class="d-flex flex-column">
              <div class="d-flex justify-content-between">
                <div class="d-flex" style="gap: 25px">
                  <div>
                    <div>From:</div>
                    <div>To:</div>
                    <div>File:</div>
                  </div>
                  <div>
                    <div>
                      {{ data.startTime | amFromUtc | amLocale : "it" }}
                    </div>
                    <div>{{ data.startTime }}</div>
                    <div>{{ data.fullFileName }}</div>
                  </div>
                </div>
                <div>
                  <button type="button" (click)="retryDownload(notification)">
                    RETRY
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <small><span>Downloaded:</span></small>
            </div>
            <div>
              <mat-progress-bar
                mode="determinate"
                value="40"
              ></mat-progress-bar>
            </div>
          </div>

          <!-- <div class="d-flex">
            <div [ngSwitch]="notification.data.hPacketFormat">
              <div *ngSwitchCase="HPacketFormat.CSV">TODO CSV</div>
              <div *ngSwitchCase="HPacketFormat.JSON">TODO JSON</div>
              <div *ngSwitchCase="HPacketFormat.TEXT">TODO TEXT</div>
              <div *ngSwitchCase="HPacketFormat.XML">TODO XML</div>
            </div>
            <div>
              {{ notification.data.fullFileName }}
            </div>
            <div>

            </div>
          </div> -->
        </div>
      </ng-template>
    </div>
  </div>
</div>
