<div class="padding-6 d-flex flex-column justify-content-stretch">

    <label [ngClass]="{'error-color': url.invalid}">Data URL for chart view</label>
    <input type="text" [(ngModel)]="dataUrl" #url="ngModel" name="url" required>

    <label [ngClass]="{'error-color': tableUrl.invalid}">Data URL for table view</label>
    <input type="text" [(ngModel)]="dataTableUrl" #tableUrl="ngModel" name="table-url" required>

</div>

<!-- Plotly chart specific options -->

<div class="padding-6 d-flex flex-column justify-content-stretch">
    <!-- not yet implemented -->
</div>
