<div class="login-pic">
  <img src="https://cdn1.iconfinder.com/data/icons/business-and-commercial-mixed-round/128/35-512.png" alt="Image">
</div>

<form #f="ngForm" class="login-form" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="on"
  (keydown)="keyDownFunction($event)">
  <h3 i18n="@@HYT_login">HYT_login</h3>
  <div class="container-input">

    <hyt-input-text [isRequired]="true" i18n-placeholder="@@HYT_username" placeholder="HYT_username" [id]="'username'"
      [formControl]="loginForm.controls.username" [fieldValue]="loginForm.value.username"
      [injectedErrorState]="injectedErrorState" [errorMsgState]="error[0]">
    </hyt-input-text>

  </div>

  <div>
    <hyt-input-text class="login" type="password" [isRequired]="true" i18n-placeholder="@@HYT_password"
      placeholder="HYT_password" [errorMsgRequired]="'Il campo è obbligatorio'" [id]="'password'"
      [formControl]="loginForm.controls.password" [fieldValue]="loginForm.value.password"
      [injectedErrorState]="injectedErrorState" [errorMsgState]="error[1]">
    </hyt-input-text>

  </div>

  <br>

  <mat-checkbox type="checkbox" formControlName="rememberMe" id="remember-me">
    <ng-container i18n="@@HYT_remember_me">HYT_remember_me</ng-container>
  </mat-checkbox>

  <br>

  <div class="container-form-field errorMessage">
    <ng-container *ngIf="error[2]">
      {{error[2]}}
    </ng-container>
  </div>

  <hyt-button type="submit" [isDisabled]="!f.valid || loading">
    <ng-container i18n="@@HYT_login_button">HYT_login_button</ng-container>
  </hyt-button>

</form>
