@import '../../../../assets/styles/abstracts/mixins';

#container-login {

  position: absolute;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 15px;

  font-family: 'Exo';

  #box-login {
    background-color: #ffffff;
    @include box-shadow(0px, 0px, 25px, -1px, #151515);

    #column-welcome {
      background-image: url('../../../../assets/images/compressed/login_bg_600x400-min.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 30px;

      #head-welcome-box {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 5em;
        text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.65),
          0px -5px 35px rgba(255, 255, 255, 0.32);
        margin-top: 10px;
        margin-left: 15px;
      }

      #body-welcome-box {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 3.5em;
        line-height: 65px;
        text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.65),
          0px -5px 35px rgba(255, 255, 255, 0.32);
        margin-left: 15px;
        margin-top: 40px;
      }

      #footer-welcome-box {
        color: #fff;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 1.2em;
        line-height: 27px;
        text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.65),
          0px -5px 35px rgba(255, 255, 255, 0.32);
        margin-left: 15px;
        position: absolute;
        left: 20px;
        bottom: 10px;

        a {
          color: #ffffff;
          font-style: italic;
          font-weight: 600;
          text-decoration: underline;

          &:hover {
            color: aqua;
          }
        }
      }

    }

    #column-login-form {

      padding: 20px 55px 45px 40px;

      h3#login-title {
        font-weight: 200;
        font-size: 2.4em;
        margin-bottom: 20px;
        line-height: 45px;
      }

      #login-form {

        margin-top: 35px;

        form {

          .container-form-field {
            width: 90%;
            margin: 0px auto 20px auto;

            input {

              &.hyt-input {
                font-family: "Exo";
                font-size: 1.1em;
              }

              &:-webkit-autofill,
              &:-webkit-autofill:hover,
              &:-webkit-autofill:focus {
                -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
                -moz-box-shadow: 0 0 0px 1000px #ffffff inset;
                box-shadow: 0 0 0px 1000px #ffffff inset;
              }
            }

            label {
              &.mat-form-field-label {
                font-size: .9em;
                font-family: "Exo";
              }

              &.mat-checkbox-layout {
                span.mat-checkbox-label {
                  font-size: .78em;
                  font-family: "Exo";
                }
              }
            }

            mat-error {
              font-family: "Exo";
            }

            hyt-button#submit-btn {
              margin-top: 35px;

              button {
                width: 120px;
                text-transform: uppercase;
                font-size: 1.1em;
                background-color: #0d416d;
                color: #fff;
                font-family: "Exo";
                font-weight: 200;
                -webkit-transition: background-color .3s;
                -moz-transition: background-color .3s;
                -o-transition: background-color .3s;
                transition: background-color .3s;

                margin-top: 20px;

                &:hover {
                  background-color: #105f99;
                }

                &:disabled {
                  background-color: #bcbcbc;
                  cursor: not-allowed;
                }
              }

              &.submit-valid-form {
                button {
                  &:disabled {
                    background-color: #0d416d;
                  }
                }
              }

            }

            &#container-password-field {
              margin-bottom: 0px;
            }

            &#forgot-container {
              font-size: .8em;
              text-align: right;
              font-style: italic;

              a {
                color: #0d416d;

                &:hover {
                  color: #105f99;
                }

              }

            }

            &.errorMessage {
              color: red;
              text-align: center;
            }

          }

          /* End Container Form Field */

        }

      }
    }
  }
}
