<div *ngIf="_summaryList && _summaryList.list.length > 0" id="container-table-device" class="container-fluid">

    <div class="row">
        <div class="col-12 header-table">
            {{_summaryList.title}}
            <span *ngIf="addButtonActive" class="hyt-icon icon-hyt_plusC" (click)="addEntity()"></span>
        </div>
    </div>

    <div  class="container-body-table-elements">

        <div class="row-table-element" *ngFor="let item of _summaryList.list; let i = index">

            <div class="name-table-element" (click)="onEditOptionClick(item)">
                {{item.name}}
            </div>
            <div class="cancel-table-element">
                <span class="hyt-icon icon-hyt_trash" (click)="onDeleteOptionClick(item)"></span>
            </div>
            <div class="duplicate-table-element">
                <span class="hyt-icon icon-hyt_duplicate" (click)="onDuplicateOptionClick(item)"></span>
            </div>

        </div>

    </div>

    <!-- <div id="container-table-elements">

        <div *ngFor="let item of _summaryList.list; let i = index" class="row single-row-table">

            <div class="col-10 el-row-table title-block-table" (click)="onEditOptionClick(item)">
                {{item.name}}
            </div>
            <div class="col-1 el-row-table cancel-block-table">
                <span class="hyt-icon icon-hyt_trash" (click)="onDeleteOptionClick(item)"></span>
            </div>
            <div class="col-1 el-row-table duplicate-block-table">
                <span class="hyt-icon icon-hyt_duplicate" (click)="onDuplicateOptionClick(item)"></span>
            </div>
    
        </div>

    </div> -->

</div>