#container-table-device {
    border: .5px solid #d0d0d0;
    margin-bottom: 30px;
    font-size: 10px; /* Base Font */

    .header-table {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1.5em;
        font-weight: bold;
        color: #fff;
        background-color: #376caf;
        text-transform: uppercase;

        span {
            &.icon-hyt_plusC {
                font-size: 1.45em;
                position: absolute;
                right: 7px;
                top: 50%;
                cursor: pointer;
                transform: translateY(-50%);
            }

            &:hover.icon-hyt_plusC {
                color: #2258a5;
            }
        }
    }

    #container-table-elements {

        max-height: 341px;
        overflow-y: auto;
        margin-right: -15px;
        margin-left: -18px;
        padding-left: 15px;
        padding-right: 12px;


        .single-row-table {

            margin-right: -12px;
            margin-left: -12px;

            .el-row-table {
                padding: 5px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            .title-block-table {
                font-size: 1.4em;
                text-align: left;
                justify-content: flex-start;
                padding-left: 5px;
                padding-right: 5px;
                line-height: 18px;
                position: relative;
    
                &:hover {
                    cursor: pointer;
                    color: #808c9c;
                    background-color: #808c9c;
                }
    
                &:after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
    
                &:hover::after {
                    content: "\e966";
                    color: #fff;
                    font-size: 1.3em;
                    font-family: "HytFonts" !important;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    transform: translate(-50%, -50%);
                }
            }
    
            .cancel-block-table,
            .duplicate-block-table {
                cursor: pointer;
    
                &:hover {
                    color: #fff;
                    background-color: #808c9c;
                }
            }
    
            .cancel-block-table {
                font-size: 1.8em;
            }
    
            .duplicate-block-table {
                font-size: 2em;
            }
        }
    
        .single-row-table:not(:first-child) {
            border-top: .5px solid #e6e6e6;
        }


    }

}
