<div *ngIf="_summaryList && _summaryList.list.length > 0" class="d-flex flex-row justify-content-start align-items-stretch">
    <div class="header flex-fill">
        {{_summaryList.title}}
    </div>
</div>
<div *ngFor="let item of _summaryList.list; let i = index" (click)="onItemClick(i, item)"
    [matMenuTriggerFor]="itemMenu"
    class="item d-flex flex-row justify-content-start align-items-stretch">
    <div class="icon d-flex flex-column justify-content-center align-items-center">
        <!-- <mat-icon>double_arrow</mat-icon> -->
        <span class="hyt-icon icon-hyt_device"></span>
    </div>
    <div class="row-content" class="flex-fill">
        <div class="row-fields d-flex flex-column justify-content-start align-items-stretch">
            <div class="field-name truncate">{{item.name}}</div>
            <div class="field-description truncate">{{item.description}}</div>
        </div>
    </div>
</div>
<mat-menu #itemMenu="matMenu">
    <label class="menu-title" *ngIf="selectedItem">{{selectedItem.name}}</label>
    <button mat-menu-item (click)="onEditOptionClick()">
        <mat-icon>edit</mat-icon>
        <span i18n="@@HYT_edit">HYT_edit</span>
    </button>
    <button mat-menu-item (click)="onDuplicateOptionClick()">
        <mat-icon>file_copy</mat-icon>
        <span i18n="@@HYT_duplicate">HYT_duplicate</span>
    </button>
    <button mat-menu-item (click)="onDeleteOptionClick()">
        <mat-icon>close</mat-icon>
        <span i18n="@@HYT_delete">HYT_delete</span>
    </button>
</mat-menu>
