<div id="eventMqttCommand" class="form-group row">
    <form class="eventMqttCommand-form col-12" [formGroup]="mqttFieldsFormGroup" autocomplete="on">
        <div class="form-group row">

            <div id="fevent-col-active" class="col-6">
    
            <p id="label-event-active" i18n="@@HYT_active">Active</p>
            
            <div id="container-radio-events-active">
    
                <hyt-radio-button 
                [form]="mqttFieldsFormGroup" 
                [options]="activeOptions" 
                name="active"
                (changeFn)="changeEventActive($event)">
                </hyt-radio-button>
    
            </div>
    
            </div> <!-- Field Oputput -->
    
    
        </div> <!-- END FIRST ROW -->

        <div class="form-group row">
            <hyt-select [form]="mqttFieldsFormGroup" [options]="packetOptions" formControlName="packet" name="packet"
                        i18n-label="@@HYT_packet" label="Packet" (changeFn)="packetChanged($event.value)">
            </hyt-select>
        </div>

        <div *ngIf="mqttUrl && mqttTopic" class="form-group row">

            <div id="fpack-col-mqtt-url" class="col-6">

                <hyt-input-text
                    i18n-placeholder="@@HYT_mqtt_url"
                    placeholder="MQTT Url"
                    name="hpacket-mqttUrl"
                    disabled="true"
                    [fieldValue]="mqttUrl"
                >
                </hyt-input-text>

            </div>
            <div id="fpack-col-mqtt-topic" class="col-6">

                <hyt-input-text
                    i18n-placeholder="@@HYT_mqtt_topic"
                    placeholder="MQTT Topic"
                    name="hpacket-mqttTopic"
                    disabled="true"
                    [fieldValue]="mqttTopic"
                >
                </hyt-input-text>

            </div>

        </div>

        <div class="form-group row">
            <ng-container *ngIf="currentOutputPacket !== undefined && currentOutputPacket !== null">
                <ng-container *ngFor="let field of fieldsOptions" class="form-row">
                    <hyt-input-text [form]="mqttFieldsFormGroup" formControlName="{{field.label}}" name="{{field.label}}" [fieldValue]="mqttFieldsFormGroup.get(field.label).value"
                        i18n-placeholder="@@HYT_{{field.label}}" placeholder="{{field.label}}" hintMessage="Enter {{field.label}}" (change)="inputChanged($event.target,field.label)">
                    </hyt-input-text>
                </ng-container>
            </ng-container>
        </div>
    </form>
</div>