<!-- REGISTRATION FORM BLOCK -->
<div id="container-registration">

  <div class="preload" style="display: none">
    <img src="../../../../assets/images/compressed/registration_bg_600x338-min.jpg" />
  </div>

  <div class="container" id="box-login">

    <div class="row">

      <div id="column-welcome" class="col-md-6">
        <div id="head-welcome-box">
          <ng-container i18n="@@HYT_welcome">HYT_welcome</ng-container>!
        </div>
        <div id="body-welcome-box" i18n="@@HYT_registration_1">HYT_registration_1</div>
        <div id="footer-welcome-box">
          <ng-container i18n="@@HYT_already_member_question">HYT_already_member_question</ng-container>
          <br /><a routerLink="/auth/login" i18n="@@HYT_login_now">HYT_login_now</a>
          &#160;<ng-container i18n="@@HYT_registration_login_message">HYT_registration_login_message</ng-container>
        </div>
      </div>

      <div id="column-registration-form" class="col-md-6">

        <h3 id="registration-title" i18n="@@HYT_registration">HYT_registration</h3>

        <div class="row">

          <div id="registration-form" class="col-md-12">

            <form #rf="ngForm" [formGroup]="registrationForm" (ngSubmit)="register()">

              <div class="container-form-field">
                <hyt-input-text [form]="registrationForm" formControlName="name" name="name" [isRequired]="true"
                  i18n-placeholder="@@HYT_name" placeholder="HYT_name" [injectedErrorMsg]="getError('name')">
                </hyt-input-text>
              </div> <!-- Field Name -->

              <div class="container-form-field">
                <hyt-input-text [form]="registrationForm" formControlName="lastName" name="lastName" [isRequired]="true"
                  i18n-placeholder="@@HYT_surname" placeholder="HYT_surname" [injectedErrorMsg]="getError('lastName')">
                </hyt-input-text>
              </div> <!-- Field Surname -->

              <div class="container-form-field">
                <hyt-input-text [form]="registrationForm" formControlName="username" name="username" [isRequired]="true"
                  i18n-placeholder="@@HYT_username" placeholder="HYT_username" pattern="[A-Za-z0-9 ]*"
                  [injectedErrorMsg]="getError('huser-username')" errorPosition="bottom">
                </hyt-input-text>
              </div> <!-- Field Username -->

              <div class="container-form-field">
                <hyt-input-text [form]="registrationForm" formControlName="email" name="email" [isEmail]="true"
                  [isRequired]="true" i18n-placeholder="@@HYT_email" placeholder="HYT_email"
                  [injectedErrorMsg]="getError('email')">
                </hyt-input-text>
              </div> <!-- Field Email -->

              <div class="container-form-field">
                <hyt-input-text [form]="registrationForm" formControlName="huser-password" name="huser-password"
                  [isRequired]="true" [isPassword]="true" i18n-placeholder="@@HYT_password" placeholder="HYT_password"
                  [injectedErrorMsg]="getError('huser-password')" type="password" errorPosition="bottom">
                </hyt-input-text>
              </div> <!-- Field Password -->

              <div class="container-form-field">
                <hyt-input-text [form]="registrationForm" formControlName="huser-passwordConfirm"
                  name="huser-passwordConfirm" [isRequired]="true" i18n-placeholder="@@HYT_password_confirm"
                  placeholder="HYT_password_confirm" [injectedErrorMsg]="getError('huser-passwordConfirm')"
                  type="password" confirmPassword="huser-password">
                </hyt-input-text>
              </div> <!-- Field Repeat Password -->

              <div class="container-form-field">
                <hyt-checkbox [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" name="checkPrivacy" type="checkbox" id="checkPrivacy" (changeFn)="onClickCheckbox($event)">
                  <ng-container i18n="@@HYT_check_per">HYT_check_per</ng-container>&nbsp;
                  <a href="#" i18n="@@HYT_terms_of_use">HYT_terms_of_use</a>&nbsp;
                  <ng-container i18n="@@HYT_and">HYT_and</ng-container>&nbsp;
                  <a href="#" i18n="@@HYT_privacy_policy">HYT_privacy_policy</a>.
                </hyt-checkbox>
              </div> <!-- Container CheckBox Privacy -->

              <div class="container-form-field errorMessage">
                <ng-container *ngIf="getError('general')">
                  {{getError('general')}}
                </ng-container>
              </div> <!-- Error Box -->

              <div id="container-submit-btn" class="container-form-field">
                <hyt-button [color]="'hyt-base-default-white'" id="submit-btn" type="submit" [isDisabled]="notValid() || registrationStatus == 1 || registrationStatus == 2">
                  <ng-container i18n="@@HYT_registration_button">HYT_registration_button</ng-container>
                </hyt-button>
              </div> <!-- Container Button -->

              <ng-container *ngIf="registrationStatus == 1">
                <div class="sk-circle">
                  <div class="sk-circle1 sk-child"></div>
                  <div class="sk-circle2 sk-child"></div>
                  <div class="sk-circle3 sk-child"></div>
                  <div class="sk-circle4 sk-child"></div>
                  <div class="sk-circle5 sk-child"></div>
                  <div class="sk-circle6 sk-child"></div>
                  <div class="sk-circle7 sk-child"></div>
                  <div class="sk-circle8 sk-child"></div>
                  <div class="sk-circle9 sk-child"></div>
                  <div class="sk-circle10 sk-child"></div>
                  <div class="sk-circle11 sk-child"></div>
                  <div class="sk-circle12 sk-child"></div>
                </div>
              </ng-container>

              <ng-container *ngIf="registrationStatus == 2">

                <div id="successMessage" i18n="@@HYT_registration_form_ok">HYT_registration_form_ok</div>

              </ng-container> <!-- *ngIf="registrationStatus == 2" -->

            </form> <!-- End Form -->

          </div>

        </div> <!-- End Row Registration Form -->

      </div>

    </div> <!-- End Row Login Box -->

  </div>
</div>