<!-- <form [formGroup]="registerForm" (ngSubmit)="register()">

  <br>

  <div>
    <label>nome:</label>
    <input type="text" formControlName="name">
    <div *ngIf="registerForm.get('name').invalid && registerForm.get('name').dirty" style="color: red;">
      <div *ngIf="registerForm.get('name').errors.required">
        Campo richiesto
      </div>
    </div>
  </div>

  <div>
    <label>cognome:</label>
    <input type="text" formControlName="lastName">
    <div *ngIf="registerForm.get('lastName').invalid && registerForm.get('lastName').dirty" style="color: red;">
      <div *ngIf="registerForm.get('lastName').errors.required">
        Campo richiesto
      </div>
    </div>
  </div>

  <div>
    <label>user name:</label>
    <input type="text" formControlName="userName">
    <div *ngIf="registerForm.get('userName').invalid && registerForm.get('userName').dirty" style="color: red;">
      <div *ngIf="registerForm.get('userName').errors.required">
        Campo richiesto
      </div>
    </div>
  </div>

  <div>
    <label>email:</label>
    <input type="email" formControlName="email">
    <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').dirty" style="color: red;">
      <div *ngIf="registerForm.get('email').errors.required">
        Campo richiesto
      </div>
      <div *ngIf="registerForm.get('email').errors.email">
        Indirizzo email non valido
      </div>
    </div>
  </div>

  <div>
    <label>password:</label>
    <input type="text" formControlName="password">
    <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').dirty" style="color: red;">
      <div *ngIf="registerForm.get('password').errors.required">
        Campo richiesto
      </div>
    </div>
  </div>

  <div>
    <label>conferma password:</label>
    <input type="text" formControlName="confPassword">
    <div *ngIf="registerForm.get('confPassword').invalid && registerForm.get('confPassword').dirty" style="color: red;">
      <div *ngIf="registerForm.get('confPassword').errors.required">
        Campo richiesto
      </div>
    </div>
  </div>

  <br>

  <ng-container *ngFor="let errmsg of errorMessage">
    {{errmsg}}
    <br>
  </ng-container>

  <br>

  <button type="submit">Registrati</button>

  <ng-container *ngIf="error[6]">
    {{error[6]}}
  </ng-container>

</form> -->


<!-- REGISTRATION FORM BLOCK -->
<div id="container-registration">
  <div class="container" id="box-login">

    <div class="row">

      <div id="column-welcome" class="col-md-6">
        Messaggio di benvenuto
      </div>

      <div id="column-registration-form" class="col-md-6">

        <h2>Register Now</h2>

        <div class="row">

          <div id="registration-form" class="col-md-12">

            <form [formGroup]="registerForm">

              <div class="container-form-field">
                <hyt-input-text [isRequired]="true" [hint]="'Suggerimento per Nome'" [placeholder]="'Nome'"
                  [injectedErrorState]="injectedErrorState" [errorMsgState]="error[0]">
                </hyt-input-text>
              </div> <!-- Field Name -->

              <div class="container-form-field">
                <hyt-input-text [isRequired]="true" [hint]="'Suggerimento per Cognome'" [placeholder]="'Cognome'"
                  [injectedErrorState]="injectedErrorState" [errorMsgState]="error[1]">
                </hyt-input-text>
              </div> <!-- Field Surname -->

              <div class="container-form-field">
                <hyt-input-text [isRequired]="true" [hint]="'Suggerimento per Username'" [placeholder]="'Username'"
                  [injectedErrorState]="injectedErrorState" [errorMsgState]="error[2]">
                </hyt-input-text>
              </div> <!-- Field Username -->

              <div class="container-form-field">
                <hyt-input-text [isRequired]="true" [hint]="'Suggerimento per Email'" [placeholder]="'Email'"
                  [injectedErrorState]="injectedErrorState" [errorMsgState]="error[3]">
                </hyt-input-text>
              </div> <!-- Field Email -->

              <div class="container-form-field">
                <hyt-input-text [isRequired]="true" [hint]="'Suggerimento per PAssword'" [placeholder]="'Password'"
                  [injectedErrorState]="injectedErrorState" [errorMsgState]="error[4]">
                </hyt-input-text>
              </div> <!-- Field Password -->

              <div class="container-form-field">
                <hyt-input-text [isRequired]="true" [hint]="'Suggerimento per Ripeti Password'"
                  [placeholder]="'Ripeti  Password'" [injectedErrorState]="injectedErrorState"
                  [errorMsgState]="error[5]">
                </hyt-input-text>
              </div> <!-- Field Repeat Password -->

              <div class="container-form-field">
                <mat-checkbox>
                  Check per <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                </mat-checkbox>
              </div> <!-- Container CheckBox Privacy -->

              <div class="container-form-field">
                <hyt-button>
                  Click Me
                </hyt-button>
              </div> <!-- Container Button -->

              <ng-container *ngIf="error[6]">
                {{error[6]}}
              </ng-container>

            </form> <!-- End Form -->

          </div>

        </div> <!-- End Row Registration Form -->

      </div>

    </div> <!-- End Row Login Box -->

  </div>
</div>
