<div id="home-page">
   
    <div class="header d-flex flex-row justify-content-stretch">
      
        <div class="breadcrumb flex-grow-1">
            <span class="hyt-icon icon-hyt_projectSolo"></span> <strong>Home</strong> 
        </div>

        <!-- button on the right side -->
        <div class="align-self-right">
            
        </div>

    </div> <!-- END HEADER + BREADCRUMB -->

    <div id="container-home">
      
        <div id="welcome-message" class="col-12">

            <h3 id="welcome-title" i18n="@@HYT_welcome_to_hyperiot">HYT_welcome_to_hyperiot</h3>

            <h4 id="welcome-subtitle" i18n="@@HYT_home_message_1">HYT_home_message_1</h4>

        </div>

        <div id="btn-no-home" class="col-md-12">

            <hyt-button [color]="'hyt-base-total-white'" id="go-to-projects" routerLink='/projects'>
                <ng-container i18n="@@HYT_go_to_your_projects">HYT_go_to_your_projects</ng-container> <span class="hyt-icon icon-hyt_arrowRight"></span>
            </hyt-button>

        </div>

    </div> <!-- END CONTAINER HOME -->

</div>