<div id="home-page">
   
    <div class="header d-flex flex-row justify-content-stretch">
      
        <div class="breadcrumb flex-grow-1">
            <span class="hyt-icon icon-hyt_projectSolo"></span> <strong>Home</strong> 
        </div>

        <!-- button on the right side -->
        <div class="align-self-right">
            
        </div>

    </div> <!-- END HEADER + BREADCRUMB -->

    <div id="container-home">
      
        <div id="welcome-message" class="col-12">

            <h3 id="welcome-title">
                Welcome to HyperIoT
            </h3>

            <h4 id="welcome-subtitle">
                For now the page is empty but if you want you can view your projects by clicking the button below
            </h4>

        </div>

        <div id="btn-no-home" class="col-md-12">

            <hyt-button id="go-to-projects" routerLink='/projects' type="button">
                Go to your Projects
            </hyt-button>

        </div>

    </div> <!-- END CONTAINER HOME -->

</div>