#project-step {
    margin-top: 20px;
    font-family: 'Exo';

    #container-form-project {

        #container-btn-step {
            margin-top: 30px;

            #container-btn-next {
                text-align: right;

                .hyt-rotale-right {
                    transform: rotate(90deg);
                    display: inline-block;
                    font-weight: 600;
                    font-size: 1.2em;
                    vertical-align: middle;
                }
            }

        }

    }

    #container-hints {
        border-left: 0.5px solid #bdbdbd;
        text-align: center;

        .info-message {
            background-color: whitesmoke;
            border-radius: 5px;
            padding: 10px 5px;
            color: #0956b6;
            position: relative;
            font-size: .9em;

            mat-icon {
                color: #757575;
                position: absolute;
                top: -11px;
                right: -6px;
            }

        }

    }

}