<div id="single-project-page">

    <div class="header d-flex flex-row justify-content-stretch">
        
        <div class="breadcrumb flex-grow-1">
            <span class="hyt-icon icon-hyt_projectSolo"></span> <a [routerLink]="['/']">Home</a> > <strong>Project Detail</strong> 
        </div> <!-- @I18N@ -->

    </div> <!-- End of Breadcrumb -->

    <div id="container-general-form" class="container-fluid">

        <div id="row-detail" class="row">

            <div 
                id="container-project-treeview"
                [ngClass]="{'displayBlock': treeViewIsOpen, 'displayNone': !treeViewIsOpen}"
                cdkDrag
                [cdkDragFreeDragPosition]="dragPosition"
                (cdkDragEnded)="dragEnded($event)"
            >

                <div id="close-tree-btn" (click)="toggleTreeViewProject()">
                    <span class="hyt-icon icon-hyt_cancel"></span>
                </div>

                <div id="treeViewHeader"></div>

                <div id="treeViewBody">
                    
                    <!-- BEGIN TreeView -->
                    <div [ngStyle]="{display: treeStatus == TreeStatus.Ready ? '' : 'none'}" class="treeview pb-2 flex-grow-1 flex-sm-grow-0 flex-fill">
                        
                        <hyt-tree-view-project #treeView (nodeClick)="onNodeClick($event)"></hyt-tree-view-project>

                    </div>   

                    <div *ngIf="treeStatus == TreeStatus.Loading || treeStatus == TreeStatus.LoadingComplete" class="treeview mt-2 d-flex flex-column align-items-center justify-content-center">
                        <h4 i18n="@@HYT_loading_project_tree">Loading project tree</h4>
                        <mat-spinner [strokeWidth] = 3 ></mat-spinner>
                    </div>

                    <div *ngIf="treeStatus == TreeStatus.Error" class="mt-2 treeview">
                        <h4 i18n="@@HYT_error_project_tree">Error loading project tree</h4>
                    </div>
                    <!-- END TreeView -->

                </div>

            </div> <!-- ------------------- End Container TREE ------------------- -->

            <div id="container-project-content" [ngClass]="{'displayFluidRow': !displayInfoAction}">
                
                <div class="content">

                    <div id="back-to-back-btn">

                        <a 
                            class="box-back-btn"
                            [routerLink]="['/projects']"
                        >
                            <span class="icon-hyt_caretDown hyt-icon-back"></span>

                            <span id="title-back-btn">Back to projects</span>
                            
        
                        </a>
        
                    </div>

                    <div class="container-form-title">
                        
                        <div id="container-show-tree-btn">

                            <hyt-button [color]="'hyt-base-total-white'" (clickFn)="toggleTreeViewProject()">
                        
                                <span 
                                    [ngClass]="{'icon-hyt_eyeClose': treeViewIsOpen, 'icon-hyt_eyeOpen': !treeViewIsOpen}" 
                                ></span>
                                {{ preTitleTreeView }} Treeview
        
                            </hyt-button><!-- @I18N@ -->

                        </div>

                        <div id="container-title">

                            <h2 id="form-title" *ngIf="currentEntity && currentEntity.formTitle">{{ currentEntity.formTitle }}</h2>

                        </div>
                        
                        <div id="editInWizardContent">

                            <hyt-button 
                                [color]="'hyt-base-total-white'" 
                                (clickFn)="goToProjectWizard()"
                            >
                                <span class="hyt-icon icon-hyt_pencil"></span> <ng-container i18n="@@HYT_edit_in_wizard">Edit in wizard</ng-container>
                            </hyt-button>

                        </div>

                    </div>

                    <router-outlet
                        name="projectDetails"
                        id="projectDetails"
                        (attach)="onActivate($event)"
                        (activate)="onActivate($event)"
                    ></router-outlet>

                </div>

            </div> <!-- ------------------- End Container CONTENT ------------------- -->

            <div id="container-project-info-action" *ngIf="displayInfoAction">

                <div *ngIf="currentEntity" class="side-bar">
                    
                    <div id="container-action-btn">

                        <hyt-button 
                            [color]="'hyt-base-total-white'"
                            [ngClass]="{hidden: !currentEntity.showSave}"
                            id="save-btn"
                            (clickFn)="onSaveClick()" 
                            [isDisabled]="!currentEntity.isValid() || !currentEntity.isDirty()">
                            <span class="hyt-icon icon-hyt_save"></span>
                            <span i18n="@@HYT_save">Save</span>
                        </hyt-button>
        
                        <hyt-button 
                            [color]="'hyt-base-total-white'"
                            [ngClass]="currentEntity.hideDelete ? 'hidden' : 'last-btn'"
                            id="delete-btn"
                            (clickFn)="onDeleteClick()">
                            <!-- <mat-icon>delete</mat-icon> -->
                            <span class="hyt-icon icon-hyt_trash"></span>
                            <span i18n="@@HYT_delete">Delete</span>
                        </hyt-button>
        
                        <hyt-button 
                            [color]="'hyt-base-total-white'"
                            [ngClass]="!currentEntity.showCancel ? 'hidden' : 'last-btn' "
                            id="cancel-btn"
                            (clickFn)="onCancelClick()">
                            <!-- <mat-icon>undo</mat-icon> -->
                            <span class="hyt-icon icon-hyt_arrowLeft"></span>
                            <span i18n="@@HYT_cancel">Cancel</span>
                        </hyt-button>
        
                    </div> <!-- END BTN -->

                    <div id="container-hint" *ngIf="hintVisible"> 

                        <div class="info-message">
                            <span class="text">{{hintMessage}}</span>
                            <mat-icon class="">info</mat-icon> <!-- mt-2 mr-2 -->
                        </div> 

                    </div> <!-- END HINT -->

                    <div *ngIf="currentEntity.summaryList" id="container-summary-list" class="col-12">

                        <hyt-generic-summary-list
                            [ngClass]="{ disabled: currentEntity.isDirty() }"
                            [summaryList]="currentEntity.summaryList"
                            (menuAction)="onSummaryMenuClick($event)"
                        ></hyt-generic-summary-list> 

                    </div> <!-- END TABLE -->
        
                </div>

            </div> <!-- ------------------- End Container ACTION BTN ------------------- -->

        </div>

    </div> <!-- END CONTAINER GENERAL FORM -->

</div> <!-- END CONTAINER SINGLE PROJECT -->

