:host {
    position: relative;
    display: block;
    padding-top: 16px;
    padding-left: 8px;
    margin-right: 240px;
}

.treeview {
    min-width: 200px;
    width: 200px;
}
.content {
    min-width: 240px;
}
.back-btn {
    height: 36px;
    width: 36px;
    text-decoration: none;
}
.side-bar {
    z-index: 10;
    position: fixed;
    padding-right: 20px;
    right: 0; top: 64px; bottom: 0;
    width: 240px;
}
