<form [formGroup]="recoverMailForm" (ngSubmit)="recoveryRequest()">

  <br>

  <div>
    <label>email:</label>
    <input type="email" formControlName="email">
    <div *ngIf="recoverMailForm.get('email').invalid && recoverMailForm.get('email').dirty" style="color: red;">
      <div *ngIf="recoverMailForm.get('email').errors.required">
        Campo richiesto
      </div>
      <div *ngIf="recoverMailForm.get('email').errors.email">
        Indirizzo email non valido
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="!recoverMailForm.valid">MANDA</button>
</form>

<div *ngIf="submissionStatus == 1">Ti abbiamo inviato una mail con le istruzioni per resettare la tua password</div>
<div *ngIf="submissionStatus == 2">{{error[0]}}</div>
