<div id="container-pr">

  <div class="preload" style="display: none">
    <img src="../../../../assets/images/compressed/email-forgot-password-min.jpg" />
    <img src="../../../../assets/images/compressed/forgot-password-icon-min.jpg" />
  </div>

  <div class="container" id="box-pr" *ngIf="submissionStatus != 1">

    <div id="row-icon-pr" class="row">
      <div id="icon-block" class="col-12">
        <span id="forgot-password-icon"></span>
        <h2 id="title-pr" i18n="@@HYT_password_recovery_1">HYT_password_recovery_1</h2>
        <h3 id="subtitle-pr" i18n="@@HYT_password_recovery_2">HYT_password_recovery_2</h3>
      </div>
    </div> <!-- End Icon Row -->

    <div id="row-form-pr" class="row">
      <div id="form-block" class="col-12">

        <form id="recoverMailForm" [formGroup]="recoverMailForm" (ngSubmit)="recoveryRequest()">

          <hyt-input-text [form]="recoverMailForm" id="email-pr" formControlName="email" name="email" [isEmail]="true"
            i18n-placeholder="@@HYT_email" placeholder="HYT_email" [isRequired]="true">
          </hyt-input-text>

          <div id="row-action-form" class="row">

            <div id="send-block" class="col-7">
              <hyt-button type="submit" [isDisabled]="notValid()">
                <ng-container i18n="@@HYT_email_me">HYT_email_me</ng-container>
              </hyt-button>
            </div>

            <div id="login-block" class="col-5">
              <a routerLink="/auth/login"><span i18n="@@HYT_back_to_login">HYT_back_to_login</span></a>
            </div>

          </div> <!-- End Row Action Form -->

        </form> <!-- End Form -->

      </div>
    </div> <!-- End Form Row -->

    <div id="row-error-msg" class="row" *ngIf="submissionStatus == -1">

      <div id="error-msg-block" class="col-12">

        <div id="error-msg">
          <ng-container *ngIf="error">
            {{error}}
          </ng-container>
        </div>

      </div>

    </div> <!-- End Form Error Message -->

  </div>

  <div class="container" id="box-pr-success" *ngIf="submissionStatus == 1">

    <div id="row-icon-success">
      <div id="icon-success-block" class="col-12">
        <span id="icon-email-success"></span>
        <h2 id="title-pr-success" i18n="@@HYT_password_recovery_3">HYT_password_recovery_3</h2>
        <h3 id="subtitle-pr-success" i18n="@@HYT_password_recovery_4">HYT_password_recovery_4</h3>
        <hr id="divisor-success">
        <a routerLink="/auth/login"><span i18n="@@HYT_back_to_login">HYT_back_to_login</span></a>
      </div>
    </div> <!-- End Row Icon Success -->

  </div>

</div>
