#projects-page {
  font-family: 'Exo';
  font-size: 1em;

  .header {
    border-bottom: 1px solid #008aff;
    min-height: 50px;

    hyt-button {
      &#add-project-btn-top {
        margin-top: 2px;
        
        button.mat-raised-button {
          background-color: #0d416d;
          color: #fff;
          font-family: "Exo";
          font-size: .9em;
          font-weight: 200;
          text-transform: uppercase;

          &::before {
            content: '+';
            padding: 1px 7px 0px 7px;
            font-size: 17px;
            border-radius: 50%;
            border: .5px solid #d1d1d1;
          }

          &:hover {
            background-color: #105f99;
            box-shadow: none;
          }
        }

      }

    }
  }
  .breadcrumb {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 48px;
    vertical-align: middle;
    background-image: url('./../../../assets/images/projects/cube-breadcrumb.png');
    background-position: 0px center;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 32px;
  }

}
