<div id="projects-page">

  <div class="header d-flex flex-row justify-content-stretch">
      
    <div class="breadcrumb flex-grow-1">
        <span class="hyt-icon icon-hyt_projectSolo"></span> <a [routerLink]="['/']">Home</a> > <strong>Projects</strong> 
    </div>

    <!-- button on the right side -->
    <div class="align-self-right">
      <hyt-button *ngIf="pageStatus === 1" id="add-project-btn-top" (click)="addProject()" type="button">
        Add New Project
      </hyt-button>
    </div>

  </div>

  <div id="container-projects" [ngSwitch]="pageStatus">

    <div *ngSwitchCase="PageStatus.Loading">
      <div class="mt-5 d-flex flex-column align-items-center justify-content-center">
          <h2>Page is loading...</h2>
      </div>
    </div>

    <div id="standardStatus" *ngSwitchCase="PageStatus.Standard" class="row">
      <!-- Standard -->
      
      <div id="container-box-project" class="col-12">
        
      
        <div id="row-container-title" class="row">

          <div id="projects-title-box" class="col-12">
            <h2 id="title-projects">Projects List <span id="total-projects">({{hProjects.length}})</span></h2>
          </div>

          <div id="projects-topfilters-box" class="col-12">
            <form #f="ngForm" [formGroup]="filteringForm" (ngSubmit)="filter()">
              <div class="row">
                <div class="col-6">
                  <hyt-input-text id="hyt-search-bottom" [form]="filteringForm" formControlName="textFilter" name="textFilter" placeholder="Search" (keyup)="onChangeInputSearch($event)"></hyt-input-text>
                </div>
                <div class="col-6 sort-right">
                  <span id="sort-text">Sort by: </span><hyt-select [form]="filteringForm" [label]="'Select a sort type'" formControlName="sort" name="sort" (changeFn)="onChangeSelectSort($event)" [options]="sortOptions"></hyt-select>
                </div>
              </div>
            </form>
          </div>

          <div class="col-12">

            <span>Show {{hProjectsFiltered.length}} projects of {{hProjects.length}}</span>

          </div>

        </div> <!-- End Row Title -->

        <div *ngIf="displayMessageArea" id="row-messages-area" class="row">

          <div 
            class="col-12 alert-box"
            [ngClass]="{'alert-error' : typeMessageArea == 'error', 'alert-success' : typeMessageArea == 'success'}"
          > <!-- alert-error | alert-success -->
            <p>{{ messageAreaText }}</p>

            <span 
              class="cls-msg-area"
              [ngClass]="{'btn-error' : typeMessageArea == 'error', 'btn-success' : typeMessageArea == 'success'}"
              (click)="hideMessageArea()"
            >
            </span>

          </div>

        </div> <!-- END DISPLAY MESSAGE AREA -->

        <div id="row-cotainer-cards" class="row">

          <div *ngIf="hProjectsFiltered.length == 0" class="col-12">
            <span>No project found that matches the search...</span>
          </div>


          <div 
            class="col-sm-6 col-md-4 col-lg-3 col-xl-2 single-card-container d-flex flex-row justify-content-center" 
            *ngFor="let p of hProjectsFiltered"
          >
              
            <hyt-project-card 
              (refreshView)='refreshViewOnDelete($event)'
              [project]="p"
              
            ></hyt-project-card> 

          </div>

        </div> <!-- End Row Cards -->

      </div>

    </div>

    <div *ngSwitchCase="PageStatus.New">
      <!-- New -->

      <div class="mt-5 no-projects">

        <div id="content-no-projects" class="col-md-12">
          <h3 id="title-no-project">There are no projects!!!</h3>
          <h4 id="subtitle-no-project">To add a project click the button below.</h4>
        </div>

        <div id="btn-no-projects" class="col-md-12">

          <hyt-button id="add-project-btn" (click)="addProject()" type="button">
            create your first project
          </hyt-button>

        </div>

      </div> <!-- End No Projects Row -->

    </div>

    <div id="errorStatus" *ngSwitchCase="PageStatus.Error">
      <div class="mt-5 d-flex flex-column align-items-center justify-content-center">
          <h2>An error has occurred, contact the administrator!!</h2>
      </div>
    </div>

    <div *ngSwitchDefault>
      switch-case error
    </div>

  </div>

</div>