<div id="projects-page">

  <div class="header d-flex flex-row justify-content-stretch">

    <div class="breadcrumb flex-grow-1">
      <span class="hyt-icon icon-hyt_projectSolo"></span> <a [routerLink]="['/']" i18n="@@HYT_home">Home</a> > <strong i18n="@@HYT_projects">Projects</strong>
    </div>

    <!-- button on the right side -->
    <div class="align-self-right">

      <hyt-button *ngIf="pageStatus === 1" [isDisabled]="deletingInLoading" id="add-project-btn-top" (clickFn)="addProject()"
        [color]="'hyt-base-total-white'">
        <span class="hyt-icon icon-hyt_plusC"></span>
        <ng-container i18n="@@HYT_add_new_project">Add new project</ng-container>
      </hyt-button>

    </div>

  </div>

  <div id="container-projects" [ngSwitch]="pageStatus" class="container-fluid">

    <div id="page-up-btn" *ngIf="scrolled" (click)="scrollToTopPage()">&#8686;</div>

    <div id="mobile-add-new-project-btn" (click)="addProject()">&#x2B;</div>

    <div id="loadingStatus" *ngSwitchCase="PageStatus.Loading" class="mt-5 d-flex flex-column align-items-center justify-content-center">

      <img id="animatedPreloaderImg" src="assets/images/hyperiot_logo_single_char_animated.svg" alt="Hyperiot Animated Logo">
      <h2 i18n="@@HYT_page_is_loading">Page is loading...</h2>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>

      <!-- Page is loading... -->

    </div> <!-- PageStatus.Loading -->

    <div id="standardStatus" *ngSwitchCase="PageStatus.Standard" class="row">
      <!-- Standard -->

      <div id="container-box-project" class="col-12">

        <div id="row-container-title" class="row">

          <div id="projects-title-box" class="col-12">
            <h2 id="title-projects" i18n="@@HYT_project_list">Project list</h2>
          </div>

          <div id="projects-title-box" class="col-12 p-0">

            <div id="projects-topfilters-box" class="col-12 p-0">
              <form 
                #f="ngForm" 
                [formGroup]="filteringForm" 
                class="row shift-md-top"
              >

                <div id="container-search" class="col-12 col-md-4 adapt-p-filter-btn">
                  <hyt-input-text 
                    id="hyt-search-bottom" 
                    [form]="filteringForm" 
                    formControlName="textFilter"
                    name="textFilter" 
                    i18n-placeholder="@@HYT_search" 
                    placeholder="Search" 
                    (keyup)="search($event.target.value, filteringForm.value['projectType'])"
                  ></hyt-input-text>
                </div>
                <hyt-filter-button
                  [options]="filterProjectType"
                  i18n-label="@@HYT_projectType" 
                  label="Project Type" 
                  formControlName="projectType"
                  class="col-12 col-md-4"
                ></hyt-filter-button>
                <hyt-filter-button
                  [options]="filterSortType"
                  i18n-label="@@HYT_sortBy" 
                  label="Sort by" 
                  formControlName="sort"
                  class="col-12 col-md-4"
                ></hyt-filter-button>

              </form>
            </div>
          </div>

          <div id="projects-counter" class="col-12 mt-3 mt-md-0">
            <span i18n="@@HYT_projectsCount">Showing {{hProjectsFiltered.length}} projects of {{hProjects.length}}</span>
          </div>

        </div> <!-- End Row Title -->

        <div id="row-cotainer-cards" [ngClass]="{'cards-blurred' : deletingInLoading}" class="row cards-blurred">

          <div *ngIf="hProjectsFiltered.length == 0" class="col-12">
            <span i18n="@@HYT_no_project_found">No project that matches the search found...</span>
          </div>

          <div class="hyt-card-wrapper">
            <div class="hyt-card-container">
              <hyt-detailed-card 
                *ngFor="let p of hProjectsFiltered"
                [title]="p.name"
                [description]="p.description"
                [detailedIcon]="sharedIconMap.get(sharedType(p.hProjectSharingInfo))"
                btnLabel="view projects"
                i18n-btnLabel="@@HYT_viewProject" 
                btnLabel="view project" 
                [valRouterLink]="p.id"
                [details]="generateDetails(p)"
                [paramEmittedOnClick]="p"
                (deleteClick)="openDeleteDialog($event)"
                [secondaryButtonIcon]="isOwner(p.hProjectSharingInfo.ownerId) ? 'p_share_fill' : ''"
                (secondaryBtnClick)="showPanel($event)"
                [forceHover]="forceHoverId == p.id"
                ></hyt-detailed-card>
            </div>
          </div>

        </div> <!-- End Row Cards -->

      </div>

    </div> <!-- PageStatus.Standard -->

    <div id="newStatus" *ngSwitchCase="PageStatus.New">
      <!-- New -->

      <div class="mt-5 no-projects">

        <div id="content-no-projects" class="col-md-12">
          <h3 id="title-no-project" i18n="@@HYT_no_project">There are no projects!</h3>
          <h4 id="subtitle-no-project" i18n="@@HYT_add_project_button_hint">To add a project click the button below.</h4>
        </div>

        <div id="btn-no-projects" class="col-md-12">

          <hyt-button id="add-project-btn" (click)="addProject()" type="button">
            <ng-container i18n="@@HYT_create_first_project">Create your first project</ng-container>
          </hyt-button>

        </div>

      </div> <!-- End No Projects Row -->

    </div> <!-- PageStatus.New -->

    <div id="errorStatus" *ngSwitchCase="PageStatus.Error" class="mt-5 d-flex flex-column align-items-center justify-content-center">
      
      <h2 i18n="@@HYT_error_occurred_long">An error has occurred, contact the administrator!</h2>

    </div> <!-- PageStatus.Error -->

    <div id="defaultStatus" *ngSwitchDefault class="mt-5 d-flex flex-column align-items-center justify-content-center">
      <h2 i18n="@@HYT_error">Error!</h2>
    </div>

  </div>

</div>

<hyt-notification-box [notify-position]="'TOP_CENTER'"></hyt-notification-box>