#projects-page {
  font-family: 'Exo';
  font-size: 1em;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;

  .header {
    border-bottom: 1px solid #1e58a5;
    min-height: 50px;

    .breadcrumb {
      font-weight: 400;
      font-size: 1.2em;
      line-height: 48px;
      vertical-align: middle;

      span {

        &.icon-hyt_projectSolo {
          font-size: 1.8em;
          vertical-align: middle;
          margin-right: 3px;
          color: #bec3c7;        }

      }

      a {
        color: #000000;
      }

    }

    // hyt-button {

    //   &#add-project-btn-top {
    //     margin-top: 2px;
        
    //     button.mat-raised-button {
    //       background-color: #0d416d;
    //       color: #fff;
    //       font-family: "Exo";
    //       font-size: .9em;
    //       font-weight: 200;
    //       text-transform: uppercase;

    //       &::before {
    //         content: '+';
    //         padding: 1px 7px 0px 7px;
    //         font-size: 17px;
    //         border-radius: 50%;
    //         border: .5px solid #d1d1d1;
    //       }

    //       &:hover {
    //         background-color: #105f99;
    //         box-shadow: none;
    //       }
    //     }

    //   }

    // }

  }

  



  #container-projects {

    .no-projects {

      #content-no-projects, #btn-no-projects {
        text-align: center;
      }

      #content-no-projects {

          h3 {

            &#title-no-project {
              font-size: 2.2em;
              text-transform: uppercase;
              color: #0d416d;
              margin-bottom: 0px;
            }

          }

          h4 {

            &#subtitle-no-project {
              font-size: 1.1em;
              color: #2d82cb;
              margin-bottom: 60px;
              font-style: italic;
            }

          }

      }

      #btn-no-projects {
        
        hyt-button {

          &#add-project-btn {
            margin-top: 2px;
            
            button.mat-raised-button {
              background-color: #0d416d;
              color: #fff;
              font-family: "Exo";
              font-size: 1.2em;
              font-weight: 400;
              text-transform: uppercase;
              line-height: 45px;
  
              &:hover {
                background-color: #105f99;
                box-shadow: none;
              }
  
            }
  
          }
  
        }

      }

    }

    #errorStatus, #loadingStatus {
      text-align: center;

      h2 {
        &#title-error-status, &#title-loading-status {
          color: #0d416d;
          font-size: 1.8em;
        }
      }

    }

    #standardStatus {

      #row-container-title {
        margin-top: 40px;
        margin-bottom: 40px;

        #projects-title-box {

          h2 {
            &#title-projects {
              font-size: 2.2em;
              color: #0d416d;
            }
  
          }

        }

        #projects-topfilters-box {

          hyt-input-text {

            &#hyt-search-bottom {
              
              mat-form-field {
                width: 350px;
              }
            }

          }

          .sort-right {
            text-align: right;

            span {

              &#sort-text{
                padding-right: 15px;
              }
              
            }

          }

        }

      }

      #row-messages-area {
        margin-bottom: 30px;
        animation: showAnimatedDiv .2s ease-in-out;

        .alert-box {
          padding-top: 10px;
          padding-bottom: 10px;
          max-width: 95%;
          margin-left: auto;
          margin-right: auto;
          border: .5px solid;
          font-size: 1em;
          
          p {
            // background: green;
            width: 98%;
            float: left;
            margin-bottom: 0px;
          }

          &.alert-error {
            border-color: red;
            color: #b30e0e;
            font-style: italic;

            span {

              &.cls-msg-area {

                &.btn-error {
                  
                  &::before {
                    content: 'X';
                    float: right;
                    border-radius: 50%;
                    width: 22px;
                    height: 22px;
                    text-align: center;
                    padding-top: 2px;
                    font-size: .8em;
                    cursor: pointer;
                    background-color: #d63636;
                    color: #fff;
                  }
  
                  &:hover {
                    &::before {
                      background-color: #8e2121;
                    }
                  }
                }

              }

            }

          }

          &.alert-success {
            border-color: #2ca500;
            color: #237904;
            font-style: italic;

            span {
              &.cls-msg-area {
                &.btn-success {

                  &::before {
                    content: 'X';
                    float: right;
                    border-radius: 50%;
                    width: 22px;
                    height: 22px;
                    text-align: center;
                    padding-top: 2px;
                    font-size: .8em;
                    cursor: pointer;
                    background-color: #2ca500;
                    color: #fff;
                  }
  
                  &:hover {
                    &::before {
                      background-color: #237904;
                    }
                  }
  
                }
              }
            }
          }

        }

      }

      #row-cotainer-cards {

        .single-card-container {
          margin-bottom: 40px;
        }

      }
      
    }

  }

}

@keyframes showAnimatedDiv {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }

}
