mat-card {
    background: whitesmoke;
    width: 200px;
    height: 260px;
    margin: 8px;
    border-radius: 6px;
}
mat-card:hover {
    background: white;
}
h3 {
    margin: 0;
}
.multiline-ellipsis {
    font-size: 80%;
    max-width: 100%;
    height: 60px;
    margin: 8px auto;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}