// :host {
//     position: relative;
//     width: 200px;
//     height: 260px;
// }

// mat-card {
//     background-color: #35a2ff;
//     position: absolute;
//     left: 0; top: 0; right: 0; bottom: 0;
//     border-radius: 6px;
//     color: #ffffff;

//     &.active {
//         background-color: #ffffff;
//         color: #0f78d1;
//     }

//     #card-front {

//         .multiline-ellipsis {
//             font-size: 80%;
//             max-width: 100%;
//             height: 60px;
//             margin: 8px auto;
//             display: block;
//             display: -webkit-box;
//             -webkit-line-clamp: 3;
//             -webkit-box-orient: vertical;
//             overflow: hidden;
//             text-overflow: ellipsis;
//         }

//     }
// }

// :host {
//     position: relative;
//     min-width: 250px;
//     height: 320px;
// }

hyt-project-card {
    position: relative;
    min-width: 250px;
    height: 320px;

    mat-card.mat-card {
        background-color: #0d416d;
        position: absolute;
        left: 0; top: 0; right: 0; bottom: 0;
        border-radius: 6px;
        color: #ffffff;
        font-family: 'Exo';
        overflow: hidden;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
        transition: all .2s ease-in-out;

        &:hover {
            .box-card-front {
                top: 0px;
            }
        }

        .title-card-back {
            width: 100%;
            max-height: 108px;
            // border: 1px solid;
            word-break: break-word;
            padding: 5px;
            position: inherit;
            bottom: 0px;
            left: 0px;
            font-size: 2em;
            font-weight: 400;
            line-height: 32px;
            overflow: hidden;
        }

        .box-card-front {
            position: inherit;
            width: 100%;
            top: 100%;
            left: 0px;
            padding: 5px;
            background-color: #ffffff;
            height: 100%;
            transition: all .2s ease-in-out;

            .header-card-front {
                // border: 1px solid;
                max-height: 108px;
                font-size: 2em;
                line-height: 35px;
                word-break: break-word;
                overflow: hidden;
                color: #0956B6;
            }

            .content-card-front {
                height: 235px;

                .card-description {
                    // border: 1px solid brown;
                    margin-bottom: 10px;
                    height: 90px;
                    overflow: hidden;
                    word-break: break-word;
                    padding-top: 4px;
                    font-size: .9em;
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    bottom: 108px;
                    padding-left: 5px;
                    padding-right: 5px;  
                    color: #414141;
                    font-style: italic;        
                }

                .card-elements {
                    // border: 1px solid fuchsia;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 60px;
                    padding-left: 5px;
                    padding-right: 5px;

                    .single-element {
                        display: flex;
                        color: #0956B6;

                        &:not(:last-child) {
                            margin-bottom: 5px;
                        }
                    }
                }

            }

            .footer-card-front {
                // border: 1px solid red;
                width: 100%;
                bottom: 0px;
                position: absolute;
                left: 0px;
                text-align: center;
                padding-bottom: 3px;
                height: 43px;

                hyt-button {
                    width: 80%;

                    &:hover {
                        button.mat-raised-button {
                            background-color: #0956B6;
                            color: #ffffff;
                        }
                    }

                    button.mat-raised-button {
                        font-family: 'Exo';
                        box-shadow: none;
                        text-transform: uppercase;
                        background-color: #ffffff;
                        color: #0956B6;
                        font-size: 1em;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #0956B6;
                        border-radius: 0px;
                        font-weight: bold;
                    }
                }

            }

        }

    }

}

/*****************************************************
******************************************************

RESPONSIVE

******************************************************
*****************************************************/


@media (max-width: 1700px) {

    hyt-project-card {
        min-width: 230px;
        height: 294px;

        mat-card.mat-card {
            .title-card-back {
                font-size: 1.8em;
                line-height: 26px;
                max-height: 90px;
            }

            .box-card-front {

                .header-card-front {
                    font-size: 1.8em;
                    line-height: 26px;
                    max-height: 90px;
                }

                .content-card-front {
                    height: 226px;
    
                    .card-description {
                        font-size: .89em;
                        bottom: 96px;
                        height: 100px;
                    }
    
                    .card-elements {
                        bottom: 54px;

                        .single-element {
                            font-size: .9em;

                            &:not(:last-child) {
                                margin-bottom: 2px;
                            }

                            mat-icon {
                                height: 22px;
                                width: 22px;

                                &.material-icons {
                                    font-size: 22px;
                                }
                            }
                        }
                    }
    
                }

                .footer-card-front {
                    height: 34px;

                    hyt-button {
                        height: 29px;

                        button.mat-raised-button {
                            font-size: .9em;
                            line-height: 30px;
                        }
                    }
                }

            }

        }

    }
}

@media (max-width: 1560px) {
    hyt-project-card {
        min-width: 200px;
        height: 256px;
        

        mat-card.mat-card {
            .title-card-back {
                font-size: 1.7em;
                line-height: 26px;
                max-height: 90px;
            }

            .box-card-front {
                .header-card-front {
                    font-size: 1.7em;
                    line-height: 26px;
                    max-height: 90px;
                }

                .content-card-front {
                    height: 188px;

                    .card-description {
                        font-size: 0.7em;
                        line-height: 20px;
                        height: 75px;
                        bottom: 85px
                    }

                    .card-elements {
                        bottom: 50px;
                        
                        .single-element {
                            font-size: .85em;
                            
                            &:not(:last-child) {
                                margin-bottom: 1px;
                            }

                            mat-icon {
                                width: 20px;
                                height: 20px;

                                &.material.icons {
                                    font-size: 20px;
                                }
                            }

                        }

                    }

                }

                .footer-card-front {

                    hyt-button {

                        button.mat-raised-button {
                            font-size: .9em;
                        }
                    }
                }

            }
        }
    }
}

@media (max-width: 1400px) {
    hyt-project-card {
        min-width: 180px;
        height: 230px;
        

        mat-card.mat-card {
            .title-card-back {
                font-size: 1.4em;
                line-height: 22px;
                max-height: 78px;
            }

            .box-card-front {
                .header-card-front {
                    font-size: 1.4em;
                    line-height: 22px;
                    max-height: 78px;
                    padding-top: 2px;
                    bottom: 68px;
                }

                .content-card-front {

                    .card-description {
                        font-size: 0.7em;
                        height: 75px;
                        line-height: 15px;
                        bottom: 77px;
                    }

                    .card-elements {
                        bottom: 43px;

                        .single-element {
                            font-size: .8em;

                           &:not(:last-child) {
                               margin-bottom: 2px;
                           }
                            
                            mat-icon {
                                width: 18px;
                                height: 18px;

                                &.material-icons {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }

                .footer-card-front {
                    height: 31px;

                    hyt-button {
                        height: 25px;

                        button.mat-raised-button {
                            font-size: 0.8em;
                            line-height: 23px;
                        }
                    }
                }

            }

        }
    }
}

@media (max-width: 1240px) {
    hyt-project-card {
        min-width: 170px;
        height: 218px;
        

        mat-card.mat-card {
            .title-card-back {
                font-size: 1.2em;
                line-height: 20px;
                max-height: 72px;
            }

            .box-card-front {

                .header-card-front {
                    font-size: 1.2em;
                    line-height: 20px;
                    max-height: 72px;
                    bottom: 66px;
                }

                .content-card-front {
                    .card-description {
                        font-size: 0.7em;
                        line-height: 14px;
                        height: 74px;
                    }
                }

            }

        }
    }
}

@media (max-width: 1200px) { /* BOOTSTRAP BREACKPOINT */
    hyt-project-card {
        min-width: 215px;
        height: 275px;
        

        mat-card.mat-card {
            .title-card-back {
                font-size: 1.4em;
                line-height: 22px;
                max-height: 78px;
            }

            .box-card-front {
                .header-card-front {
                    font-size: 1.4em;
                    line-height: 22px;
                    max-height: 78px;
                }

                .content-card-front {

                    .card-description {
                        bottom: 90px;
                        height: 100px;
                        font-size: 0.8em;
                        line-height: 18px;
                    }

                    .card-elements {
                        bottom: 50px;

                        .single-element {
                            font-size: .9em;

                            &:not(:last-child) {
                                margin-bottom: 2px;
                            }

                            mat-icon {
                                width: 22px;
                                height: 22px;

                                &.material-icons {
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }

                .footer-card-front {
                    height: 35px;

                    hyt-button {
                        height: 30px;

                        button.mat-raised-button {
                            font-size: 0.9em;
                            line-height: 32px;
                        }
                    }

                }

            }
        }
    }
}

@media (max-width: 991px) { /* BOOTSTRAP BREACKPOINT */

}

@media (max-width: 767px) { /* BOOTSTRAP BREACKPOINT */
    hyt-project-card {
        min-width: 225px;
        height: 288px;
        

        mat-card.mat-card {
            .title-card-back {
                font-size: 1.6em;
                line-height: 25px;
                max-height: 87px;
            }

            .box-card-front {
                .header-card-front {
                    font-size: 1.6em;
                    line-height: 25px;
                    max-height: 87px;
                }

                .content-card-front {
                    
                    .card-description {
                        bottom: 93px;
                        height: 90px;
                    }

                    .card-elements {
                        bottom: 55px;

                        .single-element {
                            &:not(:last-child) {
                                margin-bottom: 1px;
                            }
                        }
                    }

                }
                
            }
        }
    }
}

@media (max-width: 575px) { /* BOOTSTRAP BREACKPOINT */
    hyt-project-card {
        min-width: 250px;
        height: 320px;
        

        mat-card.mat-card {
            .title-card-back {
                font-size: 1.8em;
                line-height: 32px;
                max-height: 108px;
            }

            .box-card-front {

                .header-card-front {
                    font-size: 1.8em;
                    line-height: 32px;
                    max-height: 108px;
                }

                .content-card-front {

                    .card-description {
                        font-size: .9em;
                        height: 100px;
                        bottom: 106px;
                    }

                    .card-elements {
                        bottom: 63px;

                        .single-element {
                            font-size: 1em;
                        }
                    }
                }

                .footer-card-front {
                    height: 40px;

                    hyt-button {
                        height: 35px;

                        button.mat-raised-button {
                            font-size: 1.1em;
                            line-height: 37px;
                        }
                    }

                }

            }
        }
    }
}

@media (max-width: 374px) { 
    hyt-project-card {
        min-width: 200px;
        height: 256px;
        

        mat-card.mat-card {
            .title-card-back {
                font-size: 1.1em;
                line-height: 20px;
                max-height: 72px;
            }

            .box-card-front {

                .header-card-front {
                    font-size: 1.1em;
                    line-height: 20px;
                    max-height: 72px;
                }

                .content-card-front {
                    
                    .card-description {
                        bottom: 87px;
                        height: 90px;
                        font-size: 0.75em;
                        line-height: 16px;
                    }

                    .card-elements {
                        bottom: 49px;

                        .single-element {
                            font-size: .85em;

                            &:not(:last-child) {
                                margin-bottom: 1px;
                            }
                        }
                    }
                }

                .footer-card-front {
                    height: 33px;

                    hyt-button {
                        height: 28px;

                        button.mat-raised-button {
                            font-size: .88em;
                            line-height: 30px;
                        }
                    }

                }

            }
        }
    }
}

@media (max-width: 320px) { 
    hyt-project-card {
        min-width: 180px;
        height: 230px;
        

        mat-card.mat-card {
            .title-card-back {
                font-size: 1em;
                line-height: 18px;
                max-height: 66px;
            }

            .box-card-front {

                .header-card-front {
                    font-size: 1em;
                    line-height: 18px;
                    max-height: 66px;
                }

                .content-card-front {
                    
                    .card-description {
                        bottom: 73px;
                        font-size: 0.7em;
                        line-height: 15px;
                        height: 85px;
                    }

                    .card-elements {
                        bottom: 41px;

                        .single-element {
                            font-size: .8em;

                            mat-icon {
                                width: 18px;
                                height: 18px;
                                
                                &.material-icons {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }

                .footer-card-front {
                    height: 28px;

                    hyt-button {
                        height: 24px;

                        button.mat-raised-button {
                            font-size: 0.8em;
                            line-height: 25px;
                        }
                    }

                }

            }
        }
    }
}