<div id="container-category-form" class="container-fluid">

    <div class="category-text">
        <!--@I18N@-->
    </div>

    <div id="container-loading-cat" *ngIf="categoryStatus==0">
        
        <span class="text-loading">Loading Categories</span>
        <div class="loader"></div>
        <!--@I18N@-->
    </div>

    <div class="row-categories row" *ngIf="categoryStatus==1">
        <div class="col-8 offset-2 category-tree">

            <hyt-tree-view-category [treeDataFlat]="categoriesFlatTree" mode="project" [addFunction]="addFunction"
                [removeFunction]="removeFunction" [editFunction]="editFunction">
            </hyt-tree-view-category>

        </div>
    </div>

    

    <div id="container-error-cat" *ngIf="categoryStatus==-1">
        
        <span class="text-error">Error loading category data</span>
        <!--@I18N@-->
    </div>

</div>