<div id="container-option-modal" class="hyt-modal">

    <div class="hyt-modal-body">

        <div class="dialog">

            <div class="dialog-header">
                <h3>Error</h3>
                <!--@I18N@-->
            </div>

            <div class="dialog-body">
                <p>An error occurred while loading the rule definition. This happens when field names have been
                    modified. Please, redefine the rule and delete the old one.</p>
                <!--@I18N@-->
            </div>

            <div class="dialog-footer">
                <hyt-button (clickFn)="close()">
                    <ng-container i18n="@@HYT_close">HYT_close</ng-container>
                </hyt-button>
            </div>

        </div>

    </div>

</div>

<div class="hyt-modal-background"></div>