#container-option-modal {

  .hyt-modal-body {

    .dialog {
      overflow: hidden;
      background-color: #2258a5;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
      border-radius: 8px;

      .dialog-header {
        background-color: #2258a5;
        padding: 8px 10px;
        color: #fff;
        text-align: center;
        font-size: 1.3em;
        position: relative;
      }

      .dialog-body {
        background-color: #fff;
        padding: 30px;
      }

      .dialog-footer {
        background-color: #2258a5;
        padding: 8px 10px;
        color: #fff;
        text-align: center;
        position: relative;
      }

    }

  }

}
