<div id="container-option-modal">

    <div class="dialog">

        <div class="dialog-header">
            <h3>Error</h3>
            <!--@I18N@-->
            <span class="hyt-icon icon-hyt_cancelC" (click)="close()"></span>
        </div>

        <div class="dialog-body">
            Errore nel caricamento della regola. Questo può accadere per uno o più dei seguenti motivi:
            <ul>
                <li>Il nome di un campo della regola è stato modificato</li>
                <li>Un campo della regola è stato eliminato</li>
                <li>Un pacchetto della regola è stato eliminato (solo eventi)</li>
                <li>La definizione della sintassi delle regole è stata aggiornata pertanto la regola è ora obsoleta</li>
            </ul>
            Per favore, ridefinisci la regola e cancella la vecchia.
            <!--@I18N@-->
        </div>

    </div>

</div>

<!-- <div class="hyt-modal-background"></div> -->