#hyt-wizard-deactivation-modal {

  text-align: center;
    
  #title-deact-mod {
    justify-content: center;
    background: #e60000;
    color: #fff;

    span {
      margin: 0px;
      text-transform: capitalize;
    }

  }

  #body-deact-mod {

    p {
      font-size: 1.2em;
      font-weight: bold;
    }

  }

}
