<div id="hyt-wizard-deactivation-modal" hyt-dialog>
    
    <div id="title-deact-mod" hyt-dialog-header>

        <span i18n="@@HYT_unsaved_data">Unsaved data</span>

    </div>

    <div id="body-deact-mod" hyt-dialog-content>

        <p i18n="@@HYT_unsaved_changes_lost">If you leave the page the unsaved changes will be lost</p>

    </div>

    <div id="footer-deact-mod" hyt-dialog-footer>

        <hyt-button [color]="'hyt-base-total-green'" (click)="output(false)">
            <span class="hyt-icon icon-hyt_arrowLeft"></span>
            <ng-container i18n="@@HYT_remain">Remain</ng-container>
        </hyt-button>

        <hyt-button [color]="'hyt-base-total-red'" (click)="output(true)">
            <ng-container i18n="@@HYT_discard_changes">Discard Changes</ng-container>
            <span class="hyt-icon icon-hyt_cancel"></span>
        </hyt-button>
        
    </div>

</div>
