<div id="container-pending-changes-modal" hyt-dialog>

    <div class="dialog-header" hyt-dialog-header>
        <span>{{data.title}}</span>
        <span class="hyt-icon icon-hyt_cancelC" (click)="close('cancel')"></span>
    </div>

    <div class="dialog-body" hyt-dialog-content>
        {{data.message}}
    </div>

    <div class="dialog-footer" hyt-dialog-footer>
        <hyt-button [color]="'hyt-base-total-white'" (click)="close('cancel')" i18n="@@HYT_back_to_alarm">Back to Alarm
        </hyt-button>
        <hyt-button [color]="'hyt-base-total-green'" (click)="close('save')" i18n="@@HYT_save">Save</hyt-button>
    </div>

</div>