<div id="container-pending-changes-modal">

    <div class="dialog-header">
        <span>{{data.data.title}}</span>
        <span class="hyt-icon icon-hyt_cancelC" (click)="close('cancel')"></span>
    </div>

    <div class="dialog-body">
        {{data.data.message}}
        <div class="container-btn">
            <hyt-button [color]="'hyt-base-total-white'" (click)="close('cancel')" i18n="@@HYT_back_to_event">Back to Alarm
            </hyt-button>
            <hyt-button [color]="'hyt-base-total-green'" (click)="close('save')" i18n="@@HYT_save">Save</hyt-button>
        </div>
    </div>

</div>