@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

#hyt-sidebar {

    .area {
        float: left;
        background: #e2e2e2;
        width: 100%;
        height: 100%;
    }

    nav {
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        -o-user-select:none;
        user-select:none;

        &.main-menu {
            // background:#e4e4e4;
            border-right:1px solid #e5e5e5;
            position:fixed;
            top:0px;
            bottom:0;
            height:100%;
            left:0;
            width:60px;
            z-index:1000;
    
            ul {
                margin:7px 0;
                padding-top: 80px;
                overflow:hidden;
                background: white;
                -webkit-transition: all .2s linear;
                -moz-transition: all .2s linear;
                transition: all .2s linear;
                border: #e5e5e5;
                

                &:hover,
                &.expanded {
                    width:250px;
                    overflow:visible;
                    height: 100%;
                    border-right: 1px solid #e5e5e5;
                }
    
                &.logout {
                    position:absolute;
                    left:0;
                    bottom:0;
                }
            }
    
            li {
                position:relative;
                display:block;
                width:250px;
                border-bottom: 1px solid #e5e5e5;

                &:hover,
                &.active {

                    a {
                        color:#fff;
                        background-color:#5fa2db;
                    }

                }

                &:hover {
                    border-color: #3b9aff;
                    border-right: 1px solid #e5e5e5;

                    a {
                        color: #398fd7;
                        background-color: #ffffff;
                    }
                }

                &:active {
                    background-color: #5fa2db;
                }
    
                a {
                    position:relative;
                    display:table;
                    border-collapse:collapse;
                    border-spacing:0;
                    color:#999;
                    font-family: arial;
                    font-size: 15px;
                    text-decoration:none;
                    font-family: 'Exo';
                    color: #000000;

                    // -webkit-transform:translateZ(0) scale(1,1);

                    -moz-transition: width .1s linear;
                    -webkit-transition: width .1s linear;
                    transition: width .1s linear;
    
                    &:hover,
                    &:focus {
                        text-decoration:none;
                    }
                    
                    .fa {
                        position: relative;
                        display: table-cell;
                        width: 60px;
                        height: 36px;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 22px;
                        padding: 12px 0px 12px 0px;
                    }

                    .hyt-icon {
                        position: relative;
                        display: table-cell;
                        width: 60px;
                        height: 36px;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 22px;
                        padding: 12px 0px 12px 0px;
                    }
                  
                }

            }
    
            .nav-icon {
                position:relative;
                display:table-cell;
                width:60px;
                height:36px;
                text-align:center;
                vertical-align:middle;
                font-size:18px;
            }
    
            .nav-text {
                position: relative;
                display: table-cell;
                vertical-align: middle;
                width: 190px;
            }

        }

        ul,
        li {
            outline: 0;
            margin: 0;
            padding: 0;
        }

    }
    
}

