@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

#hyt-sidebar {

    .area {
        float: left;
        background: #e2e2e2;
        width: 100%;
        height: 100%;
    }

    nav {
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        -o-user-select:none;
        user-select:none;

        &.main-menu {
            // background:#e4e4e4;
            border-right:1px solid #e5e5e5;
            position:fixed;
            top:0px;
            bottom:0;
            height:100%;
            left:0;
            // width:60px;
            z-index:1001;
            background-color: #ffffff;
    
            ul {
                padding-top: 65px;
                overflow: hidden;
                background: white;
                -webkit-transition: width .1s ease-in-out;
                -moz-transition: width .1s ease-in-out;
                transition: width .1s ease-in-out;
                border: #e5e5e5;
                width: 59px;
                

                &:hover,
                &.expanded {
                    width: 250px;
                    overflow: visible;
                    height: 100%;
                    border-right: 1px solid #e5e5e5;
                    -moz-box-shadow: -7px 0px 24px -4px #000;
                    -webkit-box-shadow: -7px 0px 24px -4px #000;
                    box-shadow: -7px 0px 24px -4px #000;
                }

                &:hover {
                    li {
                        width: 250px;
                        a {
                            span {
                                &.nav-text {
                                    display: table-cell;
                                }
                            }
                        }
                    }
                }
    
                &.logout {
                    position:absolute;
                    left: 0;
                    bottom: 0;
                }
            }
    
            li {
                position: relative;
                display: block;
                width: 59px; /* 250px */
                border-bottom: 1px solid #e5e5e5;
                transition: width 0.1s ease-in-out;

                &.selected {
                    color:#0d59c5;
                    border-bottom: solid 1px #17a4fa;
                    background-color: #e6f0ff;
                }

                &:hover:not(.selected) {
                    border-color: #3b9aff;
                    border-right: 1px solid #e5e5e5;

                    a {
                        color: #398fd7;
                        background-color: #ffffff;
                    }
                }

                &:active {
                    background-color: #5fa2db;
                }

                a {
                    position:relative;
                    display:table;
                    border-collapse:collapse;
                    border-spacing:0;
                    color:#999;
                    font-family: arial;
                    font-size: 15px;
                    text-decoration:none;
                    font-family: 'Exo';
                    color: #000000;

                    // -webkit-transform:translateZ(0) scale(1,1);

                    -moz-transition: width .1s linear;
                    -webkit-transition: width .1s linear;
                    transition: width .1s linear;
    
                    &:hover,
                    &:focus {
                        text-decoration:none;
                    }
                    
                    .fa {
                        position: relative;
                        display: table-cell;
                        width: 60px;
                        height: 36px;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 22px;
                        padding: 12px 0px 12px 0px;
                    }

                    .hyt-icon {
                        position: relative;
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 2em;
                        padding: 12px 15px;
                    }
                  
                }

            }
    
            .nav-icon {
                position:relative;
                display:table-cell;
                width:60px;
                height:36px;
                text-align:center;
                vertical-align:middle;
                font-size:18px;
            }
    
            .nav-text {
                position: relative;
                display: table-cell;
                vertical-align: middle;
                width: 190px;
                display: none;
            }

        }

        ul,
        li {
            outline: 0;
            margin: 0;
            padding: 0;
        }

    }
    
}

