<div id="hyt-sidebar">
    <div class="area"></div>
    <nav class="main-menu">
        <ul>

            <li class="has-subnav">
                <a routerLink="/dashboards">
                    <span class="hyt-icon icon-hyt_home"></span>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
            </li>

            <li class="has-subnav">
                <a routerLink="/projects">
                    <span class="hyt-icon icon-hyt_projects"></span>
                    <span class="nav-text">
                        Projects
                    </span>
                </a>
            </li>

            <li class="has-subnav">
                <a routerLink="/dashboards">
                    <span class="hyt-icon icon-hyt_dash"></span>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
            </li>

            <!-- <li class="has-subnav">
                <a routerLink="/project-wizard">
                    <span class="hyt-icon icon-hyt_widget"></span>
                    <span class="nav-text">
                        Widget
                    </span>
                </a>
            </li> -->

            <!-- <li class="has-subnav">
                <a routerLink="/">
                    <span class="hyt-icon icon-hyt_tags"></span>
                    <span class="nav-text">
                        Tags
                    </span>
                </a>
            </li>

            <li class="has-subnav">
                <a routerLink="/">
                    <span class="hyt-icon icon-hyt_categories"></span>
                    <span class="nav-text">
                        Categories
                    </span>
                </a>
            </li> -->

        </ul>
    </nav>
</div>
