@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

#hyt-sidebar {

    .area {
        float: left;
        background: #e2e2e2;
        width: 100%;
        height: 100%;
    }

    nav {
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        -o-user-select:none;
        user-select:none;

        &.main-menu {
            border-right: 1px solid #074290;
            position:fixed;
            top:0px;
            bottom:0;
            height:100%;
            left:0;
            z-index:1001;
            background-color: #1e58a5;

            -webkit-transition: left .15s ease-in-out;
            -moz-transition: left .15s ease-in-out;
            -o-transition: left .15s ease-in-out;
            transition: left .15s ease-in-out;
            
    
            ul {
                padding-top: 65px;
                overflow: hidden;
                background: #1e58a5;
                -webkit-transition: width .1s ease-in-out;
                -moz-transition: width .1s ease-in-out;
                transition: width .1s ease-in-out;
                border: #e5e5e5;
                width: 59px;
                

                &:hover,
                &.expanded {
                    width: 250px;
                    overflow: visible;
                    height: 100%;
                    border-right: 1px solid #0b5594;
                    -moz-box-shadow: -7px 0px 24px -4px #000;
                    -webkit-box-shadow: -7px 0px 24px -4px #000;
                    box-shadow: -7px 0px 24px -4px #000;
                }

                &:hover {
                    li {
                        width: 250px;
                        a {
                            span {
                                &.nav-text {
                                    display: table-cell;
                                }
                            }
                        }
                    }
                }
    
                &.logout {
                    position:absolute;
                    left: 0;
                    bottom: 0;
                }
            }
    
            li {
                position: relative;
                display: block;
                width: 59px; /* 250px */
                // border-bottom: 1px solid #e5e5e5;
                transition: width 0.1s ease-in-out;

                &.selected {
                    // border-bottom: solid 1px #ffffff;
                    background-color: #003679;
                }

                &:hover:not(.selected) {

                    a {
                        color: #f9f9f9;
                        background-color: #4371ab;
                    }
                }

                &:active {
                    background-color: #5fa2db;
                }

                a {
                    position:relative;
                    display:table;
                    border-collapse:collapse;
                    border-spacing:0;
                    font-family: arial;
                    font-size: 15px;
                    text-decoration:none;
                    font-family: 'Exo';
                    color: #ffffff;

                    -moz-transition: width .1s linear;
                    -webkit-transition: width .1s linear;
                    transition: width .1s linear;
    
                    &:hover,
                    &:focus {
                        text-decoration:none;
                    }
                    
                    .fa {
                        position: relative;
                        display: table-cell;
                        width: 60px;
                        height: 36px;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 22px;
                        padding: 12px 0px 12px 0px;
                    }

                    .hyt-icon {
                        position: relative;
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 2em;
                        padding: 12px 15px;
                    }
                  
                }

            }
    
            .nav-icon {
                position:relative;
                display:table-cell;
                width:60px;
                height:36px;
                text-align:center;
                vertical-align:middle;
                font-size:18px;
            }
    
            .nav-text {
                position: relative;
                display: table-cell;
                vertical-align: middle;
                width: 190px;
                display: none;
            }

        }

        ul,
        li {
            outline: 0;
            margin: 0;
            padding: 0;
        }

    }
    
}


/* RESPONSIVE */

@media (max-width: 991px) {

    #hyt-sidebar {

        nav {

            &.main-menu {

               &.nav-mob-hidden {

                left: -60px;

               }

               &.nav-mob-show {

                left: 0px;

                ul {
                    
                    &.ul-mob-show {

                        width: 250px;
                        overflow: visible;
                        height: 100%;
                        border-right: 1px solid #0b5594;
                        box-shadow: -7px 0px 24px -4px #000;

                        li {

                            width: 250px;

                            a {

                                span {

                                    &.nav-text {
                                        display: table-cell;
                                    }

                                }

                            }
                        
                        }

                    }

                }

               }

            }

        }

    } 

}

