<div id="container-algorithm-jar" class="container">

    <!-- FIRST FORM -->

    <form [formGroup]="form" #formReference [ngClass]="{'blurred': loadingStatus !== LoadingStatus.Ready}">
        
        <div>
            <div>
                <span *ngIf="algorithm && algorithm.jarName">JAR exists</span>
                <span *ngIf="!(algorithm && algorithm.jarName)">No JAR exists</span>
            </div>
            <label for="file">Choose File</label>
            <input type="file" 
                formControlName="jarName"
                accept=".jar"
                (change)="handleFileInput($event.target.files)">
        </div> <!-- First Row -->

        <div class="form-group row">
            <div id="fproj-col-descr" class="col-12"> 
                <hyt-input-text 
                    name="mainClassname" i18n-placeholder="@@HYT_algorithm_main_classname" placeholder="Main classname" [form]="form"
                    [injectedErrorMsg]="getError('algorithm-mainClassName')"
                    i18n-hintMessage="@@HYT_hint_algorithm_main_className"
                    hintMessage="Enter the main classname"
                    errorPosition="bottom" minlength="3" isRequired="true"
                >
                </hyt-input-text>
            </div>
        </div> <!-- Second Row -->

    </form>

    <!-- 
        TODO: This HTML block is repeated
        across all 'entity' components,
        consider making a component out of it 
    -->

    <div #overlayHeight *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
        
        <div 
            *ngIf="loadingStatus === LoadingStatus.Loading" 
            [ngClass]="getCustomClass()"
        >

            <h4 i18n="@@HYT_loading_data">Loading data...</h4>

        </div> 
        
        <div *ngIf="loadingStatus === LoadingStatus.Error" class="error-overlay d-flex flex-column justify-content-center">
            <h4 i18n="@@HYT_error_occurred">An unexpected error has occurred</h4>

            <hyt-button 
                [color]="'hyt-base-default-white'" 
                (click)="loadingStatus = LoadingStatus.Ready"
            >
                <span i18n="@@HYT_close">Close</span> <span class="icon-hyt_cancelC"></span> 
            </hyt-button>
        </div>

        <h4 *ngIf="loadingStatus === LoadingStatus.Saving" i18n="@@HYT_saving_data">Saving data...</h4>

        <mat-progress-bar 
            *ngIf="loadingStatus === LoadingStatus.Loading || loadingStatus === LoadingStatus.Saving"
            mode="indeterminate"
        ></mat-progress-bar> 

    </div>

</div>
