#container-tag-form {

    padding-top: 20px;

    .tags-text {

        font-size: 0.9em;
        font-style: italic;
        line-height: 25px;
        margin-bottom: 25px;

    }

}

.tag-box{
    height: 300px;
    width: 500px;
    overflow: scroll;
}
