<div id="container-tag-form" class="container-fluid">

  <div class="tags-text">
    Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullamco laboriosam, nisi ut aliquid ex ea commodi
    consequatur. Duis aute irure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    <!--@I18N@-->
  </div>

  <div class="tag-logic-container row">

    <div id="container-loading-tags" *ngIf="tagStatus == 0" class="col-12"> <!-- tagStatus==0 -->
      
      <span class="text-loading" i18n="@@HYT_loading_tags">Loading Tags</span>
      <div class="loader"></div>

    </div>

    <div id="container-tags" *ngIf="tagStatus == 1" class="col-12"> <!-- tagStatus==1 -->

      <div id="container-form-tags">

        <form #f="ngForm" [formGroup]="filteringForm">

          <div class="row">

            <div id="container-filter-tags" class="col-6">

              <hyt-input-text [form]="filteringForm" formControlName="textFilter" name="textFilter" i18n-placeholder="@@HYT_search" placeholder="Search"
                (keyup)="onChangeInputSearch()"></hyt-input-text>

            </div> <!-- END COL 1 -->

            <div id="container-sort-tags" class="col-6">

              <span id="sort-text" i18n="@@HYT_sort_by">Sort by: </span>
              <hyt-select 
                [form]="filteringForm" 
                i18n-label="@@HYT_select_sort_type"
                label="Select a sort type" 
                formControlName="sort" 
                name="sort"
                (changeFn)="onChangeSelectSort()" 
                [options]="sortOptions"
              ></hyt-select>

            </div> <!-- END COL 2 -->

          </div> <!-- END ROW -->

        </form>

      </div>

      <div id="tags-resume" class="row">
        <!-- <div class="col-12" i18n="@@HYT_showing_tags_of">
          Showing {filteredTags.length, plural, =0 {{{filteredTags.length}} tags} =1 {{{filteredTags.length}} tag} other {{{filteredTags.length}} tags}} of {{allTags.length}}
        </div> -->
        <div class="col-12" >
          Showing {{filteredTags.length}} tags of {{allTags.length}}
        </div>
      <!-- @@i18n -->
      </div>

      <div id="container-add-tags" class="row">

        <div class="col-12">

          <hyt-button 
            mat-mini-fab 
            (click)="addTagModal()"
            [color]="'hyt-base-default-white'">
  
              <ng-container i18n="@@HYT_add_tag">Add Tag </ng-container>
              <span class="hyt-icon icon-hyt_plusC"></span>

          </hyt-button>

        </div>

      </div>

      <div id="tag-box" class="row">

        <div id="no-tags-found" class="col-12" *ngIf="filteredTags.length == 0"> 
          <span i18n="@@HYT_no_tags_found">No tags found, create one!</span>
        </div>

        <div id="tags-container" class="col-12" *ngIf="filteredTags.length > 0">

          <p id="subtitle-tags" i18n="@@HYT_list_tags">List of Tags</p>
          <hyt-tag-list>
            <hyt-tag *ngFor="let tag of filteredTags" [selectable]="true" [selected]="true" [removable]="true"
              [editable]="true" (removed)="delete(tag)" (edited)="editTagModal(tag)" [value]="tag.name" [color]="tag.color">
            </hyt-tag>
          </hyt-tag-list>

        </div>

      </div>

    </div>

    <div id="container-error-tags" *ngIf="tagStatus == -1" class="col-12"> <!-- tagStatus==-1 -->

      <span class="text-error" i18n="@@HYT_error_loading_tags_data">Error loading tags data</span>
    </div>

  </div>

</div>