<div id="container-packet-form" class="container">

  <div class="tags-text">
    Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullamco laboriosam, nisi ut aliquid ex ea commodi
    consequatur. Duis aute irure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    <!--@I18N@-->
  </div>

  <hr>

  <div class="tag-logic-container">

    <div *ngIf="tagStatus==0">
      Loading
      <!--TODO (spinner?)-->
      <!--@I18N@-->
    </div>

    <div *ngIf="tagStatus==1">

      <div class="col-12">
        <form #f="ngForm" [formGroup]="filteringForm">
          <div class="row">
            <div class="col-6">
              <hyt-input-text [form]="filteringForm" formControlName="textFilter" name="textFilter" placeholder="Search"
                (keyup)="onChangeInputSearch()"></hyt-input-text>
              <!--@I18N-->
            </div>
            <div class="col-6 sort-right">
              <span id="sort-text">Sort by: </span>
              <!--@I18N-->
              <hyt-select [form]="filteringForm" [label]="'Select a sort type'" formControlName="sort" name="sort"
                (changeFn)="onChangeSelectSort()" [options]="sortOptions"></hyt-select>
              <!--@I18N-->
            </div>
          </div>
        </form>
      </div>

      <div class="col-12">
        <div class="row">

          <div class="col-6">
            Showing {{filteredTags.length}} tags of {{allTags.length}}
            <!--@I18N@-->
          </div>

          <div class="col-6">
            <hyt-button mat-mini-fab (click)="addTagModal()">
              Add Tag <span class="hyt-icon icon-hyt_plus"></span>
            </hyt-button>
            <!--@I18N@-->
          </div>

        </div>
      </div>

      <div class="tag-box">

        <div *ngIf="filteredTags.length == 0">
          <span>No tag found</span>
          <!--@I18N@-->
        </div>

        <hyt-tag-list>
          <hyt-tag *ngFor="let tag of filteredTags" [selectable]="true" [selected]="true" [removable]="true"
            [editable]="true" (removed)="delete(tag)" (edited)="editTagModal(tag)" [value]="tag.name">
          </hyt-tag>
        </hyt-tag-list>
      </div>

    </div>

    <div *ngIf="tagStatus==-1">
      Error loading tag data
      <!--TODO-->
      <!--@I18N@-->
    </div>
  </div>

</div>