<div id="hyt-topbar" class="container-fluid" [ngClass]="{'topbarMob': winInnerWidth <= mobileBreakPoints.md}">
    
    <div id="logo-container">
        
        <a routerLink="/">

            <img 
                id="img-logo-hyt" 
                src="assets/images/logo/Hyperiot-Ex_S.png" 
                alt="HyperIoT Logo Extended"
                *ngIf="winInnerWidth > mobileBreakPoints.xs"
            > <!--@I18N@-->

            <img 
                id="img-logo-mob-hyt" 
                src="assets/images/hyperiot_logo_single_char_animated.svg" 
                alt="HyperIoT Logo Single Char"
                *ngIf="winInnerWidth <= mobileBreakPoints.xs"
            > <!--@I18N@-->
            
        </a>
        
        <span class="fe-version">v{{ feVersion }}</span>
    
    </div>

    <div id="main-container">
        <div 
            *ngIf="winInnerWidth <= mobileBreakPoints.md" 
            id="hamburger-btn" 
            class="menu-mobile" 
            (click)="toggleMenu()">
            
            <!-- INIZIO -->

            <div class="icon nav-icon-mob" [ngClass]="{'open': isShow}">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <!-- FINE -->

        </div>
        <hyt-notification-button></hyt-notification-button>
        <hyt-account-button></hyt-account-button>
    </div>
    
</div>