#hyt-topbar {
  display: flex;
  justify-content: space-between;
  height: 64px;

  background-color: #fdfdfd;
  color: #0956B6;
  text-transform: uppercase;
  border-bottom: 1px solid #dadada;

  -moz-box-shadow: 4px -7px 13px 2px #aeaeae;
  -webkit-box-shadow: 4px -7px 13px 2px #aeaeae;
  box-shadow: 4px -7px 13px 2px #aeaeae;

  .event-bell {
    position: absolute;
    top: 12px;
    right: 65px;
  }

  #logo-container {
    align-self: center;
    display: flex;
    height: 38px;
    margin-left: -7px;

    a {

      height: 100%;

      img {

        &#img-logo-hyt {

          height: 100%;

        }

      }

    }

    .fe-version {
      align-self: end;
      font-size: 14px;
      line-height: 12px;
    }

  }

  #main-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    #event-notification-btn {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;

      .hyt-icon {
        font-size: 2.3em;
      }

      .button-label {
        font-size: .8em;
        margin-top: -5px;
        line-height: 20px;
      }

    }

    #hamburger-btn {

      &.menu-mobile {

        .icon {

          margin: 20px 15px 0px 15px;

          &.nav-icon-mob {

            width: 20px;
            height: 14px;
            position: relative;
            cursor: pointer;
            display: inline-block;

            span {

              background-color: #1e58a5;
              position: absolute;
              border-radius: 2px;
              transition: .2s cubic-bezier(.8, .5, .2, 1.4);

              &:nth-child(1) {
                width: 100%;
                height: 2px;
                display: block;
                top: 0px;
                left: 0px;
              }

              &:nth-child(2) {
                width: 100%;
                height: 2px;
                display: block;
                top: 6px;
                left: 0px;
              }

              &:nth-child(3) {
                width: 100%;
                height: 2px;
                display: block;
                bottom: 0px;
                left: 0px;
              }

            }

            &.open {

              transform: rotate(90deg);

              span {

                &:nth-child(1) {
                  left: 3px;
                  top: 12px;
                  width: 20px;
                  transition: .2s ease-in-out;
                  transform: rotate(90deg);
                  transition-delay: 120ms;
                }

                &:nth-child(2) {
                  left: 1px;
                  top: 18px;
                  width: 15px;
                  transition: .2s ease-in-out;
                  transform: rotate(45deg);
                  transition-delay: 30ms;
                }

                &:nth-child(3) {
                  left: 10px;
                  top: 18px;
                  width: 15px;
                  transition: .2s ease-in-out;
                  transform: rotate(-45deg);
                  transition-delay: 80ms;
                }

              }

            }

          }

        }

      }

    }

  }
}

/* RESPONSIVE */

@media (max-width: 991px) {

  #hyt-topbar {

    #hamburger-btn {

      &.menu-mobile {

        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 10px;
        padding: 5px;

      }

    }

    #logo-container {

      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      margin-top: 0px;
      margin-left: 0px;

      a {

        img {

          &#img-logo-hyt {

            height: 45px;
            width: auto;
            margin-top: 0px;

          }

          &#img-logo-mob-hyt {
            height: 45px;
            width: auto;
            margin-top: 0px;
          }

        }

      }

    }

  }

}

@media (max-width: 767px) {}