#hyt-topbar {
    height: 64px;
    // background-color: #0956B6;
    // color: #fff;

    background-color: #fdfdfd;
    color: #0956B6;
    text-transform: uppercase;
    border-bottom: 1px solid #dadada;

    -moz-box-shadow: 4px -7px 13px 2px #aeaeae;
    -webkit-box-shadow: 4px -7px 13px 2px #aeaeae;
    box-shadow: 4px -7px 13px 2px #aeaeae;

    #logo-container {
        float: left;
        display: table;
        width: 100%;
        max-width: 205px;
        margin-left: -9px;

        a {
            display: block;

            img {

                &#img-logo-hyt {

                    width: 100%;
                    margin-top: 10px;

                }

            }

        }

    }
    
    #main-container {
        float: right;
    }
}
