<div id="hyt-topbar" class="container-fluid">
    
    <div id="logo-container"  style="width: 205px; margin-left: 10px;">
        
        <a routerLink="/">
            <!-- <img src="assets/images/logo/Hyperiot_Full_glow.png" alt="HyperIoT Logo Extended" style="width: 100%; margin-top: 5px;"> -->
            <!-- <img src="assets/images/logo/Hyperiot_Full_negative.png" alt="HyperIoT Logo Extended" style="width: 100%; margin-top: 5px;"> -->
            <img src="assets/images/logo/Hyperiot_Full_white.png" alt="HyperIoT Logo Extended" style="width: 100%; margin-top: 5px;">

            <!-- <img src="assets/images/logo/Hyperiot-Neg_L.png" alt="HyperIoT Logo Extended" style="width: 100%; margin-top: 5px;"> -->
            <!-- <img src="assets/images/logo/Hyperiot-Ex_L.png" alt="HyperIoT Logo Extended" style="width: 100%; margin-top: 5px;"> -->
        </a>
    
    </div>

    <div id="main-container">
        <hyt-account-button></hyt-account-button>
    </div>

    <div style="clear: both;"></div>
    
</div>