<div class="container">

    <form [formGroup]="form" #formReference>

        <div class="d-flex flex-column flex-md-row flex-wrap">

            <div class="pr-md-3 flex-fill">
                <hyt-input-text name="hdevice-devicename"
                    [form]="form"
                    errorPosition="bottom"
                    placeholder="Name"
                    minlength="3"
                    patternz="[A-Za-z0-9_-]*"
                    [injectedErrorMsg]="getError('hdevice-devicename')"
                    hintMessage="Enter the device name."
                    isRequired="true">
                </hyt-input-text>
            </div>
            <div class="pl-md-3 flex-fill">
                <hyt-input-text name="hdevice-brand"
                    placeholder="Brand"
                    [injectedErrorMsg]="getError('hdevice-brand')"
                    hintMessage="Enter the device brand."
                    [form]="form"></hyt-input-text>
            </div>

        </div>


        <div class="d-flex flex-column flex-md-row flex-wrap">

            <div class="pr-md-3 flex-fill">
                <hyt-input-text name="hdevice-model"
                    placeholder="Model"
                    [injectedErrorMsg]="getError('hdevice-model')"
                    hintMessage="Enter the device model."
                    [form]="form"></hyt-input-text>
            </div>
            <div class="pl-md-3 flex-fill">
                <hyt-input-text name="hdevice-softwareversion"
                    placeholder="Software version"
                    [injectedErrorMsg]="getError('hdevice-softwareversion')"
                    hintMessage="Enter the device software version."
                    [form]="form"></hyt-input-text>
            </div>

        </div>

        <div class="d-flex flex-column flex-md-row flex-wrap">

            <div class="pr-md-3 flex-fill">
                <hyt-input-text name="hdevice-firmwareversion"
                    placeholder="Firmware version"
                    [injectedErrorMsg]="getError('hdevice-firmwareversion')"
                    hintMessage="Enter the device firmware version."
                    [form]="form"></hyt-input-text>
                <hyt-input-text [form]="form" name="hdevice-password" [disabled]="entity.id"
                    [isRequired]="!entity.id" [isPassword]="true" i18n-placeholder="@@HYT_password" placeholder="HYT_password"
                    type="password" [injectedErrorMsg]="getError('hdevice-password')"
                    hintMessage="Enter the device password.">
                </hyt-input-text>
                <hyt-input-text [form]="form" name="hdevice-passwordConfirm" [disabled]="entity.id"
                    [isRequired]="!entity.id" i18n-placeholder="@@HYT_password_confirm" placeholder="HYT_password_confirm"
                    type="password" [injectedErrorMsg]="getError('hdevice-passwordConfirm')"
                    hintMessage="Confirm device password.">
                </hyt-input-text>
            </div>
            <div class="pl-md-3 flex-fill">
                <hyt-text-area name="hdevice-description"
                    placeholder="Description"
                    [injectedErrorMsg]="getError('hdevice-description')"
                    hintMessage="Enter the device description."
                    [form]="form"></hyt-text-area>
            </div>

        </div>

    </form>

    <!-- TODO: This HTML block is repeated
               across all 'entity' components,
               consider making a component out of it -->
    <div *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
        <h4 *ngIf="loadingStatus === LoadingStatus.Loading">Loading project data...</h4>
        <div *ngIf="loadingStatus === LoadingStatus.Error" class="d-flex flex-column justify-content-center">
            <h4>An error has occurred =/</h4>
            <button mat-stroked-button (click)="loadingStatus = LoadingStatus.Ready">
                <span>Close</span>
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <h4 *ngIf="loadingStatus === LoadingStatus.Saving">Saving project data...</h4>
        <mat-progress-bar
            *ngIf="loadingStatus === LoadingStatus.Loading || loadingStatus === LoadingStatus.Saving"
            mode="query"></mat-progress-bar>
    </div>

</div>
