<div id="container-device-form" class="container">

    <!-- SECOND FORM -->

    <form [formGroup]="form" #formReference [ngClass]="{'blurred': loadingStatus !== LoadingStatus.Ready}">

        <div class="form-group row">

            <div id="fdev-col-name" class="col-6">
                <hyt-input-text 
                    name="hdevice-devicename"
                    [form]="form"
                    formControlName="hdevice-devicename"
                    errorPosition="bottom"
                    i18n-placeholder="@@HYT_name"
                    placeholder="Name"
                    patternz="[A-Za-z0-9_-]*"
                    [injectedErrorMsg]="getError('hdevice-devicename')"
                    i18n-hintMessage="@@HYT_hint_device_name"
                    hintMessage="Enter the device name."
                    isRequired="true"
                >
                </hyt-input-text>
            </div>
            <div id="fdev-col-brand" class="col-6">
                <hyt-input-text 
                    name="hdevice-brand"
                    formControlName="hdevice-brand"
                    i18n-placeholder="@@HYT_brand"
                    placeholder="Brand"
                    [injectedErrorMsg]="getError('hdevice-brand')"
                    i18n-hintMessage="@@HYT_hint_device_brand"
                    hintMessage="Enter the device brand."
                    [form]="form"
                >
                </hyt-input-text>
            </div>

        </div> <!-- First Row -->

        <div class="form-group row">

            <div id="fdev-col-model" class="col-6">

                <hyt-input-text 
                    name="hdevice-model"
                    formControlName="hdevice-model"
                    i18n-placeholder="@@HYT_model"
                    placeholder="Model"
                    [injectedErrorMsg]="getError('hdevice-model')"
                    i18n-hintMessage="@@HYT_hint_device_model"
                    hintMessage="Enter the device model."
                    [form]="form"
                    [ngClass]="(typeApplication === false)?'':'displayNone'"
                >
                </hyt-input-text>

            </div>

            <div  id="fdev-col-firmware" class="col-6">
                 <hyt-input-text 
                    name="hdevice-firmwareversion"
                    formControlName="hdevice-firmwareversion"
                    i18n-placeholder="@@HYT_firmware_version"
                    placeholder="Firmware version"
                    [injectedErrorMsg]="getError('hdevice-firmwareversion')"
                    i18n-hintMessage="@@HYT_hint_device_firmware"
                    hintMessage="Enter the device firmware version."
                    [form]="form"
                    [ngClass]="(typeApplication === false)?'':'displayNone'"
                >
                </hyt-input-text>
            </div>


        </div> <!-- Second Row -->

        <div class="form-group row">

            <div id="fdev-col-group-firm" class="col-6">

                <hyt-input-text 
                    name="hdevice-softwareversion"
                    formControlName="hdevice-softwareversion"
                    i18n-placeholder="@@HYT_software_version"
                    placeholder="Software version"
                    [injectedErrorMsg]="getError('hdevice-softwareversion')"
                    i18n-hintMessage="@@HYT_hint_device_software"
                    hintMessage="Enter the device software version."
                    [form]="form"
                >
                </hyt-input-text>

                <div [ngClass]="(entity.id) ? 'displayNone' : ''" *ngIf="!entity.id">
                    <hyt-input-text 
                        [form]="form" 
                        name="hdevice-password"
                        password="hdevice-passwordConfirm"
                        formControlName="hdevice-password"
                        [isRequired]="!entity.id" [isPassword]="true" i18n-placeholder="@@HYT_password"
                        placeholder="Password"
                        type="password" [injectedErrorMsg]="getError('hdevice-password')"
                        i18n-hintMessage="@@HYT_hint_device_password"
                        hintMessage="Enter the device password."
                        autocomplete="new-password"
                        errorPosition="bottom"
                    >
                    </hyt-input-text>
                    <hyt-input-text 
                        [form]="form" 
                        name="hdevice-passwordConfirm"
                        confirmPassword="hdevice-password"
                        formControlName="hdevice-passwordConfirm"
                        [isRequired]="!entity.id" i18n-placeholder="@@HYT_password_confirm"
                        placeholder="Confirm password"
                        type="password" [injectedErrorMsg]="getError('hdevice-passwordConfirm')"
                        i18n-hintMessage="@@HYT_hint_password_confirm"
                        hintMessage="Confirm device password."
                        autocomplete="new-password"
                    >
                    </hyt-input-text>
                </div>
                <!-- CHANGE PASSWORD FORM-->
                <form *ngIf="entity.id && devicePasswordChangeEnabled" #cpf="ngForm" id="form-password" [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()" (keydown)="keyDownFunction($event)">
                    <!--form id="form-password"-->

                        <div class="row row-field-password">

                            <div class="container-form-field col-12">

                                <hyt-input-text 
                                    [form]="changePasswordForm"
                                    formControlName="oldPassword" 
                                    name="oldPassword" 
                                    [isRequired]="true"
                                    placeholder="Old Password"
                                    [injectedErrorMsg]="getError('hdevice-oldPassword')" 
                                    type="password"
                                    [isPassword]="true"
                                >
                                </hyt-input-text>

                            </div> <!-- Field Old Password -->

                            <div class="container-form-field col-12">

                                <hyt-input-text 
                                    [form]="changePasswordForm" 
                                    formControlName="newPassword"
                                    password="confirmPassword"
                                    name="newPassword"
                                    [isPassword]="true"
                                    type="password"
                                    [isRequired]="true" 
                                    placeholder="New Password"
                                    errorPosition="bottom"
                                >
                                </hyt-input-text>

                            </div> <!-- Field New Password -->

                            <div class="container-form-field col-12">

                                <hyt-input-text
                                    [form]="changePasswordForm"
                                    formControlName="confirmPassword"
                                    name="confirmPassword"
                                    confirmPassword="newPassword"
                                    type="password"
                                    [isRequired]="true" 
                                    placeholder="Confirm password"
                                >
                                </hyt-input-text>

                            </div> <!-- Field Confirm Password -->

                            <div class="container-form-field col-12 btn-form-account">
                                <hyt-button class="mr-3"
                                    id ="change-password-btn" 
                                    type="submit"
                                    [isDisabled]="notValidCpf()"
                                >
                                    <ng-container i18n="@@HYT_change_password">Update password</ng-container>
                                </hyt-button>
                                <hyt-button id ="cancel-change-password-btn" (click)="cancelPasswordChange($event)">
                                    <ng-container i18n="@@HYT_change_password">Cancel</ng-container>
                                </hyt-button>
                            </div> <!-- Container Change Password Button -->

                        </div>

                    </form>
                    <div>
                        <hyt-button [ngClass]="(entity.id && !devicePasswordChangeEnabled) ?  'mr-3':'displayNone' "  id ="enable-change-password-btn" (click)="enablePasswordChange($event)">
                            <ng-container i18n="@@HYT_change_password">Change password</ng-container>
                        </hyt-button>
                    </div>
                <!--    END CHANGE PASSWORD FORM  -->
            </div>
            <div id="fdev-col-desc" class="col-6">

                <hyt-text-area 
                    name="hdevice-description"
                    i18n-placeholder="@@HYT_description"
                    placeholder="Description"
                    [injectedErrorMsg]="getError('hdevice-description')"
                    i18n-hintMessage="@@HYT_hint_device_description"
                    hintMessage="Enter the device description."
                    [form]="form"
                >
                </hyt-text-area>

            </div>

        </div> <!-- Third Row -->

    </form>

    <!-- END SECOND FORM -->

    <!-- 
        TODO: This HTML block is repeated
        across all 'entity' components,
        consider making a component out of it 
    -->

    <div #overlayHeight *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
        
        <div 
            *ngIf="loadingStatus === LoadingStatus.Loading" 
            [ngClass]="getCustomClass()"
        >

            <h4 i18n="@@HYT_loading_data">Loading data...</h4>

        </div> 
        
        <div *ngIf="loadingStatus === LoadingStatus.Error" class="error-overlay d-flex flex-column justify-content-center">
            <h4 i18n="@@HYT_error_occurred">An unexpected error has occurred</h4>

            <hyt-button 
                [color]="'hyt-base-default-white'" 
                (click)="loadingStatus = LoadingStatus.Ready"
            >
                <span i18n="@@HYT_close">Close</span> <span class="icon-hyt_cancelC"></span> 
            </hyt-button>
        </div>

        <h4 *ngIf="loadingStatus === LoadingStatus.Saving" i18n="@@HYT_saving_data">Saving data...</h4>

        <mat-progress-bar 
            *ngIf="loadingStatus === LoadingStatus.Loading || loadingStatus === LoadingStatus.Saving"
            mode="indeterminate"
        ></mat-progress-bar> 

    </div>

</div>
