<div id="fields-step" class="row">

  <div class="col-md-6">

    <hyt-tree-view-editable #treeView *ngIf="currentPacket" [deviceName]="currentPacket.name" [treeData]="packetTree"
      (addFn)="addField($event)" (removeFn)="removeField($event)" (editFn)="editField($event)"
      (cancelFn)="cancelField()">
    </hyt-tree-view-editable>

    <div *ngIf="!currentPacket">
      Select a Packet
    </div>

  </div>

  <div class="col-md-6">
    <div class="container">
      <form class="field-form" [formGroup]="fieldForm" autocomplete="on">

        <div class="container-form-field">
          <hyt-input-text [form]="fieldForm" formControlName="fieldName" name="fieldName" [isRequired]="true"
            i18n-placeholder="@@HYT_name" placeholder="HYT_name" [injectedErrorMsg]="getError('fieldName')"
            [externalHint]="'Enter the field name. Field name...'" (outHint)="updateHint($event)">
          </hyt-input-text>
        </div> <!-- Field Name -->

        <div class="container-form-field">
          <ng-container i18n="@@HYT_level_of_multiplicity">HYT_level_of_multiplicity</ng-container>
          <hyt-radio-button [form]="fieldForm" formControlName="fieldMultiplicity" name="fieldMultiplicity"
            [options]="multiplicityOptions" [verticalAlign]="true">
          </hyt-radio-button>
        </div> <!-- Field Multiplicity -->

        <div class="container-form-field">
          <hyt-select [form]="fieldForm" [options]="typeOptions" formControlName="fieldType" name="fieldType"
            [isRequired]="true" i18n-label="@@HYT_type" label="HYT_type">
          </hyt-select>
        </div> <!-- Field Type -->

        <div class="container-form-field">
          <hyt-text-area [form]="fieldForm" formControlName="fieldDescription" name="fieldDescription"
            i18n-placeholder="@@HYT_description" placeholder="HYT_description"
            [externalHint]="'Enter the field description. (max...)'" (outHint)="updateHint($event)">
          </hyt-text-area>
        </div> <!-- Field Description -->

        <div class="container-form-field errorMessage">
          <ng-container *ngIf="getError('general')">
            {{getError('general')}}
          </ng-container>
        </div> <!-- Error Box -->

        <hyt-button *ngIf="submitType=='ADD'" id="field-form-add-button"
          [isDisabled]="invalid() || pageStatus == PageStatus.Loading" (clickFn)="createField()" type="submit">
          <ng-container i18n="@@HYT_save_field">HYT_save_field</ng-container>
        </hyt-button>

        <hyt-button *ngIf="submitType=='UPDATE'" id="field-form-update-button"
          [isDisabled]="invalid() || pageStatus == PageStatus.Loading" (clickFn)="updateField()" type="submit">
          <ng-container i18n="@@HYT_update_field">HYT_update_field</ng-container>
        </hyt-button>

      </form>

      <div *ngIf="formStatus != 1" class="overlay d-flex flex-column align-items-center justify-content-center">

        <h4 *ngIf="formStatus == 0" i18n="@@HYT_add_select_field_treeview">HYT_add_select_field_treeview</h4>
        <div *ngIf="formStatus == -1" class="d-flex flex-column justify-content-center">
          <h4 i18n="@@HYT_error_occurred_long">HYT_error_occurred_long</h4>
          <!-- An error has occurred -->
        </div>
        <div *ngIf="formStatus == 2">
          <h4 i18n="@@HYT_saving_field">HYT_saving_field</h4>
          <mat-progress-bar mode="query"></mat-progress-bar>
        </div>

      </div>

    </div>
  </div>

</div>

<hyt-modal [mOpen]="deleteModal">
  <div class="center">
    <p i18n="@@HYT_delete_field_confirm">HYT_delete_field_confirm</p>
    <!-- You are about to delete the selected object and its children. Are you sure? -->
    <hr>
    <button (click)="confDelete(true)">
      <ng-container i18n="@@HYT_yes">HYT_yes</ng-container>
    </button>
    <button (click)="confDelete(false)">
      <ng-container i18n="@@HYT_no">HYT_no</ng-container>
    </button>
  </div>
</hyt-modal>