<div id="enrichment-step" class="row">

  <div class="col-md-10">

    <form class="enrichment-form" [formGroup]="enrichmentForm" autocomplete="on">

      <div class="row">
        <div class="col-md-4 container-form-field">
          <hyt-input-text [form]="enrichmentForm" formControlName="rule-name" name="rule-name" [isRequired]="true"
            placeholder="HYT_ruleName" [injectedErrorMsg]="getError('rule-name')">
          </hyt-input-text>
        </div> <!-- Field Name -->
        <div class="col-md-4 container-form-field">
          <hyt-select [form]="enrichmentForm" [options]="enrichmentRules" formControlName="enrichmentRule"
            name="enrichmentRule" [isRequired]="true" label="HYT_enrichmentRule">
          </hyt-select>
        </div> <!-- Field RuleType -->
        <div>
          <hyt-text-area [form]="enrichmentForm" formControlName="rule-description" name="rule-description"
            placeholder="HYT_description">
          </hyt-text-area>
        </div> <!-- Field RuleDescription -->
      </div>

      <div class="row">
        <div class="col-md-6 container-form-field">
          <hyt-select [form]="enrichmentForm" [options]="devicesOptions" (changeFn)="deviceChanged($event)"
            formControlName="enrichmentDevice" name="enrichmentDevice" [isRequired]="true" label="HYT_device">
          </hyt-select>
        </div> <!-- Field Device -->
        <div class="col-md-6 container-form-field">
          <hyt-select [form]="enrichmentForm" [options]="packetsOptions" (changeFn)="packetChanged($event)"
            formControlName="enrichmentPacket" name="enrichmentPacket" [isRequired]="true" label="HYT_packet"
            [disabled]="false">
          </hyt-select>
        </div> <!-- Field Packet -->
      </div>

      <div class="row">
        <div class="col-md-12 container-form-field">
          <hyt-rule-definition #ruleDef *ngIf="true" [hPacket]="currentPacket"
            (ruleDefinition)="updateRuleDefinition($event)">
          </hyt-rule-definition>
        </div> <!-- Field RuleDefinition -->
      </div>

      <div class="container-form-field errorMessage">
        <ng-container *ngIf="getError('general')">
          {{getError('general')}}
        </ng-container>
      </div> <!-- Error Box -->

      <hyt-button id="rule-form-submit-button" [isDisabled]="invalid()" (clickFn)="createRule()" type="submit">
        Add Rule
      </hyt-button>

    </form>

  </div>

  <div class="col-md-2">

    <div class="row">

      <div class="col-md-12">
        ENRICHMENT DATA
        <table>
          <tr>
            <th><b>ID</b></th>
            <th><b>NOME</b></th>
            <th><b>PACKET</b></th>
          </tr>
          <tr *ngFor="let enr of ruleList">
            <td>{{enr.id}}</td>
            <td>{{enr.name}}</td>
            <td>{{enr.packet.id}}</td>
          </tr>
        </table>
      </div>

    </div>

  </div>

</div>

<!-- <button (click)="dati()">chiedi dati</button> -->
