<div id="enrichment-step" class="row">

  <div class="col-md-9">

    <div class="row">

      <div class="col-md-12">

        <hyt-pw-packet-select (currentPacket)="packetChanged($event)" [packetSelectId]="1">
        </hyt-pw-packet-select>

      </div>

      <div class="col-md-12">

        <hyt-packet-enrichment [currentPacket]="currentPacket">
        </hyt-packet-enrichment>

      </div>

    </div>

  </div>

  <div class="col-md-3">
    <hyt-enrichment-tip-column (copyEnrichmentRule)="tableCopyRule($event)"
      (updateEnrichmentRule)="tableUpdateRule($event)" (deleteEnrichmentRule)="showDeleteModal($event)">
    </hyt-enrichment-tip-column>

  </div>

  <hyt-modal [mOpen]="deleteModal">
    <div class="alignCenter">
      <p i18n="@@HYT_delete_enrichment_confirm">HYT_delete_enrichment_confirm</p>
      <hr>
      <button (click)="deleteRule()">
        <ng-container i18n="@@HYT_yes">HYT_yes</ng-container>
      </button>
      <button (click)="hideDeleteModal()">
          <ng-container i18n="@@HYT_no">HYT_no</ng-container>
      </button>
      <br>
      <div *ngIf="deleteError">{{deleteError}}</div>
    </div>
  </hyt-modal>

</div>