<div  id="container-alarm-events-table">
  <table mat-table [dataSource]="alarmEventsList" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef i18n="@@HYT_name"> Name </th>
      <td mat-cell *matCellDef="let eventAlarm"> {{eventAlarm?.event.name}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef i18n="@@HYT_description"> Description </th>
      <td mat-cell *matCellDef="let eventAlarm"> {{eventAlarm?.event.description}}</td>
    </ng-container>
    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef i18n="@@HYT_alarm_event_severity"> Severity </th>
      <td mat-cell *matCellDef="let eventAlarm"> 
                <mat-chip [selectable]="false" [removable]="false"  class="severity-{{eventAlarm?.severity}}" >
                    {{getSeverityLabel(eventAlarm?.severity)}}
                </mat-chip>
     </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef i18n="@@HYT_alarm_event_actions"> Actions </th>
      <td mat-cell *matCellDef="let eventAlarm; let i = index" >
        <span class="hyt-icon icon-hyt_pencil" (click)="editEvent(i)"></span>
          &nbsp;&nbsp;
        <span class="hyt-icon icon-hyt_cancel" (click)="deleteEvent(i)"></span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  
  
