<div id="container-packet-select" class="container">

  <form class="field-form" [formGroup]="selectForm" autocomplete="on">

    <div class="form-group row">

      <div id="ffield-col-sel-dev" class="col-6">

        <hyt-select 
          [form]="selectForm" formControlName="selectDevice" name="selectDevice" [options]="devicesOptions"
          i18n-label="@@HYT_device" label="Devices" (changeFn)="deviceChanged($event)" 
          [sortingAlgorithm]="'A-Z'" [isSortable]="true"
        >
        </hyt-select>

      </div>

      <div id="ffield-col-sel-pack" class="col-6">

        <hyt-select 
          [form]="selectForm" formControlName="selectPacket" name="selectPacket" [options]="packetsOptions"
          i18n-label="@@HYT_packet" label="Packet" (changeFn)="packetChanged($event)" 
          [sortingAlgorithm]="'A-Z'" [isSortable]="true"
        >
        </hyt-select>

      </div>
  
    </div> <!-- First Row -->
  
  </form>

</div>

<hyt-packet-events-form #eventsForm></hyt-packet-events-form>