/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/styles/main";

#bodyMap {
    .blue {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #144b64;
    }

    .blueDark {
        fill: #001a24;
    }

    .Glow {
        fill: #001a24;
        filter: url(#glow);
    }

    .st0 {
        filter: url(#glow);
    }

    .st1 {
        fill: #001a24;
    }

    .st2 {
        opacity: 0;
        fill: none;
    }

    .st3 {
        opacity: 0.6;
        fill: #ea0707;
    }
}

.toastAlarmUp {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiIHdpZHRoPSIxMDI0IiBoZWlnaHQ9IjEwMjQiPjxwYXRoIGZpbGw9InJnYigyNTUsMjU1LDI1NSkiIGQ9Ik01MTIgMjY2Yy0wLjAwMyAwLTAuMDA3IDAtMC4wMTAgMC02LjAyNyAwLTExLjQ4MyAyLjQ0Ni0xNS40MyA2LjR2MGwtMzIwLjE2IDMyMC4zMmMtMy45NTMgMy45NTEtNi4zOTggOS40MS02LjM5OCAxNS40NCAwIDEyLjA1NSA5Ljc3MyAyMS44MjggMjEuODI4IDIxLjgyOCA2LjAyNSAwIDExLjQ4LTIuNDQxIDE1LjQzLTYuMzg4djBsMzA0Ljc0LTMwNC44OCAzMDQuNzQgMzA0Ljg4YzMuOTUgMy45NDcgOS40MDUgNi4zODggMTUuNDMgNi4zODggMTIuMDU1IDAgMjEuODI4LTkuNzczIDIxLjgyOC0yMS44MjggMC02LjAzMC0yLjQ0NS0xMS40ODktNi4zOTgtMTUuNDR2MGwtMzIwLjE2LTMyMC4zMmMtMy45NDYtMy45NTQtOS40MDMtNi40LTE1LjQzLTYuNC0wLjAwNCAwLTAuMDA3IDAtMC4wMTEgMGgwLjAwMXoiLz48L3N2Zz4=);
}

.toastAlarmDown {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiIHdpZHRoPSIxMDI0IiBoZWlnaHQ9IjEwMjQiPjxwYXRoIGZpbGw9InJnYigyNTUsMjU1LDI1NSkiIGQ9Ik04MzIuMTYgMjY2Yy0wLjAwNCAwLTAuMDEwIDAtMC4wMTUgMC02LjAxOSAwLTExLjQ2OCAyLjQ0Ni0xNS40MDQgNi4zOTlsLTMwNC43NDEgMzA0Ljg4MS0zMDQuNzQtMzA0Ljg4Yy0zLjk1LTMuOTQ3LTkuNDA1LTYuMzg4LTE1LjQzLTYuMzg4LTEyLjA1NSAwLTIxLjgyOCA5Ljc3My0yMS44MjggMjEuODI4IDAgNi4wMzAgMi40NDUgMTEuNDg5IDYuMzk4IDE1LjQ0djBsMzIwLjE2IDMyMC4zMmMzLjk1IDMuOTU1IDkuNDA5IDYuNDAyIDE1LjQ0IDYuNDAyczExLjQ5LTIuNDQ3IDE1LjQ0LTYuNDAydjBsMzIwLjE2LTMyMC4zMmMzLjk1LTMuOTUyIDYuMzk0LTkuNDExIDYuMzk0LTE1LjQ0IDAtMTIuMDYwLTkuNzc0LTIxLjgzNi0yMS44MzMtMjEuODR2MHoiLz48L3N2Zz4=);
}

.toastEvent {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiIHdpZHRoPSIxMDI0IiBoZWlnaHQ9IjEwMjQiPjxwYXRoIGZpbGw9InJnYigyNTUsMjU1LDI1NSkiIGQ9Ik04ODAgODYwaC00MHYyMC4zMmMtMC4wMTEgMTAuODcxLTguODI3IDE5LjY4LTE5LjcgMTkuNjggMCAwIDAgMCAwIDBoLTEyMC42Yy0xMC44NzMgMC0xOS42ODktOC44MDktMTkuNy0xOS42Nzl2LTIwLjMyMWgtMzM2djIwLjMyYy0wLjAxMSAxMC44NzEtOC44MjcgMTkuNjgtMTkuNyAxOS42OCAwIDAgMCAwIDAgMGgtMTIwLjZjLTEwLjg3MyAwLTE5LjY4OS04LjgwOS0xOS43LTE5LjY3OXYtMjAuMzIxaC00MGMtMzUuMzQ2IDAtNjQtMjguNjU0LTY0LTY0djAtNzM1LjM4YzAtMzUuMzQ2IDI4LjY1NC02NCA2NC02NHYwaDM2OGM4LjgzNyAwIDE2IDcuMTYzIDE2IDE2cy03LjE2MyAxNi0xNiAxNnYwaC0zNjhjLTE3LjY3MyAwLTMyIDE0LjMyNy0zMiAzMnYwIDU5OS41Nmg4MDB2LTI5NS43OGMwLTguODM3IDcuMTYzLTE2IDE2LTE2czE2IDcuMTYzIDE2IDE2djAgNDMxLjZjMCAzNS4zNDYtMjguNjU0IDY0LTY0IDY0djB6TTcxMiA4NjhoOTZ2LTk2aC05NnpNMjE2IDg2OGg5NnYtOTZoLTk2ek0xMTIgNjkyLjE2djEwMy44NGMwIDE3LjY3MyAxNC4zMjcgMzIgMzIgMzJ2MGg0MHYtNjguMmMwLjAxMS0xMC44NzEgOC44MjctMTkuNjggMTkuNy0xOS42OCAwIDAgMCAwIDAgMGgxMjAuNmMxMC44NzMgMCAxOS42ODkgOC44MDkgMTkuNyAxOS42Nzl2NjguMjAxaDMzNnYtNjguMmMwLjAxMS0xMC44NzEgOC44MjctMTkuNjggMTkuNy0xOS42OCAwIDAgMCAwIDAgMGgxMjAuNmMxMC44NzMgMCAxOS42ODkgOC44MDkgMTkuNyAxOS42Nzl2NjguMjAxaDQwYzE3LjY3MyAwIDMyLTE0LjMyNyAzMi0zMnYwLTEwNHpNOTAzLjA2MCAyMjZoLTQ0LjU4Yy0xNy42NCAwLTM3LjcgMTQuNzgtNDIuOTIgMzEuNjRsLTE1IDQ4LjU0Yy03LjQgMjQtMTkuNjIgMjguOTgtMjguNTYgMjguOThzLTIxLjE2LTUuMDQwLTI4LjU2LTI4Ljk4bC0xNS00OC41NGMtNS4yMi0xNi44Ni0yNS4yOC0zMS42NC00Mi45Mi0zMS42NGgtNDQuNThjLTI2LjEyIDAtMzQtMTEuODItMzYuNC0xOC44OHMtMy4zLTIxLjEyIDE3LjQ2LTM3LjEybDM3LjM2LTI4LjVjMTQuMy0xMC45MiAyMi4xOC0zNS41NiAxNi44Ni01Mi43NGwtMTUuMDIwLTQ4LjU2Yy03LjM2LTIzLjg0LTAuMTItMzQuOTggNy4yNi00MC4xMnMyMC4zNC04LjEgNDAuMTggNy4wNjBsMzcuMzYgMjguNmMxMy44NiAxMC41NiAzOC4xNCAxMC41NiA1MiAwbDM3LjM2LTI4LjUyYzEwLjk2LTguMzggMTkuODItMTEuMjIgMjYuODItMTEuMjIgMC4wNTMgMCAwLjExNi0wLjAwMSAwLjE3OS0wLjAwMSA0LjkzNiAwIDkuNTA5IDEuNTU4IDEzLjI1MyA0LjIwOWwtMC4wNzItMC4wNDhjNy4zOCA1LjE0IDE0LjYyIDE2LjI4IDcuMjYgNDAuMTJsLTE1LjAyMCA0OC41NmMtNS4zMiAxNy4xOCAyLjU2IDQxLjgyIDE2Ljg2IDUyLjc0bDM3LjM2IDI4LjQyYzIwLjc2IDE1Ljg2IDE5Ljg2IDMwIDE3LjQ2IDM3LjA4MHMtMTAuMjggMTguOTItMzYuNCAxOC45MnpNODY1LjIyIDE2Ni45NGMtMjUtMTkuMDgwLTM3LjMtNTcuNTYtMjgtODcuNThsMTMuNS00My42Ni0zMy4yOCAyNS40Yy0yNS40NiAxOS40NC02NS4zOCAxOS40NC05MC44NCAwbC0zMy4yOC0yNS40IDEzLjUgNDMuNjZjOS4yOCAzMC0zLjAyMCA2OC41LTI4IDg3LjU4bC0zNS41MiAyNy4wNjBoNDIuMjJjMzEuODIgMCA2NC4xIDIzLjggNzMuNDggNTQuMThsMTMgNDIgMTMtNDJjOS4zOC0zMC4zOCA0MS42Ni01NC4xOCA3My40OC01NC4xOGg0Mi4yMnpNNjU2IDMyNC40MnYxMTJoMTEyYzguODM3IDAgMTYgNy4xNjMgMTYgMTZ2MCAxMjhjMCA4LjgzNy03LjE2MyAxNi0xNiAxNnYwaC01MTJjLTguODM3IDAtMTYtNy4xNjMtMTYtMTZ2MC0zODMuOWMwLTguODM3IDcuMTYzLTE2IDE2LTE2djBoMjU2YzguODM3IDAgMTYgNy4xNjMgMTYgMTZ2MCAxMTJoMTEyYzAgMCAwIDAgMCAwIDguODAxIDAgMTUuOTQzIDcuMTA3IDE2IDE1Ljg5NXYwLjAwNXpNNjU2IDU2NC4yNGg5NnYtOTZoLTk2ek0zNjggMjEyLjVoLTk2djk2aDk2ek0zNjggMzQwLjVoLTk2djk2aDk2ek0zNjggNDY4LjVoLTk2djk2aDk2ek00OTYgMjEyLjY4aC05NnY5Nmg5NnpNNDk2IDM0MC42OGgtOTZ2OTZoOTZ6TTQ5NiA0NjguNjhoLTk2djk2aDk2ek02MjQgMzQwLjY4aC05NnY5Nmg5NnpNNjI0IDQ2OC42OGgtOTZ2OTZoOTZ6Ii8+PC9zdmc+);
}

.cdk-overlay-container .hyt-header-tooltip {
    font-size: 0.8rem;
    background-color: #266dca;
}

.hyt-card-wrapper {
    width: 100%;
    margin: 1rem 2rem;

    .hyt-card-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill,225px);
        justify-content: space-evenly;
        gap: 32px;
    }

}
  
/* DEFAULT DIALOG STYLE. It can be overridden at the component level if necessary. */
.hyt-dialog-container {
    display: block;
    width: 100%;

    background-color: #fff;
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
        0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    overflow-y: auto;
}

.hyt-dialog {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hyt-dialog-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-bottom: 1px solid #e9ecef;
    color: white;
    background-color: #225a95;
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 1.4rem;
}
.hyt-dialog-header-align-start {
    justify-content: flex-start;
}
.hyt-dialog-header-align-end {
    justify-content: flex-end;
}

.hyt-dialog-content {
    overflow-y: auto;
    flex-grow: 1;
    padding: 1em;
    padding-bottom: 2em;
}

.hyt-dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.6em;
    flex-shrink: 0;
    border-top: 1px solid #e9ecef;
    color: #212529;
    padding: 0.6rem;
}
.hyt-dialog-footer-align-start {
    justify-content: flex-start;
}
.hyt-dialog-footer-align-center {
    justify-content: center;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

pre.hyt-code {
    background-color: #e7e7e7;
    padding: 12px;
    border-radius: 8px;
}
.smaller-select{
    .mat-form-field-wrapper, .mat-form-field-appearance-legacy .mat-form-field-wrapper{
        padding-bottom: 0;
    }
    .mat-form-field-underline {
        bottom: 0;
    }
}
.hyt-overlay-container{
    padding: 0.4em 1em 0.75em;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

    h3 {
        text-align: center;
        padding: 0.5em 1em;
        line-height: 90%;
        line-height: 1.2em;
    }

    .overlay-badge {
        height: 32px;
        background: $overlay-blu;
        color: #fff;
        border-radius: 6px;
    }

    .header-overlay {
        display: flex;
        justify-content: space-between;
        transform: translateY(-18px);

        .close-overlay {
            cursor: pointer;
            transition: .3s ease-in-out;
            box-shadow: 0 0 6px -1px #fff;
            transition: .3s ease-in-out;

            &:hover {
                filter: brightness(0.9);
                transform: scale(1.05);
            }
        }

        .title-badge {
            font-weight: 600;
            text-align: center;
            padding: 8px 1em;
            min-width: 100px;
            line-height: 16px;
            box-shadow: 2px 2px 0px 1px #041a2d;

            &.overlay-badge-error {
                background: $hyt-error ;
                box-shadow: 2px 2px 0px 1px #b6291f;
            }

            &.overlay-badge-success {
                background: $hyt-success ;
                box-shadow: 2px 2px 0px 1px #266f29;
            }

            &.overlay-badge-userAlreadyExist {
                background:  #f4c536;
                color: #313131;
                box-shadow: 2px 2px 0px 1px #f4c536;
            }
        }
    }
}