<div id="topology-toolbar">

    <div class="recording {{(recordStateInLoading)?'inLoading':''}} {{(dataRecordingIsOn)?'on':'off'}}">

        <div id="play-pause-btn" (click)="openRecordingActionModal()" class="{{(dataRecordingIsOn)?'animation-rec-on':'animation-rec-off'}}">
            <span  class="hyt-icon icon-hyt_off"></span>
            <p>{{(dataRecordingIsOn)?'Stop':'Run'}}</p>
        </div>

        <div id="reload-btn" *ngIf="dataRecordingIsOn" (click)="openReloadRecordingModal()">
            <span class="hyt-icon icon-hyt_reload {{(!recordReloading)?'notReloading':''}}"></span>
            <p>Reload</p>
        </div>

    </div>

</div>
