#topology-toolbar {
    float: left;
    width: auto;
    height: auto;
    .recording {

        &.inLoading {

            span,
            p {
                color: #cccccc !important;
            }

            #reload-btn ,
            #play-pause-btn {
                cursor: default;
            }

        }

        #reload-btn,
        #play-pause-btn {
            float: left;
            margin: 0.3em 0.3em 0.3em 0.3em;
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
            width: 4em;
            height: 3.2em;

            &:hover {
                color: #008aff;
            }

            span {
                font-size: 2.3em;
                display: block;

                &.icon-hyt_reload {
                    font-size: 1.7em;
                    margin-bottom: 5px;
                    margin-top: 5px;
                }

                &.icon-hyt_off {
                    font-size: 2em;
                    margin-bottom: 2px;
                    margin-top: 2px;
                }

                &.notReloading {
                    animation-duration: 1s;
                    animation-name: recording;
                    animation-iteration-count: 1;
                }

            }

            p {
                margin-bottom: 0;
                margin-top: -5px;
                font-size: .8em;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

        }

        &:not(.inLoading) {

            #reload-btn,
            #play-pause-btn {

                &.animation-rec-on {

                    .hyt-icon {
                        animation-duration: 1s;
                        animation-name: recOn;
                        animation-iteration-count: infinite;
                    }
    
                }
    
                &.animation-rec-off {
                    color: red;
                }
    
            }

        }

    }

}


@keyframes recording {

    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }

}

@keyframes recOn {

    0% {
        color: #009700;
    }
    
    50% {
        color: #00c900;
    }

    100% {
        color: #009700;
    }

}
