<h2>Device</h2>

<div class="container">

    <form [formGroup]="form">

        <div class="d-flex flex-column flex-md-row flex-wrap">

            <div class="pr-md-3 flex-fill">
                <hyt-input-text name="name" placeholder="Name"
                    [form]="form"
                    formControlName="name"
                    errorPosition="bottom"
                    minlength="3"
                    isRequired="true">
                </hyt-input-text>
            </div>
            <div class="pl-md-3 flex-fill">
                <hyt-input-text name="brand" placeholder="Brand"
                    [form]="form"
                    formControlName="brand"></hyt-input-text>
            </div>

        </div>


        <div class="d-flex flex-column flex-md-row flex-wrap">

            <div class="pr-md-3 flex-fill">
                <hyt-input-text name="model" placeholder="Model"
                    [form]="form"
                    formControlName="model"></hyt-input-text>
            </div>
            <div class="pl-md-3 flex-fill">
                <hyt-input-text name="software" placeholder="Software version"
                    [form]="form"
                    formControlName="software"></hyt-input-text>
            </div>

        </div>

        <div class="d-flex flex-column flex-md-row flex-wrap">

            <div class="pr-md-3 flex-fill">
                <hyt-input-text name="firmware" placeholder="Firmware version"
                    [form]="form"
                    formControlName="firmware"></hyt-input-text>
            </div>
            <div class="pl-md-3 flex-fill">
                <hyt-text-area name="description" placeholder="Description"
                    [form]="form"
                    formControlName="description"></hyt-text-area>
            </div>

        </div>

        <div class="mt-4 d-flex flex-row justify-content-around">
            <hyt-button (clickFn)="onSaveClick()" [isDisabled]="!form.valid || !isDirty()">
                <mat-icon class="md-primary">save</mat-icon>
                <span>Save</span>
            </hyt-button>
            <hyt-button (clickFn)="onDeleteClick()">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </hyt-button>
        </div>

    </form>

    <div *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
        <h4 *ngIf="loadingStatus === LoadingStatus.Loading">Loading device data...</h4>
        <h4 *ngIf="loadingStatus === LoadingStatus.Error">Error loading device data.</h4>
    </div>

</div>
