<h2>Device</h2>

<div class="container">

    <form [formGroup]="form" #formReference>

        <div class="d-flex flex-column flex-md-row flex-wrap">

            <div class="pr-md-3 flex-fill">
                <hyt-input-text name="hdevice-devicename"
                    [form]="form"
                    errorPosition="bottom"
                    placeholder="Name"
                    minlength="3"
                    patternz="[A-Za-z0-9_-]*"
                    [injectedErrorMsg]="getError('hdevice-devicename')"
                    isRequired="true">
                </hyt-input-text>
            </div>
            <div class="pl-md-3 flex-fill">
                <hyt-input-text name="hdevice-brand"
                    placeholder="Brand"
                    [form]="form"></hyt-input-text>
            </div>

        </div>


        <div class="d-flex flex-column flex-md-row flex-wrap">

            <div class="pr-md-3 flex-fill">
                <hyt-input-text name="hdevice-model"
                    placeholder="Model"
                    [form]="form"></hyt-input-text>
            </div>
            <div class="pl-md-3 flex-fill">
                <hyt-input-text name="hdevice-softwareversion"
                    placeholder="Software version"
                    [form]="form"></hyt-input-text>
            </div>

        </div>

        <div class="d-flex flex-column flex-md-row flex-wrap">

            <div class="pr-md-3 flex-fill">
                <hyt-input-text name="hdevice-firmwareversion"
                    placeholder="Firmware version"
                    [form]="form"></hyt-input-text>
            </div>
            <div class="pl-md-3 flex-fill">
                <hyt-text-area name="hdevice-description"
                    placeholder="Description"
                    [form]="form"></hyt-text-area>
            </div>

        </div>

    </form>

    <div *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
        <h4 *ngIf="loadingStatus === LoadingStatus.Loading">Loading device data...</h4>
        <div *ngIf="loadingStatus === LoadingStatus.Error" class="d-flex flex-column justify-content-center">
            <h4>An error has occurred =/</h4>
            <button mat-stroked-button (click)="loadingStatus = LoadingStatus.Ready">
                <span>Close</span>
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <h4 *ngIf="loadingStatus === LoadingStatus.Saving">Saving device data...</h4>
    </div>

</div>
