#container-packet-form {

    &.container {
        position: relative;
        padding-top: 20px;

        p {

            &.subtitle-section {
    
                font-size: .9em;
                font-style: italic;
                line-height: 25px;
                margin-bottom: 30px;
    
            }
    
        }
    }

    form {
        .form-group {
            &.row {
                #fpack-col-type,
                #fpack-col-format,
                #fpack-col-serial,
                #fpack-col-tfield,
                #fpack-col-tformat,
                #fpack-col-mqtt-url,
                #fpack-col-mqtt-topic {
                    padding-top: 15px;
                }

                hyt-input-text {

                    mat-form-field {

                        font-family: 'Exo';

                    }

                }

                hyt-select {

                    mat-form-field {

                        width: 100%;

                        mat-select {

                            font-family: 'Exo';

                        }

                    }

                }

                hyt-radio-button {

                    mat-radio-group {

                        mat-radio-button {

                            &.mat-radio-button {

                                font-family: 'Exo';

                                .mat-radio-label-content {

                                    line-height: 27px;

                                }

                            }

                        }

                    }

                }

            }

            label {

                &.f-label {
                    font-size: 12px;
                    color: grey;
                    font-weight: 400;
                }
                
            }

            .radio-options {
                border: lightgray solid 1px;
                border-radius: 4px;
                padding-top: 9px;
            }

        }
    }

    .overlay {
        position: absolute;
        background-color: rgba(255,255,255,.75);
        left: 0; top: 0; right: 0; bottom: 0;

        .loading-logo {
            height: 63%;
            position: relative;
            // top: -30px;
            text-align: center;
            display: flex;
            align-items: flex-end;

            background-image: url('~/assets/images/hyperiot_logo_single_char.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;

            img {
                height: 100%;
                margin-bottom: 5px;
                max-height: 178px;
                width: auto;
                // animation-name: pulses;
                // animation-duration: 1.5s;
                // animation-iteration-count: infinite;
            }
            
            h4 {
                text-align: center;
            }
        }

        mat-progress-bar {
            max-width: 200px;
            margin: 8px;
        }
    }
    

}

mat-option {

    &.mat-option {

        font-family: 'Exo';

    } 

}







