<div class="container">

    <form [formGroup]="form">

        <div class="d-flex flex-column flex-md-row flex-wrap">
            <div class="pr-md-3 flex-fill">

                <hyt-input-text name="hpacket-name" i18n-placeholder="@@HYT_name" placeholder="HYT_name" [form]="form"
                    [injectedErrorMsg]="getError('hpacket-name')"
                    i18n-hintMessage="@@HYT_hint_packet_name"
                    hintMessage="HYT_hint_packet_name"
                    errorPosition="bottom" minlength="3" isRequired="true">
                </hyt-input-text>

            </div>
            <div class="pl-md-3 flex-fill">

                <div>
                    <hyt-select [form]="form" i18n-label="@@HYT_traffic_plan" label="HYT_traffic_plan" name="hpacket-trafficplan"
                        [injectedErrorMsg]="getError('hpacket-trafficplan')"
                        i18n-hintMessage="@@HYT_hint_packet_traffic_plan"
                        hintMessage="HYT_hint_packet_traffic_plan"
                        isRequired="true" [options]="trafficPlanOptions"></hyt-select>
                </div>

            </div>
        </div>

        <div class="d-flex flex-column flex-md-row flex-wrap">
            <div class="pr-md-3 flex-fill">

                <label i18n="@@HYT_type">HYT_type</label>
                <div class="radio-options pl-2 pr-2">
                    <hyt-radio-button [form]="form" name="hpacket-type" [options]="typeOptions"
                        [injectedErrorMsg]="getError('hpacket-type')"
                        i18n-hintMessage="@@HYT_hint_packet_type"
                        hintMessage="HYT_hint_packet_type">
                    </hyt-radio-button>
                </div>

            </div>
            <div class="pl-md-3 flex-fill">

                <label i18n="@@HYT_format">HYT_format</label>
                <div class="radio-options pl-2 pr-2">
                    <hyt-radio-button [form]="form" [injectedErrorMsg]="getError('hpacket-format')"
                        name="hpacket-format" [options]="formatOptions">
                    </hyt-radio-button>
                </div>

            </div>
        </div>

        <div class="d-flex flex-column flex-md-row flex-wrap">
            <div class="pr-md-3 flex-fill">

                <label i18n="@@HYT_serialization">HYT_serialization</label>
                <div class="radio-options pl-2 pr-2">
                    <hyt-radio-button [form]="form" name="hpacket-serialization" [options]="serializationOptions"
                        [injectedErrorMsg]="getError('hpacket-serialization')">
                    </hyt-radio-button>
                </div>

            </div>
            <div class="pl-md-3 flex-fill">

            </div>
        </div>

        <div class="mt-4 d-flex flex-column flex-md-row flex-wrap">

            <div class="pr-md-3 flex-fill">

                <hyt-input-text i18n-placeholder="@@HYT_timestamp_field" placeholder="HYT_timestamp_field" [form]="form" name="hpacket-timestampfield"
                    [injectedErrorMsg]="getError('hpacket-timestampfield')"
                    i18n-hintMessage="@@HYT_hint_packet_timestamp_field"
                    hintMessage="HYT_hint_packet_timestamp_field"
                    errorPosition="bottom" minlength="1"
                    isRequired="true">
                </hyt-input-text>

            </div>
            <div class="pl-md-3 flex-fill">

                <hyt-input-text i18n-placeholder="@@HYT_timestamp_format" placeholder="HYT_timestamp_format" [form]="form" name="hpacket-timestampformat"
                    [injectedErrorMsg]="getError('hpacket-timestampformat')"
                    i18n-hintMessage="@@HYT_hint_packet_enter_timestamp_format"
                    hintMessage="HYT_hint_packet_enter_timestamp_format"
                    errorPosition="bottom"
                    minlength="3" isRequired="true">
                </hyt-input-text>

            </div>

        </div>

        <div *ngIf="mqttUrl" class="mt-4 d-flex flex-column flex-md-row flex-wrap">
            <div class="pr-md-3 flex-fill">
                <hyt-input-text
                    i18n-placeholder="@@HYT_mqtt_url"
                    placeholder="HYT_mqtt_url"
                    name="hpacket-mqttUrl"
                    disabled="true"
                    [fieldValue]="mqttUrl">
                </hyt-input-text>
            </div>
        </div>
        <div *ngIf="mqttTopic" class="mt-4 d-flex flex-column flex-md-row flex-wrap">
            <div class="pr-md-3 flex-fill">
                <hyt-input-text
                    i18n-placeholder="@@HYT_mqtt_topic"
                    placeholder="HYT_mqtt_topic"
                    name="hpacket-mqttTopic"
                    disabled="true"
                    [fieldValue]="mqttTopic">
                </hyt-input-text>
            </div>
        </div>

    </form>

    <!-- TODO: This HTML block is repeated
               across all 'entity' components,
               consider making a component out of it -->
    <div *ngIf="loadingStatus !== LoadingStatus.Ready"
        class="overlay d-flex flex-column align-items-center justify-content-center">
        <h4 *ngIf="loadingStatus === LoadingStatus.Loading" i18n="@@HYT_loading_data">HYT_loading_data</h4>
        <div *ngIf="loadingStatus === LoadingStatus.Error" class="d-flex flex-column justify-content-center">
            <h4 i18n="@@HYT_error_occurred">HYT_error_occurred</h4>
            <button mat-stroked-button (click)="loadingStatus = LoadingStatus.Ready">
                <span i18n="@@HYT_close">HYT_close</span>
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <h4 *ngIf="loadingStatus === LoadingStatus.Saving" i18n="@@HYT_saving_data">HYT_saving_data</h4>
        <mat-progress-bar *ngIf="loadingStatus === LoadingStatus.Loading || loadingStatus === LoadingStatus.Saving"
            mode="query"></mat-progress-bar>
    </div>

</div>