.flex-fill {
    min-width: 50%;
}

:host ::ng-deep .mat-radio-label-content {
    font-size: 12px;
    font-weight: 400;
    padding-left: 4px;
}

:host ::ng-deep .mat-radio-checked .mat-radio-label-content {
    font-weight: 600;
}

label {
    font-size: 12px;
    color: grey;
    font-weight: 400;
}

.radio-options {
    border: lightgray solid 1px;
    border-radius: 4px;
    padding-top: 9px;
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    background-color: rgba(255,255,255,.75);
    left: 0; top: 0; right: 0; bottom: 0;
}

mat-progress-bar {
    max-width: 200px;
    margin: 8px;
}
