<div id="container-packet-form" class="container">

    <!-- <p class="subtitle-section">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum magna lacus, a lacinia orci feugiat non. Quisque pharetra quam vitae pharetra euismod. Curabitur sodales eget elit id aliquam. In hac habitasse platea dictumst. Nam in dignissim leo. Pellentesque in lorem at justo mollis volutpat. Nam rutrum, orci vel fermentum semper, felis ante dictum nisl, vitae ultricies lectus ante iaculis nibh. Donec facilisis sagittis ligula, ut consequat elit facilisis non. Nam non enim magna. Mauris euismod velit sit amet porta fermentum.
    </p> ONLY FOR PROJECT DETAIL -->

    <form [formGroup]="form" [ngClass]="{'blurred': loadingStatus !== LoadingStatus.Ready}">

        <div class="form-group row">

            <div id="fpack-col-name" class="col-6">

                <hyt-input-text 
                    name="hpacket-name" i18n-placeholder="@@HYT_name" placeholder="Name" [form]="form"
                    [injectedErrorMsg]="getError('hpacket-name')"
                    i18n-hintMessage="@@HYT_hint_packet_name"
                    hintMessage="Enter the packet name."
                    errorPosition="bottom" minlength="3" isRequired="true"
                >
                </hyt-input-text>

            </div>
            <div id="fpack-col-plan" class="col-6">

                <hyt-select 
                    [form]="form" i18n-label="@@HYT_traffic_plan" label="Traffic plan" name="hpacket-trafficplan"
                    [injectedErrorMsg]="getError('hpacket-trafficplan')"
                    i18n-hintMessage="@@HYT_hint_packet_traffic_plan"
                    hintMessage="Select traffic plan."
                    isRequired="true" [options]="trafficPlanOptions"
                ></hyt-select>

            </div>

        </div> <!-- First Row -->

        <div class="form-group row">

            <div id="fpack-col-type" class="col-6">

                <label class="f-label" i18n="@@HYT_type">Type</label>
                
                <div class="radio-options pl-2 pr-2">
                    <hyt-radio-button 
                        [form]="form" name="hpacket-type" [options]="typeOptions"
                        [injectedErrorMsg]="getError('hpacket-type')"
                        i18n-hintMessage="@@HYT_hint_packet_type"
                        hintMessage="Set the packet type." (changeFn)="hpacketTypeChange($event)"
                    >
                    </hyt-radio-button>
                </div>

            </div>
            <div id="fpack-col-format" class="col-6">

                <label class="f-label" i18n="@@HYT_format">Format</label>

                <div class="radio-options pl-2 pr-2">
                    <hyt-radio-button [form]="form" [injectedErrorMsg]="getError('hpacket-format')"
                        name="hpacket-format" [options]="formatOptions">
                    </hyt-radio-button>
                </div>

            </div>

        </div> <!-- Second Row -->

        <div class="form-group row">

            <div id="fpack-col-serial" class="col-6">
                
                <label class="f-label" i18n="@@HYT_serialization">Serialization</label>

                <div class="radio-options pl-2 pr-2">
                    <hyt-radio-button 
                        [form]="form" name="hpacket-serialization" [options]="serializationOptions"
                        [injectedErrorMsg]="getError('hpacket-serialization')" (changeFn)="serializationChanged($event)"
                    >
                    </hyt-radio-button>
                </div>

            </div>

        </div> <!-- Third Row -->

        <div class="form-group row d-flex align-items-center">

            <div id="fpack-col-tfield" class="col-2">

                <hyt-input-text 
                    i18n-placeholder="@@HYT_timestamp_field" placeholder="Timestamp field" [form]="form" name="hpacket-timestampfield"
                    [injectedErrorMsg]="getError('hpacket-timestampfield')"
                    i18n-hintMessage="@@HYT_hint_packet_timestamp_field"
                    hintMessage="Enter the timestamp field name."
                    errorPosition="bottom" minlength="1"
                    isRequired="true"
                >
                </hyt-input-text>

            </div>

            <div id="fpack-col-ttype" class="col-4">
            
                <label class="f-label" i18n="@@HYT_timestamp_type">Timestamp Type</label>

                <div class="radio-options pl-2 pr-2">
                    <hyt-radio-button 
                        [form]="form" name="hpacket-unixTimestamp" [options]="timestampTypeOptions"
                        [injectedErrorMsg]="getError('hpacket-unixTimestamp')"
                    >
                    </hyt-radio-button>
                </div>

            </div>

            <div id="fpack-col-tformat" class="col-6">

                <div [style.display]="form.get('hpacket-unixTimestamp').value == 'false'?'block':'none'">
                    <hyt-input-text 
                    i18n-placeholder="@@HYT_timestamp_format" placeholder="Timestamp format" [form]="form" name="hpacket-timestampformat"
                    [injectedErrorMsg]="getError('hpacket-timestampformat')"
                    i18n-hintMessage="@@HYT_hint_packet_enter_timestamp_format"
                    hintMessage="Enter the timestamp field format: eg. 'dd/MM/yyyy HH.mmZ'."
                    errorPosition="bottom"
                    minlength="3" isRequired="true"
                    >
                    </hyt-input-text>
                </div>
                 <div [style.display]="form.get('hpacket-unixTimestamp').value == 'true'?'block':'none'">
                    <label class="f-label" i18n="@@HYT_unix_timestamp_format">Unix Timestamp Format</label>
 
                    <div class="radio-options pl-2 pr-2">
                        <hyt-radio-button 
                            [form]="form" name="hpacket-unixTimestampFormatSeconds" [options]="unixTimestampOptions"
                            [injectedErrorMsg]="getError('hpacket-unixTimestampFormatSeconds')"
                        >
                        </hyt-radio-button>
                    </div>
                </div>
             </div>

        </div> <!-- Fourth Row -->

        <div *ngIf="mqttUrl && (mqttTopic || mqttReadTopic)" class="form-group row">

            <div id="fpack-col-mqtt-url" class="col-6">

                <hyt-input-text
                    i18n-placeholder="@@HYT_mqtt_url"
                    placeholder="MQTT Url"
                    name="hpacket-mqttUrl"
                    disabled="true"
                    [fieldValue]="mqttUrl"
                >
                </hyt-input-text>

            </div>
            <div *ngIf="mqttTopic" id="fpack-col-mqtt-topic" class="col-6">

                <hyt-input-text
                    i18n-placeholder="@@HYT_mqtt_topic"
                    placeholder="MQTT Streaming Topic"
                    name="hpacket-mqttTopic"
                    disabled="true"
                    [fieldValue]="mqttTopic"
                >
                </hyt-input-text>

            </div>

            <div *ngIf="mqttReadTopic" id="fpack-col-mqtt-topic"  [ngClass]="mqttTopic != null ? 'col-6 offset-6':'col-6'" >

                <hyt-input-text
                    i18n-placeholder="@@HYT_mqtt_read_topic"
                    placeholder="MQTT Read Topic"
                    name="hpacket-mqttReadTopic"
                    disabled="true"
                    [fieldValue]="mqttReadTopic"
                >
                </hyt-input-text>

            </div>

        </div>

    </form>

    <!-- 
        TODO: This HTML block is repeated
        across all 'entity' components,
        consider making a component out of it 
    -->

    <div #overlayHeight *ngIf="loadingStatus !== LoadingStatus.Ready" class="overlay d-flex flex-column align-items-center justify-content-center">
        
        <div 
            *ngIf="loadingStatus === LoadingStatus.Loading" 
            [ngClass]="getCustomClass()"
        >

            <h4 i18n="@@HYT_loading_data">Loading data...</h4>

        </div> 
        
        <div *ngIf="loadingStatus === LoadingStatus.Error" class="error-overlay d-flex flex-column justify-content-center">
            <h4 i18n="@@HYT_error_occurred">An unexpected error has occurred</h4>

            <hyt-button 
                [color]="'hyt-base-default-white'" 
                (click)="loadingStatus = LoadingStatus.Ready"
            >
                <span i18n="@@HYT_close">Close</span> <span class="icon-hyt_cancelC"></span> 
            </hyt-button>
        </div> 

        <h4 *ngIf="loadingStatus === LoadingStatus.Saving" i18n="@@HYT_saving_data">Saving data...</h4>

        <mat-progress-bar 
            *ngIf="loadingStatus === LoadingStatus.Loading || loadingStatus === LoadingStatus.Saving"
            mode="indeterminate"
        ></mat-progress-bar> 

    </div>

</div>