<div id="wiz-report-modal" class="dialog">

    <div class="header-box">
        <ng-container i18n="@@HYT_congratulations">Congratulations</ng-container>
    </div> <!-- END HEADER BOX -->

    <div class="container-resume">

        <div class="sub-header">
            <p i18n="@@HYT_pw_finsh">You have finished to configure your algorithm</p>
        </div> <!-- END SUB HEADER -->

        <div id="exagon-box">
            <hyt-hexagon id="ex-box" iconPath="icon-hyt_statistics" (clicked)="goToAlgorithmsWizard()">
            </hyt-hexagon>
            <!-- <p class="title-icon" i18n="@@HYT_go_to_project_list">Go to algorithms list</p> -->
            <!-- <br>
            <p class="body-icon" i18n="@@HYT_go_to_project_list_long">Go to algorithms list definition. </p> -->
            <hyt-button 
                [color]="'hyt-base-total-green'"
                (click)="goToAlgorithmsWizard()"
                id="btn-go-to-alg"
            > 
                <ng-container i18n="@@HYT_go_to_project_list_long">Go to algorithms list definition.</ng-container>
            </hyt-button>
    </div> <!-- END CONTAINER RESUME -->

</div>