#wiz-report-modal {

    display: flex;
    flex-direction: column;
    height: 80%;
    overflow: auto;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  
    &.dialog {
      overflow: hidden;
      background: white;
      border: solid 1px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow-y: auto;

      -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
      -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
    
      .header-box {
    
        background-color: #70b800;
        padding: 10px 5px;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        color: white;
    
      }
    
      .container-resume {
    
        padding: 20px;
        display: flex;
        flex-direction: column;

        .sub-header {
    
          font-size: 1.1em;
          font-weight: bold;
          padding-bottom: 20px;
          text-align: center;
      
        }
  
        #exagon-box {

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          #ex-box,
          #btn-go-to-alg {

            cursor: pointer;
  
          }

          #btn-go-to-alg {

              margin: 15px 0px;

          }

        }
    
      }
    
    }

}

.center {
  text-align: center;
}

.white-font {
  color: white;
}

.img-size {
  width:70px;
}
