#wiz-report-modal {
    
  .header-box {

    background-color: #70b800;

  }

  .container-resume {

    padding: 20px;
    display: flex;
    flex-direction: column;

    .sub-header {

      font-size: 1.1em;
      font-weight: bold;
      padding-bottom: 20px;
      text-align: center;
  
    }

    #exagon-box {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      #ex-box,
      #btn-go-to-alg {

        cursor: pointer;

      }

      #btn-go-to-alg {

          margin: 15px 0px;

      }

    }

  }
    
}

.center {
  text-align: center;
}

.white-font {
  color: white;
}

.img-size {
  width:70px;
}
