<div *ngIf="rules && rules.length > 0" class="d-flex flex-row justify-content-start align-items-stretch">
    <header class="flex-fill">
        Enrichments Data
    </header>
</div>
<div *ngFor="let r of rules" class="item d-flex flex-row justify-content-start align-items-stretch" (click)="onRuleClick(r)">
    <div class="icon d-flex flex-column justify-content-center align-items-center">
        <mat-icon>double_arrow</mat-icon>
    </div>
    <div class="row-content" class="flex-fill">
        <div class="row-fields d-flex flex-column justify-content-start align-items-stretch">
            <div class="field-name truncate">{{r.name}}</div>
            <div class="field-description truncate">{{r.description}}</div>
        </div>
    </div>
</div>
