#container-project-wizard {

  padding: 15px;

  .header {
    border-bottom: 1px solid #008aff;
    min-height: 50px;

    .breadcrumb {
      font-weight: 400;
      font-size: 1.2em;
      line-height: 48px;
      vertical-align: middle;

      span {

        &.icon-hyt_projectSolo {
          font-size: 1.8em;
          vertical-align: middle;
          margin-right: 3px;
          color: #bec3c7;        }

      }

      a {
        color: #000000;
      }

    }

  }

  #container-steps {
    margin-top: 40px;

    .center {
      text-align: center;
    }

    #tableSummary {
      width: 100%;
    }

    #tableSummary tr:nth-child(even) {
      background: rgb(220, 220, 220);
    }

    #tableSummary tr:nth-child(odd) {
      background: #fff;
    }

  }

}
