<div id="container-project-wizard">

  <div class="header d-flex flex-row justify-content-stretch">
    <div class="breadcrumb flex-grow-1">
      <span class="hyt-icon icon-hyt_projectSolo"></span> <a [routerLink]="['/']">Home</a> >
      <strong>Projects Wizard</strong>
    </div>
  </div>

  <div id="container-wizard" class="row">

    <div id="container-steps" class="col-md-10">

      <ng-template #projectTemplate>
        <hyt-project-form #projectForm (entityEvent)="onEntityEvent($event)"></hyt-project-form>
      </ng-template>

      <ng-template #devicesTemplate>
        <hyt-device-form #devicesForm [currentProject]="currentProject" (entityEvent)="onEntityEvent($event)">
        </hyt-device-form>
      </ng-template>

      <ng-template #packetsTemplate>
        <hyt-device-select #deviceSelect [hDevices]="hDevices" (selectedDevice)="deviceChanged($event)">
        </hyt-device-select>
        <hyt-packet-form #packetsForm [currentDevice]="currentDevice" (entityEvent)="onEntityEvent($event)">
        </hyt-packet-form>
      </ng-template>

      <ng-template #fieldsTemplate>
        <hyt-pw-packet-select #fieldPacketSelect [hDevices]="hDevices" [hPackets]="hPackets"
          (currentPacket)="fieldPacketChanged($event)">-
        </hyt-pw-packet-select>
        <hyt-packet-fields-form #fieldsForm></hyt-packet-fields-form>
      </ng-template>

      <ng-template #enrichmentTemplate>
        <hyt-pw-packet-select #enrichmentPacketSelect [hDevices]="hDevices" [hPackets]="hPackets"
          (currentPacket)="enrichmentPacketChanged($event)"></hyt-pw-packet-select>
        <hyt-packet-enrichment-form #enrichmentForm></hyt-packet-enrichment-form>
      </ng-template>

      <ng-template #statisticsTemplate>
        <hyt-statistics-step></hyt-statistics-step>
      </ng-template>

      <ng-template #eventsTemplate>
        <hyt-pw-packet-select #eventPacketSelect [hDevices]="hDevices" [hPackets]="hPackets"
          (currentPacket)="eventPacketChanged($event)">
        </hyt-pw-packet-select>
        <hyt-packet-events-form #eventsForm></hyt-packet-events-form>
      </ng-template>

      <div class="row">
        <div class="col-md-12">
          <hyt-stepper #stepper (selectionChange)="stepChanged($event)" [isLinear]="true" style="width: 100%"
            [stepArray]="[
              projectTemplate,
              devicesTemplate,
              packetsTemplate,
              fieldsTemplate,
              enrichmentTemplate,
              statisticsTemplate,
              eventsTemplate
            ]"
            [labelArray]="[
              entitiesService.project.displayListName,
              entitiesService.device.displayListName,
              entitiesService.packet.displayListName,
              entitiesService.field.displayListName,
              entitiesService.enrichment.displayListName,
              entitiesService.statistic.displayListName,
              entitiesService.event.displayListName
            ]"
            [completedArray]="[
              currentProject != null,
              hDevices.length != 0,
              hPackets.length != 0,
              packetInformationValidated,
              packetInformationValidated,
              packetInformationValidated,
              packetInformationValidated
            ]">
          </hyt-stepper>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <hyt-button class="toRight" *ngIf="currentForm" (clickFn)="onSaveClick($event)"
            [isDisabled]="!currentForm.isValid() || !currentForm.isDirty() || currentForm.loadingStatus != 0">
            <ng-container *ngIf="currentForm && currentForm.isNew()" i18n="@@HYT_save">HYT_save</ng-container>
            <ng-container *ngIf="currentForm && !currentForm.isNew()" i18n="@@HYT_update">HYT_update</ng-container>
          </hyt-button>
          <hyt-button class="toRight" *ngIf="currentForm && showCancel()" (clickFn)="onCancelClick($event)">
            <ng-container i18n="@@HYT_cancel">HYT_cancel</ng-container>
          </hyt-button>
          <div class="clear"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <hyt-button *ngIf="currentStepIndex != 0" (clickFn)="stepper.previous()">
            <ng-container i18n="@@HYT_back">HYT_back</ng-container>
          </hyt-button>
          <hyt-button class="toRight" [isDisabled]="isNextDisabled()"
            (clickFn)="(currentStepIndex == 3 && !packetInformationValidated || currentStepIndex == 6)? openOptionModal() : stepper.next()">
            <ng-container i18n="@@HYT_next">HYT_next</ng-container>
          </hyt-button>
          <div class="clear"></div>
        </div>
      </div>

    </div>

    <div id="hint-column" class="col-md-2">

      <div *ngIf="currentForm">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b i18n="@@HYT_entity_name_M">HYT_entity_name_M</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{currentForm.longDefinition}}</p>
        </mat-expansion-panel>
      </div>

      <hyt-generic-summary-list *ngIf="currentForm && currentForm.summaryList"
        [ngClass]="{ disabled: currentForm.isDirty() && !currentForm.isNew() }" [summaryList]="currentForm.summaryList"
        (itemClick)="onSummaryItemClick($event)" (menuAction)="menuAction($event)"></hyt-generic-summary-list>

      <div *ngIf="hintVisible" class="info-message m-2 mt-4 d-flex flex-row">
        <span class="text p-2 flex-grow-1">{{hintMessage}}</span>
        <mat-icon class="">info</mat-icon>
        <!--mt-2 mr-2-->
      </div>

    </div>

  </div>

</div>

<hyt-modal [mOpen]="deactivateModal">
  <div class="center">
    <p i18n="@@HYT_pw_deactivation_modal">HYT_pw_deactivation_modal</p>
    <br>
    <br>
    <hyt-button (clickFn)="deactivate(true)">
      <ng-container i18n="@@HYT_OK">HYT_OK</ng-container>
    </hyt-button>
    <hyt-button (clickFn)="deactivate(false)">
      <ng-container i18n="@@HYT_CANCEL">HYT_CANCEL</ng-container>
    </hyt-button>
  </div>
</hyt-modal>

<hyt-wizard-options-modal id="hyt-wizard-options-modal" (modalClose)="optionsModalClosed($event)"></hyt-wizard-options-modal>
<hyt-wizard-report-modal id="hyt-wizard-report-modal" [reportData]="finishData"></hyt-wizard-report-modal>
<!-- <hyt-wizard-deactivation-modal id="hyt-wizard-deactivation-modal" (modalClose)="deactivationModalClosed($event)"></hyt-wizard-deactivation-modal> -->