#container-project-wizard {

  padding: 15px;

  .header {
    border-bottom: 1px solid #008aff;
    min-height: 50px;

    .breadcrumb {
      font-weight: 400;
      font-size: 1.2em;
      line-height: 48px;
      vertical-align: middle;

      span {

        &.icon-hyt_projectSolo {
          font-size: 1.8em;
          vertical-align: middle;
          margin-right: 3px;
          color: #bec3c7;        }

      }

      a {
        color: #000000;
      }

    }

  }

  #container-wizard {
    margin-top: 25px;

    #container-steps {

      mat-step-header {
        .mat-step-label {
          color: #3e3e3e;
          font-family: "Exo";
          font-size: .9em;
          font-weight: 600;
        }
      }

      #container-save-update {
         margin-bottom: 60px;
      }

    }
  }

}

#finishModal {
  margin-top: 40px;

  #tableSummary {
    width: 100%;
  }

  #tableSummary tr:nth-child(even) {
    background: rgb(220, 220, 220);
  }

  #tableSummary tr:nth-child(odd) {
    background: #fff;
  }

  img {
    cursor: pointer;
  }

}

#optionsModal {

  img {
    cursor: pointer;
  }
  
}

.info-message {
  // @include mat-elevation(4);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: whitesmoke;
  font-size: .9em;

  & mat-icon {
      color: #969696;
      font-size: 1.5em;
      margin-top: -5px;
      margin-right: -6px;
  }

  & .text {
      margin: 0; padding: 0;
      padding-left: 4px;
      padding-right: 4px;
      vertical-align: top;
      line-height: 20px;
      color: #0047a0;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

// TODO... temporary
.toLeft{
  float: left;
}
.toRight{
  float: right;
}
.clear{
  clear: both;
}
.center{
  text-align: center;
}
