<div id="image-data-setting">

    <hyt-packet-select [widget]="widget" [areaId]="areaId"
        [showFieldsMapping]="false"
        [multiPacketSelect]="false"
        [selectedFields]="selectedFields"
        (selectedFieldsChange)="onSelectedFieldsChange($event)">
    </hyt-packet-select>

    <div id="container-image-data" class="d-flex flex-column align-items-stretch justify-content-end">

        <h3 id="title-image-data">Set Image Measure</h3>

        <div id="container-fields-measure">

            <hyt-input-template class="mr-4" name="width" type="text" placeholder="Image width"
                [(ngModel)]="imageWidth" #name="ngModel" [isRequired]="true" required pattern="[0-9]*">
            </hyt-input-template>
            <hyt-input-template name="height" type="text" placeholder="Image height"
                [(ngModel)]="imageHeight" #name="ngModel" [isRequired]="true" required pattern="[0-9]*">
            </hyt-input-template>

        </div>
        
    </div>

</div>
