#image-data-setting {
  #container-image-data {
    #title-image-data {
      text-transform: uppercase;
      margin-top: 10px;
      color: #0856b6;
      margin-bottom: 20px;
    }

    #container-fields-measure {
      display: flex;
    }
  }
}
