#area-view {

    .header {
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        border-bottom: 1px solid #1e58a5;
        min-height: 50px;
    
        .breadcrumb {
          font-weight: 400;
          font-size: 1.2em;
          line-height: 48px;
          vertical-align: middle;
    
          span {
      
              &.icon-hyt_projectSolo {
              font-size: 1.8em;
              vertical-align: middle;
              margin-right: 3px;
              color: #bec3c7;      
              }
    
          }
    
          a {
              color: #000000;
          }
    
      }
    }

    #area-title {

        h2 {

            width: 96%;
            margin: 0 auto 0px auto;
            padding: 10px;
            text-align: center;
            color: #3674c3;  
            font-size: 1.8em;
            word-break: break-word;

            span {

                &#specific-area-name {

                    font-style: italic;
                    color: #3c8ed3;
                    font-weight: 400;
                    margin-left: 10px;

                }
            
            }

        }

    }
    
    .toolbar {
        max-width: 96%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-left: 15px;
        padding-bottom: 8px;
        padding-right: 15px;
        border-radius: 0.8em;
        box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
        font-family: "Exo" !important;
    
        .left-tools,
        .right-tools {
            padding: 0;
        }
    
        .left-tools {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    
        .center-tools {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 10px;

            hyt-select {

                max-width: 350px;
                width: 100%;

                mat-form-field {
                    width: 100%;
                }

            }

        }
    
    
        .right-tools {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .button {
    
            text-align: center;
            margin: .3em 1.2em .3em 1.2em;
            cursor: pointer;
            text-transform: uppercase;
        
            span {
                font-size: 2.2em;
                display: block;
            }
        
            p {
                margin-bottom: 0;
                margin-top: -2px;
                font-size: .8em;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        
            &:hover {
                color: #008aff;
            }
        
        }
    
    
    }

    #area-body {

        &.content {
            font-family: 'Exo';
            font-size: 1em;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
        }

        #container-area-map {

            display: flex;
            flex-direction: row;
            width: 100%;
            position: relative;

            #container-treeview-project {

                position: absolute;
                top: 95px;
                left: 40px;
                width: 90%;
                background-color: #ffffff;
                height: max-content;
                z-index: 1;
                max-width: max-content;
                border-radius: 5px;

                -webkit-box-shadow: 0 0 14px -3px black;
                -moz-box-shadow: 0 0 14px -3px black;
                box-shadow: 0 0 14px -3px black;

                &:active {
                    -webkit-box-shadow: 0 0 14px 0px black;
                    -moz-box-shadow: 0 0 14px 0px black;
                    box-shadow: 0 0 14px 0px black;
                }

                &.displayNone {

                    display: none;
                }

                &.displayBlock {

                    display: block;
                }

                #treeViewHeader {

                    height: 25px;
                    background-color: #1e58a5;
                    cursor: move;

                    -webkit-border-radius: 5px 5px 0 0;
                    -moz-border-radius: 5px 5px 0 0;
                    border-radius: 5px 5px 0 0;

                }

                #treeViewBody {

                    padding: 10px 25px 25px 25px;
                    border-width: 0px 1px 1px 1px;
                    border-color: #003679;
                    border-style: dotted;

                    .treeview {
                        min-width: 300px;
                        width: max-content;
                        max-width: 100%;
                        padding-left: 10px;
                        padding-right: 10px;

                    }

                }

            }

            #container-map {

                display: flex;
                flex-direction: column;
                flex-grow: 1;
                margin: 24px;

                #map-header {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex: 0 0 100%;
                    margin-bottom: 10px;
                    flex-wrap: wrap;

                    #head-left, 
                    #head-center, 
                    #head-right {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        flex: 0 0 33.33%;
                    }

                    #head-left {

                        justify-content: flex-start;

                    } 

                    #head-center {

                        justify-content: center;

                    } 

                    #head-right {

                        justify-content: flex-end;

                    } 

                    hyt-button {

                        button {

                            font-size: .9em;

                            span {
                                &.mat-button-wrapper {

                                    span {

                                        vertical-align: sub;
                                        font-size: 1.45em;
                                        
                                    }

                                }
                            }

                        }

                    }

                }

            }

        }

    }

    .loading-status {
        position: fixed;
        top: 82px; 
        left: 0; 
        right: 0; 
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.75);
        margin: 0px 15px;
    
        .loading-animation {
            width: 100%;
            max-width: 250px;
            margin-bottom: 40px;
        }

        h2 {
            text-align: center;
        }
    
        mat-progress-bar {
          width: 100%;
          max-width: 300px;
        }
    }

}

.cdk-overlay-container {
    
    z-index: 1003 !important;

}

.mat-tooltip-handset, .mat-tooltip { /* handle tooltips text */

    font-size: 16px;
    text-align: center;
    line-height: 20px;

}

/*********************************
*                                *
*          RESPONSIVE            *
*                                *
*********************************/

@media (max-width: 991px) {

    #area-view {

        #area-title {

            h2 {
    
                font-size: 1.6em;
    
            }
    
        }

        #area-body {
            #container-area-map {
                #container-map {
                    #map-header {
                        
                        #head-left {

                            order: 2;
                            flex: 0 0 50%;

                        }

                        #head-center {

                            order: 1;
                            flex: 0 0 100%;
                            margin-bottom: 10px;

                        }

                        #head-right {

                            order: 3;
                            flex: 0 0 50%;

                        }

                    }
                }
            }
        }

        .toolbar {
            .button {
                span {
                    font-size: 2em;
                }

                p {
                    font-size: .7em;
                }
            }
        }

    }

}

@media (max-width: 767px) {
    
    #area-view {

        .header {

            .breadcrumb {
      
              font-size: 1.1em;
      
            }
      
            .align-self-right {
      
              button {
      
                font-size: .9em;
      
                span {
      
                  &.mat-button-wrapper {
      
                    display: flex;
                    align-items: center;
                    justify-content: center;
      
                    span {
      
                      &.hyt-icon {
      
                        font-size: 1.4em;
                        margin-top: -2px;
      
                      }
      
                    }
      
                  }
      
                }
      
              }
      
            }
      
        }

        #area-title{

            h2{

                font-size: 1.5em;
            
            }    
        
        } 

        #area-body {
            #container-area-map {

                #container-treeview-project {

                    #treeViewBody {

                        .treeview {

                            font-size: .8em;
                            min-width: 200px;
                            width: 100%;
                            max-width: 450px;
                            
                            .mat-tree {
                                
                                .mat-tree-node {

                                    font-size: .9em;

                                    span {
                                        &.node-name {
                                            .btn-tooltip {
                                                span {
                                                    font-size: .95em;
                                                }
                                            }
                                        }
                                    }

                                }

                            }

                        }

                    }

                }


                #container-map {
                    #map-header {
                        hyt-button {

                            button {

                                font-size: .75em;

                            }

                        }
                    }
                }
            }
        }

        .toolbar {

            .left-tools {

                width: 50%;
                max-width: 50%;
                order: 2;
                flex: 0 0 50%;

            }

            .center-tools {

                width: 100%;
                max-width: 100%;
                order: 1;
                flex: 0 0 100%; 

                hyt-select {
                    max-width: 300px;

                }

            }

            .right-tools {
                
                width: 50%;
                max-width: 50%;
                order: 3;
                flex: 0 0 50%;

            }

        }

    }

    .mat-tooltip-handset, .mat-tooltip { /* handle tooltips text */

        font-size: 14px;
    
    }

}


@media (max-width: 500px) {


    #area-view {

        .header {

            flex-direction: column !important;
            border-bottom: none;
      
            .breadcrumb {
      
                font-size: 1em;
                display: flex;
                flex: 0 0 100%;
                order: 1;
                width: 100%;
                max-width: 100%;
                align-items: center;
                border-bottom: 1px solid #1e58a5;
                margin-bottom: 10px;
                flex-wrap: wrap;
                line-height: 30px;
        
              a {
                margin-right: 5px;
              }
      
              strong {
                margin-left: 5px;
              }
      
            }
      
        }

        #area-title{

            h2{

                font-size: 1.4em;
                line-height: 28px;
                font-size: 1.4em;
                line-height: 28px;
            
            }    
        
        } 

        #area-body {
            #container-area-map {

                #container-treeview-project {

                    width: 100%;
                    max-width: 100%;
                    top: 0px;
                    left: 0px;
                    right: 0px;

                    #treeViewHeader {

                        cursor: n-resize;

                    }

                    #treeViewBody {
                        
                        .treeview {
                            width: 100%;
                            max-width: 100%;

                            .mat-tree {
                                .mat-tree-node {
                                    span {
                                        &.node-name {
                                            .btn-tooltip {
                                                span {

                                                    font-size: 1.1em;

                                                }
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }

                }
                
                #container-map {
                    #map-header {

                        #head-left {

                            order: 3;
                            flex: 0 0 100%;
                            justify-content: center;
                            margin-bottom: 10px;

                        }

                        #head-right {

                            order: 2;
                            flex: 0 0 100%;
                            justify-content: center;
                            margin-bottom: 10px;

                        }

                        hyt-button {

                            button {

                                font-size: 0.8em;
                                padding: 0px 16px;

                            }

                        }

                    }
                }
            }
        }

        .toolbar {
            .center-tools {
                hyt-select {
                    mat-form-field {
                        mat-select {
                            font-size: .9em;
                        }
                    }
                }
            }
        }

        .loading-status {

            .loading-animation {

                max-width: 200px;
                margin-bottom: 30px;

            }

            h2 {

                font-size: 1.2em;

            }

            mat-progress-bar {

                max-width: 250px;

            }

        }

    }
}


@media (max-width: 395px) {

    .cdk-overlay-pane {
        min-width: 280px !important;
        left: 50% !important;
        transform: translateX(-140px) !important;

        .mat-select-panel-wrap {

            .mat-select-panel {
                min-width: 280px !important;
                max-width: 280px;
                font-size: .95em !important;
            }

        }
    
    }

}

@media (max-width: 300px) {

    .cdk-overlay-pane {
        min-width: 250px !important;
        transform: translateX(-125px) !important;

        .mat-select-panel-wrap {

            .mat-select-panel {
                min-width: 250px !important;
                max-width: 250px;
                font-size: .9em !important;
            }

        }
    
    }

}


