<div class="header">

    <div class="breadcrumb">
        <span class="hyt-icon icon-hyt_projectSolo"></span> <a [routerLink]="['/']">Home</a> >
        <strong>Areas</strong>
    </div>

</div>

<div class="toolbar d-flex flex-row justify-content-center">
    <h3 *ngIf="areaId && areaPath && areaPath.length > 0" style="float:left; margin-top: 18px; color: blue">
        {{ areaPath[0].name }}
    </h3>

    <div class="flex-grow-1 d-flex flex-row justify-content-center">
        <hyt-select *ngIf="pageStatus === PageStatus.Ready" label="Select a project" name="project"
            [options]="userProjectsOptions" [selected]="selectedProjectOption"
            (changeFn)="onSelectedProjectChange($event)" [disabled]="false"></hyt-select>
        <div *ngIf="areaId" class="icon-button" [routerLink]="['/areas', projectId]">
            <span class="hyt-icon hyt-icon icon-hyt_areaB16"></span>
            <p>Areas List</p>
        </div>
    </div>

    <div *ngIf="areaId" class="icon-button" [routerLink]="['/areas', projectId, areaId, 'dashboards']">
        <span class="hyt-icon hyt-icon icon-hyt_dash"></span>
        <p>Dashboard</p>
    </div>

</div>

<div class="content d-flex flex-row justify-content-center">

    <hyt-areas-list *ngIf="projectId && !areaId"
        [areaList]="areaList"
        (itemSelected)="onMainAreaClick($event)">
    </hyt-areas-list>

    <div *ngIf="areaId" class="d-flex flex-row" style="width: 100%;">
        <hyt-tree-view-project #treeView class="treeview" (nodeClick)="onTreeNodeClick($event)"></hyt-tree-view-project>
        <div class="flex-grow-1 d-flex flex-column m-4">
            <div class="d-flex flex-row justify-content-between">
                <h3>{{ areaName }}</h3>
                <div>Sub-areas: {{areaList.length}} Devices: {{areaDevices.length}}</div>
                <hyt-button (clickFn)="onEditButtonClick()">Edit</hyt-button><!-- @I18N@ -->
            </div>
            <div>
                <hyt-area-map #map></hyt-area-map>
            </div>
        </div>
    </div>

</div>

<!-- Loading Status -->
<div *ngIf="pageStatus === PageStatus.Loading"
    class="loading-status mt-5 d-flex flex-column row align-items-center justify-content-center">

    <img class="loading-animation" src="assets/images/hyperiot_logo_single_char_animated.svg"
        alt="Hyperiot Animated Logo"> <!-- @I18N@ -->
    <h2 i18n="@@HYT_page_is_loading">Page is loading...</h2>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<!-- Loading Error -->
<div *ngIf="pageStatus === PageStatus.Error"
    class="loading-status mt-5 d-flex flex-column row align-items-center justify-content-center">
    <h2 i18n="@@HYT_error_occurred_long">An error has occurred, contact the administrator!</h2>
</div>
