.dialog-header {
  background-color: #2258a5;
  padding: 8px 10px;
  color: #fff;
  text-align: center;
  font-size: 1.3em;
  position: relative;

  span {

    &.icon-hyt_cancelC {
      position: absolute;
      top: 50%;
      right: 10px;
      font-size: 1.3em;
      transform: translateY(-50%);
      cursor: pointer;
      color: #fff;

      &:hover {
        color: #002456;
      }

    }

  }

}

.dialog-body {

  background-color: #fff;
  padding: 30px;

}
