<div id="add-category-modal" class="dialog-container" style="width: 400px;">
    <div class="dialog-header">
        <span>Category</span>
        <span class="hyt-icon icon-hyt_cancelC" (click)="close()"></span>
    </div>

    <div class="dialog-body">

        <form [formGroup]="categoryForm" (ngSubmit)="submitCategory()">
            <hyt-input-text [form]="categoryForm" formControlName="name" name="name" placeholder="Category name"
                [isRequired]="true" [injectedErrorMsg]="nameError" [fieldValue]="nameValue">
            </hyt-input-text>
            <!--@I18N-->
            <ng-container *ngIf="pageStatus == -2">{{nameError}}</ng-container>
            <hyt-button type="submit" color="primary" [isDisabled]="notValid() || pageStatus == 0">
                {{(data.mode=='add')?'Add':'Update'}}
            </hyt-button>
            <!--@I18N-->
            <ng-container *ngIf="pageStatus == 0">Loading</ng-container>
            <!--TODO replace with spinner-->
        </form>

    </div>
</div>