#container-option-modal {

  .dialog-header {
    background-color: #e60000;
    position: relative;
    text-transform: uppercase;

    span {

      &.icon-hyt_cancelC {

        position: absolute;
        right: 10px;
        font-size: 1.3em;
        cursor: pointer;

        &:hover {

          color: #500000;

        }

      }

    }

  }

  .dialog-body {
    padding: 30px;
  }

}
